table {
    tr {
        white-space: nowrap;
        &.pointer {
            cursor: pointer;
        }
        th {
            text-align: center;
        }
    }
}

.table {
    &-responsive {
        overflow-y: hidden;
        text-align: center;
    }
}

.table-fixeded {
    thead {
        display: inline-block;
    }
    tbody {
        display: inline-block;
        max-height: 50vh;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    td,
    th {
        width: 250px;
    }
    width: 1100px !important;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.txt-title {
    text-align: center;
    font-weight: bold;
}

.msgInfo {
    vertical-align: middle;
    font-size: medium;
    text-align: justify;
}

.bg-table {
    background: #007bff;
    color: lighten($color: #ffffff, $amount: 0);
}

.table {
    &-white {
        background-color: $white;
    }
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: $blue-cyan;
}

.white-space {
    &-inherit {
        white-space: inherit;
    }
}

.thead {
    &-width {
        tr th {
            min-width: 250px;
        }
    }
}