<section>
  <div class="row my-2" *ngIf="urlFile">
    <div class="col">
      <button type="button" class="btn btn-danger" (click)="urlFile = null">
        {{ "buttonText.before" | translate }}
      </button>
    </div>
  </div>
  <div class="row" *ngIf="urlFile">
    <div class="col">
      <iframe
        [src]="urlFile"
        scrolling="yes"
        frameborder="0"
        type="application/pdf"
      >
      </iframe>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center my-3" *ngIf="!urlFile">
      <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
        <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="reports">
          <div class="card bg-white rounded shadow">
            <div class="card-body">
              <div class="row">
                <div class="col col-md col-lg mb-5 mx-auto text-center">
                  <h4 class="text-uppercase">
                    {{ "tableTitle.generateSupport" | translate }}
                  </h4>
                </div>
              </div>
              <div class="col mx-auto">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="from">
                        {{ "formBuilder.period" | translate }}
                        <span class="text-danger">(*)</span>
                      </label>
                      <div class="row">
                        <div class="col-12 col-sm-12 col-md col-lg">
                          <div class="form-group">
                            <input
                              type="date"
                              class="form-control"
                              id="from"
                              maxlength="30"
                              aria-describedby="from"
                              placeholder=""
                              formControlName="from"
                              [ngClass]="displayFieldCss('from')"
                            />
                            <cml-validations
                              *ngIf="isFieldValid('from')"
                              [errorMsg]="validations('formBuilder.from')"
                            >
                            </cml-validations>
                          </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md col-lg">
                          <div class="form-group">
                            <input
                              type="date"
                              class="form-control p-2"
                              id="to"
                              maxlength="30"
                              aria-describedby="to"
                              placeholder=""
                              formControlName="to"
                              [ngClass]="displayFieldCss('to')"
                            />
                            <cml-validations
                              *ngIf="isFieldValid('to')"
                              [errorMsg]="validations('formBuilder.until')"
                            >
                            </cml-validations>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col mx-auto">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="type">
                        {{ "formBuilder.type" | translate }}
                        <span class="text-danger">(*)</span></label
                      >
                      <select
                        class="form-control"
                        id="type"
                        aria-describedby="type"
                        formControlName="type"
                        [ngClass]="displayFieldCss('type')"
                        (change)="selecCategory()"
                      >
                        <option [ngValue]="null">
                          {{ "inputs.optionSelect" | translate }}
                        </option>
                        <option [ngValue]="1">
                          {{ "select.for-agency" | translate }}
                        </option>
                        <option [ngValue]="2">
                          {{ "select.for-country" | translate }}
                        </option>
                        <option [ngValue]="3">
                          {{ "select.global" | translate }}
                        </option>
                      </select>
                      <cml-validations
                        *ngIf="isFieldValid('type')"
                        [errorMsg]="validations('formBuilder.type')"
                      >
                      </cml-validations>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md col-lg" *ngIf="isVisible">
                    <div class="form-group">
                      <label for="category">
                        {{ label }} <span class="text-danger">(*)</span>
                      </label>
                      <select
                        class="form-control"
                        id=""
                        aria-describedby="category"
                        formControlName="category"
                        [ngClass]="displayFieldCss('category')"
                      >
                        <option [value]="null">
                          {{ "inputs.optionSelect" | translate }}
                        </option>
                        <option
                          [ngValue]="category.id"
                          *ngFor="let category of categories"
                        >
                          {{ category.name }}
                        </option>
                      </select>
                      <cml-validations
                        *ngIf="isFieldValid('category')"
                        [errorMsg]="validations('formBuilder.category', label)"
                      >
                      </cml-validations>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col mx-auto">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="total">
                        {{ "formBuilder.total-pay" | translate }}
                        <span class="text-danger">(*)</span>
                      </label>
                      <select
                        class="form-control"
                        id="total"
                        aria-describedby="total"
                        formControlName="total"
                        [ngClass]="displayFieldCss('total')"
                      >
                        <option [value]="null">
                          {{ "inputs.optionSelect" | translate }}
                        </option>
                        <option
                          [ngValue]="total.id"
                          *ngFor="let total of totals"
                        >
                          {{ total.name }}
                        </option>
                      </select>
                      <cml-validations
                        *ngIf="isFieldValid('total')"
                        [errorMsg]="validations('formBuilder.total-pay')"
                      >
                      </cml-validations>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col mx-auto">
                <div class="text-center mx-auto">
                  <div
                    class="spinner-border text-primary"
                    role="status"
                    *ngIf="submitted"
                  >
                    <span class="sr-only">Loading...</span>
                  </div>
                  <button
                    type="submit"
                    class="btn btn-primary btn-block"
                    *ngIf="!submitted"
                  >
                    {{ "formBuilder.generate" | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
