<section>
  <div class="row">
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <label for="filterReceiver">
          {{ "formBuilder.filter" | translate }}
        </label>
        <input
          type="text"
          class="form-control"
          id="filterReceiver"
          maxlength="20"
          [(ngModel)]="filter"
          (keydown.enter)="searchByFillable()"
          placeholder=""
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="receiverFilterById"
            [(ngModel)]="filterBy"
            id="receiverFilterById"
            [value]="1"
          />
          <label class="form-check-label" for="receiverFilterById">
            {{ "formBuilder.filterById" | translate }}
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="receiverFilterByCellphone"
            [(ngModel)]="filterBy"
            id="receiverFilterByCellphone"
            [value]="2"
          />
          <label class="form-check-label" for="receiverFilterByCellphone">
            {{ "formBuilder.cellphone" | translate }}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <button
          type="button"
          class="btn btn-primary mr-2 mb-1 text-uppercase btn-sm"
          (click)="searchByFillable()"
          [disabled]="!filter"
        >
          <cml-loading-button [loading]="submitted"></cml-loading-button>
          <div *ngIf="!submitted">
            <span class="mx-1">
              <i class="fa fa-filter"></i>
            </span>
            {{ "tableAction.search" | translate }}
          </div>
        </button>
      </div>
    </div>
  </div>
</section>
