<div class="row">
  <div class="col-12 col-sm-12 col-md col-lg">
    <div class="table-responsive">
      <table class="table shadow-sm table-bordered table-striped">
        <thead>
          <tr>
            <th class="bg-table" scope="col">
              {{ "tableRender.shipping" | translate }}
            </th>
            <th class="bg-table" scope="col">
              {{ "tableRender.price" | translate }}
            </th>
            <th class="bg-table" scope="col">
              {{ "tableRender.others" | translate }}
            </th>
            <th class="bg-table" scope="col">
              {{ "tableRender.total" | translate }}
            </th>
            <th class="bg-table" scope="col">
              {{ "tableRender.tag" | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let charge of quote.charge; let key = index">
            <td class="align-center">
              {{ getDescriptionsService(charge.package) }}
            </td>
            <td class="text-right">
              {{ charge.price | currency: "USD" }}
            </td>
            <td class="text-right">
              {{ getTotalCharges(charge) | currency: "USD" }}
            </td>
            <td class="text-right">
              {{ charge.cost | currency: "USD" }}
            </td>
            <td class="text-center">
              <select
                class="custom-select"
                [(ngModel)]="printing[key][charge.id]"
                id="tagQuote"
                (change)="printOutFile(key, charge)"
              >
                <option [value]="null" selected>
                  {{ "inputs.optionSelect" | translate }}
                </option>
                <option [value]="1" *ngIf="!!quote.signaturepad">
                  {{ "select.tag" | translate }}
                </option>
                <option
                  [value]="3"
                  *ngIf="user.tier !== 11 && !!quote.signaturepad"
                >
                  {{ "select.transit" | translate }}
                </option>
                <option
                  [value]="2"
                  *ngIf="user.tier !== 11 && !!quote.signaturepad"
                >
                  {{ "select.boarding" | translate }}
                </option>
                <option
                  [value]="4"
                  *ngIf="charge.url_file && toggleButtonByTierId(6)"
                >
                  {{ "formBuilder.fileTypeCommercial" | translate }}
                </option>
              </select>
            </td>
          </tr>
          <tr *ngIf="submitted">
            <th colspan="5">
              <section class="d-flex justify-content-center align-items-center">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </section>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
