<section>
  <ng-template #ngbNotificationCreate let-ngmodal>
    <cml-modal
      title="{{
        (isEditing
          ? 'ngbModal.updateNotification'
          : 'ngbModal.createNotification'
        ) | translate
      }}"
      [size]="true"
      (onClose)="onCloseNgbModal()"
    >
      <form
        autocomplete="off"
        (ngSubmit)="onSubmit()"
        [formGroup]="notification"
      >
        <div class="row" *ngIf="!!errors">
          <div class="col-12 col-sm-12 col-md col-lg">
            <cml-errors [errors]="errors"></cml-errors>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <label for="content">
                {{ "formBuilder.content" | translate }}
                <span class="text-danger">(*)</span>
              </label>
              <angular-editor
                id="content"
                formControlName="content"
                [config]="editorConfig"
              ></angular-editor>
              <cml-validations
                *ngIf="isFieldValid('content')"
                [errorMsg]="validations('formBuilder.content')"
              >
              </cml-validations>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <label for="content_en">
                {{ "formBuilder.translation" | translate }}
                <span class="text-danger">(*)</span>
              </label>
              <angular-editor
                id="content_en"
                formControlName="content_en"
                [config]="editorConfig"
              ></angular-editor>
              <cml-validations
                *ngIf="isFieldValid('content_en')"
                [errorMsg]="validations('formBuilder.translation')"
              >
              </cml-validations>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-md col-lg" *ngIf="!submitted">
            <button type="submit" class="btn btn-primary btn-block">
              {{ "buttonText.sendForm" | translate }}
            </button>
          </div>
          <div class="col col-md col-lg text-center" *ngIf="submitted">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </form>
    </cml-modal>
  </ng-template>
  <div class="row justify-content-center">
    <div class="col col-md col-lg">
      <div class="container bg-white rounded shadow">
        <div class="table-responsive">
          <table class="table table-fixeded table-striped mx-auto">
            <thead>
              <tr>
                <th colspan="6" class="border-top-0">
                  <span class="text-uppercase">
                    {{ "tableTitle.notification" | translate }}
                  </span>
                  <span
                    class="float-left float-sm-left float-md-right float-lg-right float-xl-right"
                  >
                    <button
                      type="button"
                      class="btn btn-primary text-uppercase btn-sm"
                      *ngIf="toggleButtonByTierId(2)"
                      (click)="shouldToggleCreate(ngbNotificationCreate)"
                    >
                      {{ "buttonText.generate" | translate }}
                    </button>
                  </span>
                </th>
              </tr>
              <tr>
                <th class="bg-table" scope="col">
                  {{ "tableRender.receiver" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "formBuilder.content" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.creator" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.date" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.actions" | translate }}
                </th>
              </tr>
              <tr *ngIf="isLoading">
                <th colspan="6">
                  <cml-loading
                    [loading]="isLoading"
                    color="text-primary"
                  ></cml-loading>
                </th>
              </tr>
              <tr
                *ngIf="
                  !isLoading && (!notifications || notifications?.length === 0)
                "
              >
                <th colspan="5">
                  {{ "tableLength.users" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="pointer"
                *ngFor="let notification of notifications; let key = index"
              >
                <th scope="row">
                  {{
                    notification.tier === 11
                      ? ("cardText.lockers" | translate)
                      : notification.tier
                  }}
                </th>
                <td scope="row">
                  <span
                    class="d-inline-block text-truncate"
                    style="width: 150px"
                    data-toggle="tooltip"
                    [title]="notification.translation"
                  >
                    <p [innerHTML]="notification.translation"></p>
                  </span>
                </td>

                <th scope="row">
                  <span
                    class="d-inline-block text-truncate"
                    style="width: 120px"
                    data-toggle="tooltip"
                    [title]="notification.user.person.name"
                    >{{ notification.user.person.name }}</span
                  >
                </th>
                <td scope="row">
                  {{ notification.es_date }}
                </td>
                <td scope="row">
                  <button
                    type="button"
                    (click)="
                      shouldToggleUpdate(ngbNotificationCreate, notification.id)
                    "
                    class="btn btn-primary mx-1 btn-sm"
                    *ngIf="toggleButtonByTierId(3)"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
