<ng-template #ngbPay let-ngmodal>
  <cml-modal
    title="{{ 'cardContent.productivityPay' | translate }}"
    [size]="true"
    (onClose)="onCloseNgbModal($event)"
  >
    <cml-pay
      [productivity]="user"
      (onClose)="onCloseNgbModal($event)"
    ></cml-pay>
  </cml-modal>
</ng-template>

<section *ngIf="!!urlFile">
  <div class="container">
    <div class="row my-2">
      <div class="col">
        <button
          type="button"
          class="btn btn-danger text-uppercase btn-sm"
          (click)="urlFile = null"
        >
          <span class="mx-1">
            <i class="fa fa-arrow-left"></i>
          </span>
          {{ "buttonText.before" | translate }}
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <iframe
          [src]="urlFile"
          scrolling="yes"
          frameborder="0"
          type="application/pdf"
        >
        </iframe>
      </div>
    </div>
  </div>
</section>

<section *ngIf="!urlFile">
  <div class="row justify-content-center">
    <div class="col col-md col-lg">
      <div class="container bg-white rounded shadow px-0">
        <div class="table-responsive">
          <table class="table table-fixeded table-striped mx-auto my-2">
            <thead>
              <tr>
                <th colspan="5" class="border-top-0">
                  <span class="text-uppercase">
                    {{ "tableTitle.productivity" | translate }}
                  </span>
                </th>
              </tr>
              <tr>
                <th scope="col">
                  <div class="row">
                    <div class="col">
                      <label for="typeUser">
                        {{ "formBuilder.typeUser" | translate }}
                        <span class="text-danger">(*)</span>
                      </label>
                      <div class="form-group">
                        <select
                          class="form-control"
                          id="typeUser"
                          [(ngModel)]="typeUser"
                          aria-describedby="typeUser"
                          (change)="filterTypeUserData()"
                        >
                          <option [ngValue]="0">
                            {{ "select.all" | translate }}
                          </option>
                          <option [ngValue]="1">
                            {{ "select.supervisor" | translate }}
                          </option>
                          <option [ngValue]="2">
                            {{ "select.seller" | translate }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </th>
                <th colspan="4" scope="col" class="text-left"></th>
              </tr>
              <tr>
                <th class="bg-table" scope="col" style="width: 250px">
                  {{ "tableRender.user" | translate }}
                </th>
                <th class="bg-table" scope="col" style="width: 250px">
                  {{ "tableRender.typeUser" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.entry" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.shipping" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.actions" | translate }}
                </th>
              </tr>
              <tr *ngIf="isLoading">
                <th colspan="7">
                  <cml-loading
                    [loading]="isLoading"
                    color="text-primary"
                  ></cml-loading>
                </th>
              </tr>
              <tr *ngIf="!isLoading && (!data || data?.length === 0)">
                <th colspan="7">
                  {{ "tableLength.lockers" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of data; let key = index">
                <td scope="row" style="width: 250px">
                  <span
                    class="d-inline-block text-truncate"
                    style="width: 150px"
                    data-toggle="tooltip"
                    [title]="user.user.person.name"
                  >
                    {{ user.user.person.name }}</span
                  >
                </td>
                <td scope="row" style="width: 250px">
                  {{ user.tier }}
                </td>
                <td scope="row">
                  {{ user.payment_income | currency: "USD" }}
                </td>
                <td scope="row">
                  {{ user.payment_shipping | currency: "USD" }}
                </td>
                <td scope="row" class="text-center">
                  <button
                    type="button"
                    class="btn btn-primary mb-1 mr-2 btn-sm"
                    (click)="getProductivityPay(ngbPay, user.user_id)"
                    *ngIf="toggleButtonByTierId(8)"
                  >
                    <i class="fa fa-money-bill"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
