<section>
    <ng-template #ngbCountry let-ngmodal>
        <cml-modal title="{{
        (isEditing ? 'ngbModal.updateCountry' : 'ngbModal.createCountry')
          | translate
      }}" [size]="true" (onClose)="onCloseNgbModal()">
            <form (ngSubmit)="onSubmit()" [formGroup]="country">
                <div class="row" *ngIf="!!errors">
                    <div class="col-12 col-sm-12 col-md col-lg">
                        <cml-errors [errors]="errors"></cml-errors>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md col-lg">
                        <div class="form-group">
                            <label for="name">
                {{ "formBuilder.name" | translate }}
                <span class="text-danger">(*)</span>
              </label>
                            <input type="text" class="form-control" [ngClass]="displayFieldCss('name')" id="name" maxlength="90" formControlName="name" aria-describedby="name" placeholder="" />
                            <cml-validations *ngIf="isFieldValid('name')" [errorMsg]="validations('formBuilder.name')">
                            </cml-validations>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md col-lg">
                        <div class="form-group">
                            <label for="name_en">
                {{ "formBuilder.name_en" | translate }}
                <span class="text-danger">(*)</span>
              </label>
                            <input type="text" class="form-control" [ngClass]="displayFieldCss('name_en')" id="name_en" maxlength="90" formControlName="name_en" aria-describedby="name_en" placeholder="" />
                            <cml-validations *ngIf="isFieldValid('name_en')" [errorMsg]="validations('formBuilder.name_en')">
                            </cml-validations>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md col-lg">
                        <div class="form-group">
                            <label for="user_settings">
                {{ "formBuilder.userPrice" | translate }}
                <span class="text-danger">(*)</span>
              </label>
                            <select class="form-control" [ngClass]="displayFieldCss('user_settings')" id="user_settings" formControlName="user_settings" aria-describedby="user_settings">
                <option [ngValue]="null">
                  {{ "inputs.optionSelect" | translate }}
                </option>
                <option [ngValue]="3">
                  {{ "select.corporate" | translate }}
                </option>
                <option [ngValue]="2">
                  {{ "select.agency" | translate }}
                </option>
                <option [ngValue]="1">
                  {{ "select.public" | translate }}
                </option>
              </select>
                            <cml-validations *ngIf="isFieldValid('user_settings')" [errorMsg]="validations('formBuilder.price')">
                            </cml-validations>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md col-lg">
                        <div class="form-group">
                            <label for="alpha2Code">{{ "formBuilder.alpha2Code" | translate }}
                <span class="text-danger">(*)</span></label
              >
              <select
                class="form-control"
                [ngClass]="displayFieldCss('alpha2Code')"
                id="alpha2Code"
                formControlName="alpha2Code"
                aria-describedby="alpha2Code"
              >
                <option [ngValue]="null">
                  {{ "inputs.optionSelect" | translate }}
                </option>
                <option
                  [ngValue]="country.alpha2Code"
                  *ngFor="let country of restCountry"
                >
                  {{ country.alpha2Code }}
                </option>
              </select>
              <cml-validations
                *ngIf="isFieldValid('alpha2Code')"
                [errorMsg]="validations('formBuilder.alpha2Code')"
              >
              </cml-validations>
            </div>
          </div>
        </div>
        <div class="bg-light rounded p-2">
          <h6 class="text-uppercase text-center text-secondary">
            {{ "formBuilder.membership" | translate }}
          </h6>
          <div class="row">
            <div class="col-12 col-sm-12 col-md col-lg">
              <div class="form-group">
                <label for="membership_agency">
                  {{ "checkbox.premium" | translate }}
                  <span class="text-danger">(*)</span>
                </label>
                            <input type="text" class="form-control" [ngClass]="displayFieldCss('membership_agency')" id="membership_agency" maxlength="90" formControlName="membership_agency" aria-describedby="membership_agency" placeholder="" />
                            <cml-validations *ngIf="isFieldValid('membership_agency')" [errorMsg]="validations('checkbox.premium')">
                            </cml-validations>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md col-lg">
                        <div class="form-group">
                            <label for="membership_corporate">
                  {{ "checkbox.corporate" | translate }}
                  <span class="text-danger">(*)</span>
                </label>
                            <input type="text" class="form-control" [ngClass]="displayFieldCss('membership_corporate')" id="membership_corporate" maxlength="90" formControlName="membership_corporate" aria-describedby="membership_corporate" placeholder="" />
                            <cml-validations *ngIf="isFieldValid('membership_corporate')" [errorMsg]="validations('checkbox.corporate')">
                            </cml-validations>
                        </div>
                    </div>
                </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-12 col-md col-lg">
                        <div class="form-group">
                            <label for="type_taxation">
                {{ "formBuilder.taxation" | translate }}
                <span class="text-danger">(*)</span>
              </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <select class="form-control" [ngClass]="displayFieldCss('type_taxation')" id="type_taxation" formControlName="type_taxation" aria-describedby="type_taxation">
                    <option [ngValue]="null">
                      {{ "inputs.optionSelect" | translate }}
                    </option>
                    <option [ngValue]="0">%</option>
                    <option [ngValue]="1">$</option>
                  </select>
                                </div>
                                <input type="number" inputmode="decimal" class="form-control" [ngClass]="displayFieldCss('taxation')" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" id="taxation" formControlName="taxation" aria-describedby="taxation" placeholder="" />
                            </div>
                            <cml-validations *ngIf="isFieldValid('type_taxation')" [errorMsg]="validations('formBuilder.taxation')">
                            </cml-validations>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md col-lg">
                        <div class="form-group">
                            <label for="type_extra">
                {{ "formBuilder.extra" | translate }}
                <span class="text-danger">(*)</span>
              </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <select class="form-control" [ngClass]="displayFieldCss('type_extra')" id="type_extra" formControlName="type_extra" aria-describedby="type_extra">
                    <option [ngValue]="null">
                      {{ "inputs.optionSelect" | translate }}
                    </option>
                    <option [ngValue]="0">%</option>
                    <option [ngValue]="1">$</option>
                  </select>
                                </div>
                                <input type="number" inputmode="decimal" class="form-control" [ngClass]="displayFieldCss('extra')" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" id="extra" formControlName="extra" aria-describedby="extra" placeholder="" />
                            </div>
                            <cml-validations *ngIf="isFieldValid('type_extra')" [errorMsg]="validations('formBuilder.extra')">
                            </cml-validations>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md col-lg">
                        <div class="form-group">
                            <label for="type_content">
                {{ "formBuilder.typeContent" | translate }}
                <span class="text-danger">(*)</span>
              </label>
                            <select class="form-control" [ngClass]="displayFieldCss('type_content')" id="type_content" formControlName="type_content" aria-describedby="type_content" (change)="chooseContent()">
                <option [ngValue]="null">
                  {{ "inputs.optionSelect" | translate }}
                </option>
                <option [ngValue]="1">
                  {{ "select.regular" | translate }}
                </option>
                <option [ngValue]="2">
                  {{ "select.electronic" | translate }}
                </option>
                <option [ngValue]="3">
                  {{ "select.mixed" | translate }}
                </option>
                <option [ngValue]="4">
                  {{ "select.commercial" | translate }}
                </option>
              </select>
                            <cml-validations *ngIf="isFieldValid('type_content')" [errorMsg]="validations('formBuilder.typeContent')">
                            </cml-validations>
                        </div>
                    </div>
                </div>
                <div *ngIf="chooseTypeContent()">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md col-lg">
                            <div class="form-group">
                                <label for="impost">
                  {{ "formBuilder.impost" | translate }}
                  <span class="text-danger">(*)</span>
                </label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <select class="input-group-text" [ngClass]="displayFieldCss('type_impost')" id="type_impost" formControlName="type_impost" aria-describedby="type_impost">
                      <option [ngValue]="null">
                        {{ "inputs.optionSelect" | translate }}
                      </option>
                      <option [ngValue]="0">%</option>
                      <option [ngValue]="1">$</option>
                    </select>
                                    </div>
                                    <input type="number" inputmode="decimal" class="form-control" [ngClass]="displayFieldCss('impost')" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" id="impost" formControlName="impost" aria-describedby="impost" placeholder="" />
                                </div>
                                <cml-validations *ngIf="isFieldValid('impost')" [errorMsg]="validations('formBuilder.impost')">
                                </cml-validations>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md col-lg">
                            <div class="form-group">
                                <label for="insurance">
                  {{ "formBuilder.insurance" | translate }}
                  <span class="text-danger">(*)</span>
                </label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <select class="input-group-text" [ngClass]="displayFieldCss('type_insurance')" id="type_insurance" formControlName="type_insurance" aria-describedby="type_insurance">
                      <option [ngValue]="null">
                        {{ "inputs.optionSelect" | translate }}
                      </option>
                      <option [ngValue]="0">%</option>
                      <option [ngValue]="1">$</option>
                    </select>
                                    </div>
                                    <input type="number" inputmode="decimal" class="form-control" [ngClass]="displayFieldCss('insurance')" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" id="insurance" formControlName="insurance" aria-describedby="insurance" placeholder="" />
                                </div>
                                <cml-validations *ngIf="isFieldValid('insurance')" [errorMsg]="validations('formBuilder.insurance')">
                                </cml-validations>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md col-lg">
                            <div class="form-group">
                                <label for="nationalization">
                  {{ "formBuilder.nationalization" | translate }}
                  <span class="text-danger">(*)</span>
                </label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <select class="input-group-text" [ngClass]="displayFieldCss('type_nationalization')" id="type_nationalization" formControlName="type_nationalization" aria-describedby="type_nationalization">
                      <option [ngValue]="null">
                        {{ "inputs.optionSelect" | translate }}
                      </option>
                      <option [ngValue]="0">%</option>
                      <option [ngValue]="1">$</option>
                    </select>
                                    </div>
                                    <input type="number" inputmode="decimal" class="form-control" [ngClass]="displayFieldCss('nationalization')" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" id="nationalization" formControlName="nationalization" aria-describedby="nationalization" placeholder=""
                                    />
                                    <cml-validations *ngIf="
                      isFieldValid('nationalization') ||
                      isFieldValid('type_nationalization')
                    " [errorMsg]="validations('formBuilder.nationalization')">
                                    </cml-validations>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md col-lg">
                            <div class="form-group">
                                <label for="crossing">
                  {{ "formBuilder.crossing" | translate }}
                  <span class="text-danger">(*)</span>
                </label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <select class="input-group-text" [ngClass]="displayFieldCss('type_crossing')" id="type_crossing" formControlName="type_crossing" aria-describedby="type_crossing">
                      <option [ngValue]="null">
                        {{ "inputs.optionSelect" | translate }}
                      </option>
                      <option [ngValue]="0">%</option>
                      <option [ngValue]="1">$</option>
                    </select>
                                    </div>
                                    <input type="number" inputmode="decimal" class="form-control" [ngClass]="displayFieldCss('crossing')" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" id="crossing" formControlName="crossing" aria-describedby="crossing" placeholder="" />
                                    <cml-validations *ngIf="
                      isFieldValid('crossing') || isFieldValid('type_crossing')
                    " [errorMsg]="validations('formBuilder.crossing')">
                                    </cml-validations>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md col-lg text-center" *ngIf="submitted">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="col col-md col-lg" *ngIf="!submitted">
                        <button type="submit" class="btn btn-primary btn-block">
              {{ "formButton.save" | translate }}
            </button>
                    </div>
                </div>
            </form>
        </cml-modal>
    </ng-template>
    <ng-template #ngbDisplayCountry let-ngmodal>
        <cml-modal [title]="getCountry(1)" [size]="true" (onClose)="onCloseNgbModal()">
            <cml-display-country [country]="getCountry(2)"></cml-display-country>
        </cml-modal>
    </ng-template>

    <div class="row justify-content-center">
        <div class="col col-md col-lg">
            <div class="container bg-white rounded shadow">
                <div class="table-responsive">
                    <table class="table table-striped mx-auto">
                        <thead>
                            <tr>
                                <th class="align-left border-top-0" colspan="7">
                                    <div>
                                        <label for="type_content">
                      {{ "formBuilder.country" | translate }}
                      <span class="text-danger">(*)</span>
                    </label>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <div class="d-flex">
                                                    <select class="form-control" id="country_select" [(ngModel)]="country_select" aria-describedby="country_select" (change)="changeContry()">
                            <option
                              [ngValue]="country.id"
                              *ngFor="let country of countries"
                            >
                              {{ getCountryName(country) }}
                            </option>
                          </select>
                                                    <button type="button" (click)="
                              shouldToggleUpdate(ngbCountry, countryContent.id)
                            " class="btn btn-primary mx-1 btn-sm" *ngIf="toggleButtonByTierId(3)">
                            <i class="fa fa-edit"></i>
                          </button>

                                                    <button type="button" class="btn mx-1 btn-sm" (click)="
                              shouldToggleStatus(
                                countryContent.id,
                                countryContent.status
                              )
                            " [ngClass]="
                              countryContent.status === 1
                                ? 'btn-success'
                                : 'btn-danger'
                            " *ngIf="toggleButtonByTierAdmin()">
                            <i
                              [ngClass]="
                                countryContent.status == 1
                                  ? 'fa fa-check-circle'
                                  : 'fa fa-ban'
                              "
                            ></i>
                          </button>
                                                    <button type="button" class="btn btn-primary mx-1 btn-sm" (click)="displayCountry(ngbDisplayCountry)" *ngIf="toggleButtonByTierAdmin()">
                            <i class="fa fa-door-closed"></i>
                          </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <span class="float-right">
                        <button
                          type="button"
                          class="btn btn-primary text-uppercase btn-sm"
                          (click)="shouldToggleCreate(ngbCountry)"
                          *ngIf="toggleButtonByTierId(2)"
                        >
                          {{ "tableAction.generateCountry" | translate }}
                        </button>
                      </span>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th scope="col" class="bg-table" style="width:220px;">
                                    {{ "formBuilder.typeContent" | translate }}
                                </th>
                                <th scope="col" class="bg-table" style="width:220px;">
                                    {{ "tableRender.impost" | translate }}
                                </th>
                                <th scope="col" class="bg-table" style="width:220px;">
                                    {{ "tableRender.insurance" | translate }}
                                </th>
                                <th scope="col" class="bg-table" style="width:220px;">
                                    {{ "tableRender.nationalization" | translate }}
                                </th>
                                <th scope="col" class="bg-table" style="width:220px;">
                                    {{ "tableRender.crossing" | translate }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="isLoading">
                                <td colspan="5">
                                    <cml-loading [loading]="isLoading" color="text-primary"></cml-loading>
                                </td>
                            </tr>
                            <tr *ngIf="
                  !isLoading &&
                  (!countryContent.content ||
                    countryContent.content.length === 0)
                ">
                                <td colspan="5">
                                    {{ "tableLength.countries" | translate }}
                                </td>
                            </tr>
                            <tr *ngFor="let content of countryContent.content">
                                <th scope="row" class="text-left" style="width:220px; padding-left: 25px;">
                                    {{ getNamePackage(content.type) }}
                                </th>
                                <td class="text-center" style="width:220px;  ">
                                    {{ content.impost !== 0 ? content.type_impost ? "$" + content.impost : content.impost + "%" : content.impost }}
                                </td>
                                <td class="text-center" style="width:220px;  ">
                                    {{ content.insurance !== 0 ? content.type_insurance ? "$" + content.insurance : content.insurance + "%" : content.insurance }}
                                </td>
                                <td class="text-center" style="width:220px;  ">
                                    {{ content.nationalization !== 0 ? content.type_nationalization ? "$" + content.nationalization : content.nationalization + "%" : content.nationalization }}
                                </td>
                                <td class="text-center" style="width:220px;  ">
                                    {{ content.crossing !== 0 ? content.type_crossing ? "$" + content.crossing : content.crossing + "%" : content.crossing }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>