<div class="container">
  <div class="row justify-content-center">
    <ng-template #ngbPreview let-ngmodal>
      <cml-modal title="" [size]="true" (onClose)="onCloseNgbModal()">
        <div class="overflow-auto list-group list-group-flush border-0">
          <div class="form-group mx-auto">
            <img [src]="imageSrc" class="img-fluid" style="max-height: 250px" />
          </div>
        </div>
      </cml-modal>
    </ng-template>

    <ng-container *ngIf="step === 1">
      <div class="col col-md col-lg">
        <div class="bg-white rounded shadow">
          <div class="table-responsive">
            <table class="table table-fixeded table-striped mx-auto">
              <thead>
                <tr>
                  <th colspan="9" class="border-top-0">
                    <span class="text-uppercase">
                      {{ "tableTitle.productivityPay" | translate }}
                    </span>
                  </th>
                </tr>
                <tr>
                  <th colspan="9">
                    <div class="row">
                      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                        <label for="alphanumeric">
                          {{ "tableRender.userId" | translate }} /
                          {{ "tableRender.receiptId" | translate }}
                        </label>
                        <div class="form-group">
                          <input
                            id="alphanumeric"
                            type="text"
                            ngClass="form-control"
                            name="alphanumeric"
                            [(ngModel)]="search.alphanumeric"
                            (keyup.enter)="onKey('alphanumeric')"
                            (focus)="clearInput('alphanumeric')"
                          />
                        </div>
                      </div>
                      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                        <label for="text">
                          {{ "tableRender.date" | translate }}
                        </label>
                        <div class="form-group">
                          <input
                            id="date"
                            type="date"
                            ngClass="form-control"
                            name="date"
                            [(ngModel)]="search.date"
                            (keyup.enter)="onKey('date')"
                            (focus)="clearInput('date')"
                          />
                        </div>
                      </div>
                      <div
                        class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 m-auto pt-2"
                      >
                        <button
                          type="button"
                          class="btn btn-primary mx-1 btn-sm"
                          (click)="searchButton()"
                        >
                          <i class="fa fa-search"></i>
                        </button>
                        <button
                          type="button"
                          (click)="clearAll()"
                          class="btn btn-secondary mx-1 btn-sm"
                        >
                          <i class="fa fa-eraser"></i>
                        </button>
                      </div>
                      <div class="col-12 col-sm-12 col-md col-lg col-xl m-auto">
                        <div class="form-group">
                          <label for="type">
                            {{ "formBuilder.type" | translate }}
                          </label>
                          <div class="form-group">
                            <select
                              class="form-control"
                              id="type"
                              aria-describedby="type"
                              [(ngModel)]="typeTier"
                              (change)="changeTypeTier()"
                            >
                              <option [ngValue]="null">
                                {{ "inputs.optionSelect" | translate }}
                              </option>
                              <option [ngValue]="12">
                                {{ "select.supervisor" | translate }}
                              </option>
                              <option [ngValue]="13">
                                {{ "select.seller" | translate }}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </th>
                </tr>
                <tr>
                  <th class="bg-table" scope="col" style="width: 150px">
                    {{ "tableRender.invoice" | translate }}
                  </th>
                  <th class="bg-table" scope="col" style="width: 100px">
                    {{ "tableRender.date" | translate }}
                  </th>
                  <th class="bg-table" scope="col" style="width: 160px">
                    {{ "tableRender.user" | translate }}
                  </th>
                  <th class="bg-table" scope="col" style="width: 130px">
                    {{ "tableRender.entry" | translate }}
                  </th>
                  <th class="bg-table" scope="col" style="width: 130px">
                    {{ "tableRender.production" | translate }}
                  </th>
                  <th class="bg-table" scope="col" style="width: 130px">
                    {{ "tableRender.total" | translate }}
                  </th>
                  <th class="bg-table" scope="col" style="width: 130px">
                    {{ "tableRender.reference" | translate }}
                  </th>
                  <th class="bg-table" scope="col" style="width: 157px">
                    {{ "tableRender.actions" | translate }}
                  </th>
                </tr>
                <tr *ngIf="submitted">
                  <td colspan="9">
                    <cml-loading
                      [loading]="submitted"
                      color="text-primary"
                    ></cml-loading>
                  </td>
                </tr>
                <tr
                  *ngIf="
                    !submitted &&
                    (!productivities || productivities.length === 0)
                  "
                >
                  <td colspan="9">
                    {{ "tableLength.productivity" | translate }}
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr
                  class="pointer"
                  *ngFor="let productivity of productivities; let key = index"
                >
                  <th class="align-center" scope="row" style="width: 150px">
                    {{ productivity.alphanumeric }}
                  </th>
                  <td class="align-center" style="width: 100px">
                    {{ productivity.es_date }}
                  </td>
                  <td class="align-center" style="width: 160px">
                    <span
                      class="d-inline-block text-truncate"
                      style="width: 115px"
                      data-toggle="tooltip"
                      [title]="productivity.reseller.person.name"
                      >{{ productivity.reseller.person.name }}</span
                    >
                  </td>
                  <td class="align-center" style="width: 130px">
                    {{ productivity.income | currency: "USD" }}
                  </td>
                  <td class="align-right" style="width: 130px">
                    {{ productivity.shipping | currency: "USD" }}
                  </td>
                  <td class="align-right" style="width: 130px">
                    {{ productivity.total | currency: "USD" }}
                  </td>
                  <td class="align-right" style="width: 130px">
                    {{ productivity.payment.reference }}
                  </td>
                  <td style="width: 157px">
                    <button
                      type="button"
                      class="btn btn-primary mx-1 btn-sm"
                      (click)="
                        onToggleDocument(productivity.payment, ngbPreview)
                      "
                      *ngIf="productivity.payment.voucher"
                    >
                      <i class="fa fa-eye"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary mx-1 btn-sm"
                      (click)="onToggleSignaturepad(productivity)"
                      *ngIf="!productivity.signaturepad"
                    >
                      <i class="fa fa-signature"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary mx-1 btn-sm"
                      (click)="printProductivity(productivity.url_file)"
                    >
                      <i class="fa fa-print"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="step === 2">
      <div class="col col-md col-lg mb-4">
        <div class="row my-2">
          <div class="col">
            <button
              type="button"
              class="btn btn-danger text-uppercase btn-sm"
              (click)="step = 1"
            >
              <span class="mx-1">
                <i class="fa fa-arrow-left"></i>
              </span>
              {{ "buttonText.before" | translate }}
            </button>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
              <div class="card-header text-uppercase">
                {{ "cardHeader.acceptConformity" | translate }}
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col col-md">
                    <p class="font-weight-bold">
                      {{
                        "cardContent.paymentCompliance"
                          | translate: { date: productivity.es_date }
                      }}
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-md">
                    <label for="signature">
                      {{ "formBuilder.name" | translate }}
                      <span class="text-danger">(*)</span>
                    </label>
                    <div class="form-group">
                      <input
                        id="signature"
                        type="text"
                        ngClass="form-control"
                        [(ngModel)]="signature"
                        name="signature"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-md text-center">
                    <div class="form-group">
                      <signature-pad
                        #signaturePad
                        [options]="signatureConfig"
                        (onEndEvent)="onDrawComplete()"
                      ></signature-pad>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-md col-lg text-center" *ngIf="submitted">
                    <div class="spinner-border text-primary" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
                  <div class="col col-md" *ngIf="!submitted">
                    <div class="form-group">
                      <button
                        type="button"
                        class="btn btn-danger m-2 float-right"
                        (click)="onDrawClear()"
                      >
                        {{ "formButton.clear" | translate }}
                      </button>
                      <button
                        type="button"
                        class="btn btn-primary m-2 float-right"
                        (click)="onSubmit()"
                      >
                        {{ "formButton.save" | translate }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="step === 3">
      <div class="col col-md col-lg">
        <div class="row my-2">
          <div class="col">
            <button
              type="button"
              class="btn btn-danger text-uppercase btn-sm"
              (click)="step = 1"
            >
              <span class="mx-1">
                <i class="fa fa-arrow-left"></i>
              </span>
              {{ "buttonText.before" | translate }}
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <iframe
              [src]="urlFile"
              scrolling="yes"
              frameborder="0"
              type="application/pdf"
            >
            </iframe>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
