<section>
  <div class="row my-2" *ngIf="urlFile">
    <div class="col">
      <button type="button" class="btn btn-danger" (click)="urlFile = null">
        {{ "buttonText.before" | translate }}
      </button>
    </div>
  </div>
  <div class="row" *ngIf="urlFile">
    <div class="col">
      <iframe
        [src]="urlFile"
        scrolling="yes"
        frameborder="0"
        type="application/pdf"
      >
      </iframe>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center my-3" *ngIf="!urlFile">
      <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
        <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="global">
          <div class="card bg-white rounded shadow">
            <div class="card-body">
              <div class="row">
                <div class="col col-md col-lg mb-5 mx-auto text-center">
                  <h4 class="text-uppercase text-center">
                    {{ "tableTitle.reportGlobal" | translate }}
                  </h4>
                </div>
              </div>
              <div class="col mx-auto">
                <div class="form-group">
                  <div class="bg-light p-3 text-dark d-flex rounded">
                    <div class="">
                      <input
                        type="radio"
                        id="agency"
                        [value]="1"
                        aria-describedby="agency"
                        formControlName="type"
                      />
                      <label for="agency" class="mx-2">
                        {{ "tableRender.agency" | translate }}
                      </label>
                    </div>
                    <div class="" *ngIf="onToggleByType()">
                      <input
                        type="radio"
                        id="cml"
                        [value]="0"
                        aria-describedby="cml"
                        formControlName="type"
                      />
                      <label for="cml" class="mx-2">
                        {{ "tableRender.CML" | translate }}
                      </label>
                    </div>
                    <div class="" *ngIf="onToggleByType()">
                      <input
                        type="radio"
                        id="global"
                        [value]="4"
                        aria-describedby="global"
                        formControlName="type"
                      />
                      <label for="global" class="mx-2">
                        {{ "select.global" | translate }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col mx-auto">
                <div class="form-group">
                  <label for="period">
                    {{ "formBuilder.period" | translate }}
                    <span class="text-danger">(*)</span>
                  </label>
                  <select
                    class="form-control"
                    id="period"
                    aria-describedby="period"
                    formControlName="period"
                  >
                    <option [ngValue]="null">
                      {{ "inputs.optionSelect" | translate }}
                    </option>
                    <option [ngValue]="month.id" *ngFor="let month of months">
                      {{ month.name | translate }}
                    </option>
                  </select>
                  <cml-validations
                    *ngIf="isFieldValid('period')"
                    [errorMsg]="validations('formBuilder.period')"
                  >
                  </cml-validations>
                </div>
              </div>
              <div class="col mx-auto">
                <div class="text-center mx-auto">
                  <div
                    class="spinner-border text-primary"
                    role="status"
                    *ngIf="submitted"
                  >
                    <span class="sr-only">Loading...</span>
                  </div>
                  <button
                    type="submit"
                    class="btn btn-primary btn-block"
                    *ngIf="!submitted"
                  >
                    {{ "formBuilder.generate" | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
