<section>
  <ng-template #ngbChat let-ngmodal>
    <cml-modal
      title="{{ 'submodules.users' | translate }}"
      [size]="true"
      (onClose)="onCloseNgbModal()"
    >
      <div
        class="overflow-auto list-group list-group-flush"
        style="max-height: 300px"
      >
        <button
          type="button"
          class="list-group-item list-group-item-action"
          style="height: 45px"
          *ngFor="let user of usersOnline"
          (click)="generatedUncorfimedChat(user)"
        >
          {{ user.person.name }}
          {{ user.tier == 1 ? "Admin" : "" }}
        </button>
      </div>
      <li
        class="list-group-item list-group-item-light text-center"
        *ngIf="!load && usersOnline.length == 0"
      >
        {{ "tableLength.users" | translate }}
      </li>
      <div *ngIf="load">
        {{ "ngbModal.usersOnline" | translate }}
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            aria-valuenow="75"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 95%"
          ></div>
        </div>
      </div>
    </cml-modal>
  </ng-template>

  <ng-template #ngbChatArchived let-ngmodal>
    <cml-modal
      title="{{ 'formBuilder.chatsArchived' | translate }}"
      [size]="true"
      (onClose)="onCloseNgbModal()"
    >
      <div
        class="overflow-auto list-group list-group-flush"
        style="max-height: 300px"
      >
        <span
          class="pointer list-group-item d-flex justify-content-between align-items-center border-0"
          *ngFor="let chat of chatsArchived"
        >
          <div>
            <span
              ><small class="text-secondary"> {{ chat.role }}</small></span
            >
            <h6>{{ chat.name }}</h6>
          </div>
          <span class="badge badge-pill p-2">
            <i
              class="fa fa-archive"
              (click)="archive(false, chat)"
              *ngIf="!loadArchived"
            ></i>
            <cml-loading-button [loading]="loadArchived"></cml-loading-button>
          </span>
        </span>
      </div>
      <li
        class="list-group-item list-group-item-light text-center"
        *ngIf="!load && chatsArchived.length == 0"
      >
        {{ "formBuilder.noChatArchive" | translate }}
      </li>
      <div *ngIf="load">
        {{ "ngbModal.chatArchived" | translate }}
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            aria-valuenow="75"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 95%"
          ></div>
        </div>
      </div>
    </cml-modal>
  </ng-template>

  <ng-template #ngbArchive let-ngmodal>
    <cml-modal
      title="{{ 'buttonText.sendForm' | translate }}"
      [size]="true"
      (onClose)="onCloseNgbModal()"
    >
      <div class="overflow-auto list-group list-group-flush border-0">
        <div class="form-group mx-auto" *ngIf="imageSrc">
          <img [src]="imageSrc" class="img-fluid" style="max-height: 150px" />
        </div>
        <div class="form-group mx-auto" *ngIf="namePdf">
          <div class="card bg-light">
            <div class="card-body">
              <div class="row my-auto">
                <div class="col-4 col-md-4">
                  <img
                    src="../../../../assets/img/icon_pdf.png"
                    class="img-fluid"
                    style="max-height: 100px"
                  />
                </div>
                <div class="col col-md col-lg">
                  <p class="lead mb-0 text-center">
                    {{ namePdf }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <button
            type="button"
            class="btn bg-secondary text-white mx-1 btn-sm float-right"
            (click)="sendFile()"
          >
            <i class="fa fa-paper-plane"></i>
          </button>
        </div>
      </div>
    </cml-modal>
  </ng-template>

  <section class="container-chat mt-2 mb-2">
    <div class="my-2 d-lg-none d-xl-none" *ngIf="!!chatOpen">
      <button type="button" class="btn btn-primary" (click)="closeChat()">
        {{ "submodules.chat" | translate }} {{ "submodules.users" | translate }}
        <span class="badge badge-light">
          <i class="fa fa-user-friends"></i
        ></span>
      </button>
    </div>
    <div class="card bg-white rounded shadow">
      <div class="row">
        <div
          class="col-12 col-md-4 col-lg-4 col-xl-4 connected"
          [ngClass]="{ hidden: !!chatOpen }"
        >
          <div class="list-group list-group-flush">
            <li
              class="list-group-item active d-flex justify-content-between align-items-center"
            >
              <div class="d-flex w-100">
                <div class="col-6">
                  {{ me.person.name }}
                </div>
                <div class="col-6">
                  <button
                    type="button"
                    class="btn btn-light float-right"
                    data-toggle="tooltip"
                    data-placement="top"
                    [title]="'formBuilder.newChat' | translate"
                    (click)="setUsers(ngbChat)"
                  >
                    <i class="fa fa-user-friends"></i>
                  </button>
                </div>
              </div>
            </li>
            <li *ngIf="isLoading">
              <cml-loading
                [loading]="isLoading"
                color="text-primary"
              ></cml-loading>
            </li>
            <li
              class="list-group-item list-group-item-light text-center"
              *ngIf="!isLoading && chats.length == 0"
            >
              {{ "formBuilder.noChat" | translate }}
            </li>
            <span
              class="pointer list-group-item list-group-item-action d-flex justify-content-between align-items-center"
              *ngFor="let chat of chats"
              (click)="openChat(chat.id)"
              [ngClass]="
                chatOpen && chatOpen.id == chat.id ? 'bg-grey-light' : ''
              "
            >
              <div>
                <h6 class="m-0">
                  {{ chat.name }}
                  <span
                    class="badge badge-danger"
                    *ngIf="!!chat.badge && chat.badge > 0"
                    >{{ chat.badge }}</span
                  ><br />

                  <small class="m-0" style="font-size: xx-small">{{
                    chat.role
                  }}</small>
                </h6>
              </div>

              <span
                class="badge badge-pill p-2"
                (click)="$event.stopPropagation()"
              >
                <i class="fa fa-archive" (click)="archiveChat(true, chat)"></i>
              </span>
            </span>
            <small
              class="text-center mt-2 text-secondary pointer font-weight-bold"
              (click)="openChatsArchived(ngbChatArchived)"
              >{{ "formBuilder.chatsArchived" | translate }}</small
            >
          </div>
        </div>
        <div class="col messages" *ngIf="!!chatOpen">
          <div class="col">
            <div class="row mx-0">
              <div class="col border-bottom h-msg h-10 ml-0">
                <p class="lead my-2 text-center text-black font-weight-bold">
                  {{ chatOpen.name }}
                </p>
              </div>
            </div>
          </div>

          <div class="open">
            <div class="chat py-2" #scrollMe (scroll)="onScroll()">
              <cml-message [me]="me" [chatOpen]="chatOpen"></cml-message>
            </div>
            <form
              autocomplete="off"
              [formGroup]="message"
              (ngSubmit)="onSubmit()"
            >
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="message"
                  formControlName="message"
                  aria-describedby="message"
                  [placeholder]="'formBuilder.sendMessage' | translate"
                  #myMessage
                  autofocus
                />
                <div class="input-group-append">
                  <button
                    type="button"
                    class="btn bg-secondary text-white btn-outline-secondary"
                    (click)="hiddenfileinput.click()"
                  >
                    <i class="fa fa-paperclip"></i>
                  </button>

                  <button
                    class="btn bg-primary text-white btn-outline-secondary"
                    type="submit"
                    (click)="myMessage.focus()"
                  >
                    <cml-loading-button
                      [loading]="submitted"
                    ></cml-loading-button>
                    {{ submitted ? "" : ("buttonText.sendForm" | translate) }}
                  </button>
                </div>
              </div>
              <input
                style="display: none"
                type="file"
                accept="image/*,application/pdf"
                (change)="onFileChanged($event, ngbArchive)"
                #hiddenfileinput
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
