<div class="card shadow my-1">
  <div class="card-body">
    <div class="row" *ngIf="step === 1">
      <div class="col-12 col-sm-12 col-md col-lg">
        <h5 class="card-title text-uppercase">
          {{ "cardContent.searchRemitter" | translate }}
        </h5>
      </div>
    </div>

    <div class="row" *ngIf="step === 2">
      <div class="col-12 col-sm-12 col-md col-lg">
        <h5 class="card-title text-uppercase">
          {{ "cardContent.remitter" | translate }}
        </h5>
      </div>
      <div class="col-12 col-sm-12 col-md col-lg">
        <h5 class="card-title text-uppercase">
          <span class="float-right">
            Id: {{ remitter.identification_id || remitter.alphanumeric }}
          </span>
        </h5>
      </div>
    </div>

    <section *ngIf="step === 1">
      <div class="row">
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <label for="filterRemitter">
              {{ "formBuilder.filter" | translate }}
            </label>
            <input
              type="text"
              class="form-control"
              id="filterRemitter"
              maxlength="20"
              [(ngModel)]="filter"
              (keydown.enter)="searchByFillable()"
              placeholder=""
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="remitterFilterById"
                [(ngModel)]="filterBy"
                id="remitterFilterById"
                [value]="1"
              />
              <label class="form-check-label" for="remitterFilterById">
                {{ "formBuilder.filterById" | translate }}
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="remitterFilterByCellphone"
                [(ngModel)]="filterBy"
                id="remitterFilterByCellphone"
                [value]="2"
              />
              <label class="form-check-label" for="remitterFilterByCellphone">
                {{ "formBuilder.cellphone" | translate }}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <button
              type="button"
              class="btn btn-primary mr-2 mb-1 text-uppercase btn-sm"
              (click)="autocompleteRemitter()"
              [disabled]="!!remitter"
            >
              {{ "tableAction.autocomplete" | translate }}
            </button>
            <button
              type="button"
              class="btn btn-primary mr-2 mb-1 text-uppercase btn-sm"
              (click)="searchByFillable()"
              [disabled]="!filter"
            >
              <cml-loading-button [loading]="submitted"></cml-loading-button>
              <div *ngIf="!submitted">
                <span class="mx-1">
                  <i class="fa fa-filter"></i>
                </span>
                {{ "tableAction.search" | translate }}
              </div>
            </button>
            <button
              type="button"
              class="btn btn-primary mb-1 text-uppercase btn-sm"
              (click)="isToggleGenerateAgency()"
            >
              {{ "tableAction.generateRemitter" | translate }}
            </button>
          </div>
        </div>
      </div>
    </section>
    <section *ngIf="step === 2">
      <div class="row">
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <label for="remitterName">
              {{ "formBuilder.name" | translate }}
            </label>
            <input
              type="text"
              class="form-control"
              id="remitterName"
              maxlength="30"
              [(ngModel)]="remitter.name"
              disabled
            />
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <label for="remitterEmail">
              {{ "formBuilder.email" | translate }}
            </label>
            <input
              type="email"
              class="form-control"
              id="remitterEmail"
              maxlength="50"
              [(ngModel)]="remitter.email"
              disabled
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <label for="remitterPhone">
              {{ "formBuilder.phone" | translate }}
            </label>
            <input
              [cmlOnlyNumber]="true"
              type="number"
              pattern="[0-9]*"
              inputmode="numeric"
              id="remitterPhone"
              class="form-control"
              [(ngModel)]="remitter.phone"
              disabled
            />
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <label for="remitterCellphone">
              {{ "formBuilder.cellphone" | translate }}
            </label>
            <input
              [cmlOnlyNumber]="true"
              type="number"
              pattern="[0-9]*"
              inputmode="numeric"
              class="form-control"
              id="remitterCellphone"
              [(ngModel)]="remitter.person.cellphone"
              disabled
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <label for="remitterCountry_id">
              {{ "formBuilder.country" | translate }}
            </label>
            <select
              class="form-control"
              id="remitterCountry_id"
              [(ngModel)]="remitter.country_id"
              disabled
            >
              <option [ngValue]="null">{{
                "inputs.optionSelect" | translate
              }}</option>
              <option
                [ngValue]="country.id"
                *ngFor="let country of countries"
                >{{ country.name }}</option
              >
            </select>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <label for="remitterZip_code">
              {{ "formBuilder.zip_code" | translate }}
            </label>
            <input
              type="text"
              class="form-control"
              id="remitterZip_code"
              [(ngModel)]="remitter.zip_code"
              disabled
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <label for="remitterState">
              {{ "formBuilder.state" | translate }}
            </label>
            <input
              type="text"
              class="form-control"
              id="remitterState"
              maxlength="15"
              [(ngModel)]="remitter.state"
              disabled
            />
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <label for="remitterCity">
              {{ "formBuilder.city" | translate }}
            </label>
            <input
              type="text"
              class="form-control"
              id="remitterCity"
              maxlength="15"
              [(ngModel)]="remitter.city"
              disabled
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <label for="remitterAddress">
              {{ "formBuilder.address" | translate }}
            </label>
            <input
              class="form-control"
              id="remitterAddress"
              [(ngModel)]="remitter.address"
              disabled
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <label for="remitterSpecialInstructions">
              {{ "formBuilder.specialInstructions" | translate }}
            </label>
            <textarea
              class="form-control"
              id="remitterSpecialInstructions"
              rows="2"
              [(ngModel)]="remitter.special_instructions"
              disabled
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="text-center my-3">
            <button
              type="button"
              class="btn btn-primary text-uppercase mx-2 mb-1 btn-sm"
              (click)="setStep(1)"
            >
              <span class="mx-1">
                <i class="fa fa-filter"></i>
              </span>
              {{ "buttonText.search" | translate }}
            </button>
            <button
              type="button"
              class="btn btn-primary text-uppercase mx-2 mb-1 btn-sm"
              (click)="onUpdateRemitter()"
              *ngIf="onToggleByTier()"
            >
              <span class="mx-1">
                <i class="fa fa-sync"></i>
              </span>
              {{ "buttonText.update" | translate }}
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
