<div class="row justify-content-center my-2">
  <div
    class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 bg-white rounded shadow py-2"
    *ngIf="tagStep === 1"
  >
    <div class="container">
      <section
        class="row d-flex justify-content-center align-items-center"
        *ngIf="submitted"
      >
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </section>

      <section *ngIf="!submitted">
        <div
          class="row d-flex justify-content-center align-items-center border"
        >
          <div
            class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center border-right"
          >
            <img
              [src]="
                user.image_admin ? user.image_admin : 'assets/img/logo.png'
              "
              class="img-fluid w-50"
            />
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
        </div>
        <div class="row border bg-grey-light">
          <div
            class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-uppercase text-center"
          >
            {{ "cardContent.content" | translate }}
          </div>
        </div>
        <div class="row border">
          <div
            class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-right remitter"
          >
            <div class="table-responsive">
              <table class="table table-bordered my-2 table-striped">
                <thead>
                  <tr>
                    <th>
                      {{
                        "cardText.alphanumeric"
                          | translate: { alphanumeric: quote.alphanumeric }
                      }}
                    </th>
                    <th class="text-center">
                      <button
                        class="btn btn-primary btn-sm mx-2"
                        (click)="printPackging(quote.id)"
                        *ngIf="!isLocker"
                      >
                        {{ "cardText.generatePacking" | translate }}
                      </button>
                    </th>
                  </tr>
                  <tr *ngFor="let charge of quote.charge; let key = index">
                    <th>{{ getServiceDescription(charge.package) }}</th>
                    <th class="text-center">
                      <button
                        class="btn btn-primary btn-sm mx-2"
                        (click)="printPackgingTag(quote.id, charge.id)"
                        *ngIf="!isLocker"
                      >
                        {{ "cardText.generatePackingTag" | translate }}
                      </button>
                      <button
                        class="btn btn-primary btn-sm mx-2"
                        (click)="printBoarding(quote.id, charge.id, key)"
                        *ngIf="!isLocker"
                      >
                        {{ "cardText.generateBoarding" | translate }}
                      </button>
                      <button
                        *ngIf="showByAgency() && !isLocker"
                        class="btn btn-primary btn-sm mx-2"
                        (click)="printInternalTraffic(quote.id, charge.id, key)"
                      >
                        {{ "cardText.generateInternalTraffic" | translate }}
                      </button>
                    </th>
                  </tr>
                  <tr>
                    <th colspan="2">
                      <button
                        class="btn btn-primary"
                        (click)="setDefaultValues()"
                      >
                        <i class="fa fa-file-invoice mx-1"></i>
                        {{ "cardText.generateShipment" | translate }}
                      </button>
                    </th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div
    class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9"
    *ngIf="tagStep === 2"
  >
    <div class="container">
      <div class="row my-2">
        <div class="col">
          <button
            type="button"
            class="btn btn-danger text-uppercase btn-sm"
            (click)="onBeforeStep(1)"
          >
            <span class="mx-1">
              <i class="fa fa-arrow-left"></i>
            </span>
            {{ "buttonText.before" | translate }}
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <iframe
            [src]="urlFile"
            scrolling="yes"
            frameborder="0"
            type="application/pdf"
          >
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>
