<section>
  <div class="row justify-content-center">
    <div class="col col-md col-lg">
      <div class="container bg-white rounded shadow">
        <form
          autocomplete="off"
          (ngSubmit)="onSubmit()"
          [formGroup]="assignment"
        >
          <div class="row" *ngIf="!!errors">
            <div class="col col-md col-lg">
              <cml-errors [errors]="errors"></cml-errors>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-center border-top-0" colspan="2">
                    <span class="text-uppercase">
                      {{ "tableTitle.assignments" | translate }}
                    </span>
                  </th>
                </tr>
                <tr>
                  <th>
                    <select
                      class="form-control"
                      [ngClass]="displayFieldCss('role_id')"
                      id="country"
                      formControlName="role_id"
                      aria-describedby="role_id"
                      (change)="showAssignments()"
                    >
                      <option value="">
                        {{ "inputs.optionSelect" | translate }}
                      </option>
                      <option
                        [ngValue]="profile.id"
                        *ngFor="let profile of profiles"
                      >
                        {{ profile.name }}
                      </option>
                    </select>
                  </th>
                  <th>
                    <button
                      type="submit"
                      class="btn btn-primary text-uppercase btn-sm mx-2 float-right"
                    >
                      <cml-loading-button
                        [loading]="submitted"
                      ></cml-loading-button>

                      {{ submitted ? "" : ("buttonText.save" | translate) }}
                    </button>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center" colspan="2" *ngIf="assignments">
                    <ngb-tabset>
                      <ngb-tab title="{{ 'tab.capture' | translate }}">
                        <ng-template ngbTabContent>
                          <table
                            class="table table-striped table-bordered table-sm tab-catch px-2 py-2"
                          >
                            <tbody>
                              <tr>
                                <td></td>
                                <td>
                                  {{ "tableRender.consult" | translate }}
                                </td>
                                <td>
                                  {{ "tableRender.add" | translate }}
                                </td>
                                <td>
                                  {{ "tableRender.edit" | translate }}
                                </td>
                              </tr>
                              <tr *ngFor="let catch of getCatchByRole()">
                                <td
                                  class="text-center"
                                  *ngIf="hasAccess(catch.id, 1)"
                                >
                                  {{ catch.nameModule }} / {{ catch.name }}
                                </td>
                                <td *ngIf="hasAccess(catch.id, 1)">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    *ngIf="hasAccess(catch.id, 1)"
                                    (change)="setModule(catch.id, 1)"
                                    [checked]="isChecked(catch.id, 1)"
                                  />
                                </td>
                                <td *ngIf="hasAccess(catch.id, 1)">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    *ngIf="hasAccess(catch.id, 2)"
                                    (change)="setModule(catch.id, 2)"
                                    [checked]="isChecked(catch.id, 2)"
                                    [disabled]="catch.id === 25"
                                  />
                                </td>
                                <td *ngIf="hasAccess(catch.id, 1)">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    *ngIf="hasAccess(catch.id, 3)"
                                    (change)="setModule(catch.id, 3)"
                                    [checked]="isChecked(catch.id, 3)"
                                    [disabled]="catch.id === 25"
                                  />
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </ng-template>
                      </ngb-tab>
                      <ngb-tab
                        title="{{ 'tab.report' | translate }}"
                        *ngIf="!!profile && profile.type"
                      >
                        <ng-template ngbTabContent>
                          <table
                            class="table table-striped table-bordered table-sm tab-report px-2 py-2"
                          >
                            <tbody>
                              <tr>
                                <td></td>
                                <td>{{ "tableRender.execute" | translate }}</td>
                              </tr>
                              <tr *ngFor="let report of reports">
                                <td>
                                  {{ report.name }}
                                </td>
                                <td>
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    *ngIf="hasAccess(report.id, 4)"
                                    (change)="setModule(report.id, 4)"
                                    [checked]="isChecked(report.id, 4)"
                                  />
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </ng-template>
                      </ngb-tab>
                      <ngb-tab
                        title="{{ 'tab.actions' | translate }}"
                        *ngIf="!!profile && profile.type"
                      >
                        <ng-template ngbTabContent>
                          <table
                            class="table table-striped table-bordered table-sm tab-report px-2 py-2"
                          >
                            <tbody>
                              <tr>
                                <td></td>
                                <td>{{ "tableRender.view" | translate }}</td>
                              </tr>
                              <tr *ngFor="let action of actions">
                                <td *ngIf="hasAccess(action.id, 5)">
                                  {{ action.nameModule }} / {{ action.name }} -
                                  {{ "formBuilder.location" | translate }}
                                </td>
                                <td *ngIf="hasAccess(action.id, 5)">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    (click)="setModule(action.id, 5)"
                                    [checked]="isChecked(action.id, 5)"
                                  />
                                </td>
                              </tr>
                              <tr *ngFor="let action of actions">
                                <td *ngIf="hasAccess(action.id, 6)">
                                  {{ action.nameModule }} / {{ action.name }} -
                                  {{
                                    "formBuilder.fileTypeCommercial" | translate
                                  }}
                                </td>
                                <td *ngIf="hasAccess(action.id, 6)">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    (change)="setModule(action.id, 6)"
                                    [checked]="isChecked(action.id, 6)"
                                  />
                                </td>
                              </tr>
                              <tr *ngFor="let action of actionsSeller">
                                <td *ngIf="hasAccess(action.id, 6)">
                                  {{ action.nameModule }} / {{ action.name }} -
                                  {{
                                    "formBuilder.changeSupervisor" | translate
                                  }}
                                </td>
                                <td *ngIf="hasAccess(action.id, 6)">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    (change)="setModule(action.id, 6)"
                                    [checked]="isChecked(action.id, 6)"
                                  />
                                </td>
                              </tr>
                              <tr *ngFor="let action of actionsInvoicing">
                                <td *ngIf="hasAccess(action.id, 6)">
                                  {{ action.nameModule }} / {{ action.name }} -
                                  {{ "formBuilder.revoke" | translate }}
                                </td>
                                <td *ngIf="hasAccess(action.id, 6)">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    (change)="setModule(action.id, 6)"
                                    [checked]="isChecked(action.id, 6)"
                                  />
                                </td>
                              </tr>
                              <tr *ngFor="let action of actionsAgency">
                                <td *ngIf="hasAccess(action.id, 6)">
                                  {{ action.nameModule }} / {{ action.name }} /
                                  {{ "cardText.employees" | translate }} -
                                  {{ "formBuilder.assign" | translate }}
                                </td>
                                <td *ngIf="hasAccess(action.id, 6)">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    (change)="setModule(action.id, 6)"
                                    [checked]="isChecked(action.id, 6)"
                                  />
                                </td>
                              </tr>
                              <tr *ngFor="let action of actionsLockers">
                                <td *ngIf="hasAccess(action.id, 7)">
                                  {{ action.name }} -
                                  {{ "tab.toAssign" | translate }}
                                </td>
                                <td *ngIf="hasAccess(action.id, 7)">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    (change)="setModule(action.id, 7)"
                                    [checked]="isChecked(action.id, 7)"
                                  />
                                </td>
                              </tr>
                              <tr *ngFor="let action of actionsInformation">
                                <td *ngIf="hasAccess(action.id, 9)">
                                  {{ action.nameModule }} / {{ action.name }} -
                                  {{ "tab.showLink" | translate }}
                                </td>
                                <td *ngIf="hasAccess(action.id, 9)">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    (change)="setModule(action.id, 9)"
                                    [checked]="isChecked(action.id, 9)"
                                  />
                                </td>
                              </tr>
                              <tr *ngFor="let action of actionsStatus">
                                <td *ngIf="hasAccess(action.id, 8)">
                                  {{ action.nameModule }} -
                                  {{ "tab.status" | translate }}
                                </td>
                                <td *ngIf="hasAccess(action.id, 8)">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    (change)="setModule(action.id, 8)"
                                    [checked]="isChecked(action.id, 8)"
                                  />
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </ng-template>
                      </ngb-tab>
                      <ngb-tab
                        title="{{ 'tab.home' | translate }}"
                        *ngIf="!!profile && profile.type"
                      >
                        <ng-template ngbTabContent>
                          <table
                            class="table table-striped table-bordered table-sm tab-report px-2 py-2"
                          >
                            <tbody>
                              <tr>
                                <td></td>
                                <td>{{ "tableRender.view" | translate }}</td>
                              </tr>
                              <tr *ngFor="let action of home">
                                <td *ngIf="hasAccess(action.id, 7)">
                                  {{ action.nameModule }}
                                </td>
                                <td *ngIf="hasAccess(action.id, 7)">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    (click)="setModule(action.id, 7)"
                                    [checked]="isChecked(action.id, 7)"
                                  />
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </ng-template>
                      </ngb-tab>
                    </ngb-tabset>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
