<section>
  <ng-template #ngbDisplayEmployee let-ngmodal>
    <cml-modal
      [title]="displayEmployee.person.name"
      [subtitle]="' (' + displayEmployee.alphanumeric + ')'"
      [size]="true"
      (onClose)="onCloseNgbModal()"
    >
      <cml-display-user
        [user]="displayEmployee"
        [displayAgency]="true"
        [userAgency]="true"
      ></cml-display-user>
    </cml-modal>
  </ng-template>

  <div class="row justify-content-center">
    <div class="col col-md col-lg">
      <div class="container bg-white rounded shadow">
        <div class="table-responsive">
          <table class="table table-fixeded table-striped mx-auto">
            <thead>
              <tr>
                <th colspan="7" class="border-top-0">
                  <span class="text-uppercase">
                    {{ "tableTitle.employees" | translate }}
                  </span>
                </th>
              </tr>
              <tr>
                <th scope="col">
                  <input
                    type="text"
                    id="search_id"
                    class="form-control"
                    maxlength="90"
                    aria-describedby="search_id"
                    placeholder="{{ 'inputPlaceHolder.search_id' | translate }}"
                    [(ngModel)]="search.id"
                    (keyup.enter)="onKey('id')"
                    (focus)="clearInput('id')"
                  />
                </th>
                <th scope="col">
                  <input
                    type="text"
                    id="search_name"
                    class="form-control"
                    maxlength="90"
                    aria-describedby="search_name"
                    placeholder="{{
                      'inputPlaceHolder.search_name' | translate
                    }}"
                    [(ngModel)]="search.name"
                    (keyup.enter)="onKey('name')"
                    (focus)="clearInput('name')"
                  />
                </th>
                <th scope="col">
                  <input
                    type="text"
                    id="search_email"
                    class="form-control"
                    maxlength="90"
                    aria-describedby="search_email"
                    placeholder="{{ 'tableRender.email' | translate }}"
                    [(ngModel)]="search.email"
                    (keyup.enter)="onKey('email')"
                    (focus)="clearInput('email')"
                  />
                </th>
                <th scope="col">
                  <input
                    [cmlOnlyNumber]="true"
                    type="number"
                    pattern="[0-9]*"
                    inputmode="numeric"
                    id="search_phone"
                    class="form-control"
                    maxlength="90"
                    aria-describedby="search_phone"
                    placeholder="{{ 'tableRender.phone' | translate }}"
                    [(ngModel)]="search.phone"
                    (keyup.enter)="onKey('phone')"
                    (focus)="clearInput('phone')"
                  />
                </th>
                <th scope="col">
                  <input
                    [cmlOnlyNumber]="true"
                    type="number"
                    pattern="[0-9]*"
                    inputmode="numeric"
                    id="search_cellphone"
                    class="form-control"
                    maxlength="90"
                    aria-describedby="search_cellphone"
                    placeholder="{{ 'tableRender.cellphone' | translate }}"
                    [(ngModel)]="search.cellphone"
                    (keyup.enter)="onKey('cellphone')"
                    (focus)="clearInput('cellphone')"
                  />
                </th>
                <th scope="col" class="text-center">
                  <button
                    type="button"
                    class="btn btn-primary mx-1 btn-sm"
                    (click)="searchButton()"
                  >
                    <i class="fa fa-search"></i>
                  </button>
                  <button
                    type="button"
                    (click)="clear()"
                    class="btn btn-secondary mx-1 btn-sm"
                  >
                    <i class="fa fa-eraser"></i>
                  </button>
                </th>
              </tr>
              <tr>
                <th class="bg-table" scope="col">
                  {{ "tableRender.id" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.name" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.email" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.phone" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.cellphone" | translate }}
                </th>
                <th class="bg-table text-center" scope="col">
                  {{ "tableRender.agency" | translate }}
                </th>
              </tr>
              <tr *ngIf="isLoading">
                <th colspan="7">
                  <cml-loading
                    [loading]="isLoading"
                    color="text-primary"
                  ></cml-loading>
                </th>
              </tr>
              <tr *ngIf="!isLoading && (!users || users.length === 0)">
                <th colspan="7">
                  {{ "tableLength.agencies" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="pointer"
                *ngFor="let user of users; let key = index"
                (click)="isToggleEmployee(ngbDisplayEmployee, key)"
              >
                <th scope="row">{{ user.alphanumeric }}</th>
                <td scope="row">
                  <span
                    class="d-inline-block text-truncate"
                    style="width: 150px"
                    data-toggle="tooltip"
                    [title]="user.person.name"
                    >{{ user.person.name }}</span
                  >
                </td>
                <td scope="row">{{ user.email }}</td>
                <td scope="row">
                  {{ formating(user.person.phone) }}
                </td>
                <td scope="row">
                  {{ formating(user.person.cellphone) }}
                </td>
                <td class="text-center">
                  {{ getAgencyName(user) }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <cml-floating-home [show]="home"></cml-floating-home>
</section>
