<section *ngIf="!!country">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <p class="font-weight-bold">{{ "formBuilder.price" | translate }}:</p>
        <span>{{ userSettingsOptios() }}</span>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <p class="font-weight-bold">{{ "formBuilder.extra" | translate }}:</p>
        <span>{{ getExtra() }} </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <p class="font-weight-bold">{{ "checkbox.premium" | translate }}:</p>
        <span>{{ country.membership_agency }}</span>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <p class="font-weight-bold">{{ "checkbox.corporate" | translate }}:</p>
        <span>{{ country.membership_corporate }}</span>
      </div>
    </div>
  </div>
</section>
