<div class="container">
  <div class="wrapper-content align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-5 col-lg-5">
          <form (ngSubmit)="onSubmit()" [formGroup]="newPassword">
            <div class="card">
              <div class="card-body">
                <div *ngIf="statusCode === 1">
                  <div class="row">
                    <div class="col col-md col-lg">
                      <div class="form-group">
                        <label for="password">{{
                          "auth.password" | translate
                        }}</label>
                        <input
                          #password
                          type="password"
                          class="form-control"
                          [ngClass]="displayFieldCss('password')"
                          id="password"
                          formControlName="password"
                          aria-describedby="password"
                          placeholder=""
                          (keyup)="validate($event.target.value)"
                          (focus)="fPass()"
                          (blur)="getValidationRegex('password', passwordField)"
                        />
                        <cml-validations *ngIf="isFieldValid('password')">
                        </cml-validations>
                        <div
                          class="col bg-light rounded-bottom mt-1"
                          *ngIf="focusPass"
                        >
                          <cml-password
                            [requireText]="requiteText"
                            [requireNumber]="requireNumber"
                            [requireCharEs]="requireCharEs"
                            [minChar]="minChar"
                            [msgText]="
                              'validations.oneCapitalLetter' | translate
                            "
                            [msgNumber]="
                              'validations.leastOneNumber' | translate
                            "
                            [msgCharEs]="
                              'validations.includeCharacter' | translate
                            "
                            [msgminChar]="
                              'validations.minimumOfCharacters' | translate
                            "
                          >
                          </cml-password>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col col-md col-lg">
                      <div class="form-group">
                        <label for="repassword">{{
                          "auth.repeat_password" | translate
                        }}</label>
                        <input
                          #repeatPassword
                          type="password"
                          class="form-control"
                          [ngClass]="displayFieldCss('repassword')"
                          id="repassword"
                          formControlName="repassword"
                          aria-describedby="repassword"
                          (keyup)="validate($event.target.value)"
                          (focus)="fRePass()"
                          (blur)="
                            getValidationRegex(
                              'repassword',
                              repeatPasswordField
                            )
                          "
                        />
                        <cml-validations *ngIf="isFieldValid('repassword')">
                        </cml-validations>
                        <div
                          class="col bg-light rounded-bottom mt-1"
                          *ngIf="focusRePass"
                        >
                          <cml-password
                            [requireText]="requiteText"
                            [requireNumber]="requireNumber"
                            [requireCharEs]="requireCharEs"
                            [minChar]="minChar"
                            [msgText]="
                              'validations.oneCapitalLetter' | translate
                            "
                            [msgNumber]="
                              'validations.leastOneNumber' | translate
                            "
                            [msgCharEs]="
                              'validations.includeCharacter' | translate
                            "
                            [msgminChar]="
                              'validations.minimumOfCharacters' | translate
                            "
                          >
                          </cml-password>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div type="submit" class="col col-md col-lg">
                      <button class="btn btn-primary btn-block">
                        {{ "auth.save" | translate }}
                      </button>
                    </div>
                  </div>
                </div>
                <div *ngIf="statusCode === 0">
                  {{ "auth.action_not_available" | translate }}
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
