<ng-template #ngbPayment let-ngmodal>
  <cml-modal
    title="{{ 'cardContent.invoice' | translate }}"
    [size]="true"
    (onClose)="onCloseNgbModal()"
  >
    <cml-paystripe
      [shipping]="shipping"
      (onSubmitPayment)="onSubmitPayment($event)"
    >
    </cml-paystripe>
  </cml-modal>
</ng-template>

<section *ngIf="!form">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12" *ngIf="step === 1">
      <div class="container bg-white rounded shadow">
        <div class="table-responsive">
          <table class="table table-fixeded table-striped">
            <thead>
              <tr>
                <th colspan="7" class="border-top-0">
                  <span class="text-uppercase">
                    {{ "tableTitle.shipments" | translate }}
                  </span>
                </th>
              </tr>
              <tr>
                <th>
                  <div class="row">
                    <div class="col">
                      <label for="alphanumeric">
                        {{ "formBuilder.codAlphanumeric" | translate }}
                      </label>
                      <div class="form-group">
                        <input
                          id="alphanumeric"
                          type="text"
                          ngClass="form-control"
                          name="alphanumeric"
                          [(ngModel)]="alphanumeric"
                          (keyup.enter)="onKey()"
                        />
                      </div>
                    </div>
                  </div>
                </th>
                <th colspan="1" class="align-middle">
                  <div class="w-50 mx-auto" style="margin-top: 10px">
                    <button
                      type="button"
                      class="btn btn-primary mx-1 btn-sm"
                      (click)="onKey()"
                    >
                      <i class="fa fa-search"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-secondary mx-1 btn-sm"
                      (click)="clearAll()"
                    >
                      <i class="fa fa-eraser"></i>
                    </button>
                  </div>
                </th>
              </tr>
              <tr>
                <th class="bg-table" scope="col">
                  {{ "tableRender.invoice" | translate }}
                </th>
                <th class="bg-table" scope="col" style="width: 300px">
                  {{ "tableRender.origin" | translate }} /
                  {{ "tableRender.destiny" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.packQuantity" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.total" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.actions" | translate }}
                </th>
              </tr>
              <tr *ngIf="loading">
                <th colspan="6">
                  <cml-loading
                    [loading]="loading"
                    color="text-primary"
                  ></cml-loading>
                </th>
              </tr>
              <tr *ngIf="!loading && (!quotes || quotes.length === 0)">
                <th colspan="6">
                  {{ "tableLength.packages" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let quote of quotes; let key = index">
                <th scope="row">
                  {{ quote.alphanumeric }}
                </th>
                <td style="width: 300px">
                  {{
                    getOriginName(quote) + " / " + getCountryName(quote.country)
                  }}
                </td>
                <td class="text-center">
                  {{ quote.quantity_products }}
                </td>
                <td class="align-right">
                  {{ quote.total | currency: "USD" }}
                </td>
                <td
                  mat-cell
                  class="text-center"
                  (click)="$event.stopPropagation()"
                >
                  <button
                    type="button"
                    class="btn btn-primary mb-1 mr-2 btn-sm"
                    *ngIf="quote.confirmed_address && quote.invoiced !== 2"
                    title="{{ 'labelTitle.invoice' | translate }}"
                    (click)="paymentShipping(ngbPayment, quote)"
                  >
                    <i class="fa fa-receipt"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary mb-1 mr-2 btn-sm"
                    (click)="onToggleForm(quote)"
                    *ngIf="!quote.confirmed_address"
                    title="{{ 'labelTitle.address' | translate }}"
                  >
                    <i class="fa fa-map-marker-alt"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary mb-1 mr-2 btn-sm"
                    *ngIf="quote.url"
                    (click)="getPaymentInvoice(quote.id)"
                  >
                    <i class="fa fa-print"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col col-md col-lg" *ngIf="step === 2">
      <div class="container">
        <div class="row my-2">
          <div class="col">
            <button
              type="button"
              class="btn btn-danger text-uppercase btn-sm"
              (click)="step = 1"
            >
              <span class="mx-1">
                <i class="fa fa-arrow-left"></i>
              </span>
              {{ "buttonText.before" | translate }}
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <iframe
              [src]="urlFile"
              scrolling="yes"
              frameborder="0"
              type="application/pdf"
            >
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="my-2" *ngIf="form">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
      <div class="card">
        <div class="card-body">
          <form
            autocomplete="off"
            (ngSubmit)="onSubmit()"
            [formGroup]="address"
          >
            <div class="row" *ngIf="!!errors">
              <div class="col-12 col-sm-12 col-md col-lg">
                <cml-errors [errors]="errors"></cml-errors>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md col-lg">
                <div class="form-group">
                  <!-- pais -->
                  <label for="country_id"
                    >{{ "formBuilder.country" | translate }}
                    <span class="text-danger">(*)</span></label
                  >
                  <select
                    class="form-control"
                    [ngClass]="displayFieldCss('country_id')"
                    id="country_id"
                    formControlName="country_id"
                    aria-describedby="country_id"
                    (change)="onDefaultValuesStateAndCountry()"
                  >
                    <option [ngValue]="null">
                      {{ "inputs.optionSelect" | translate }}
                    </option>
                    <option
                      [ngValue]="country.id"
                      *ngFor="let country of countries"
                    >
                      {{ country.name }}
                    </option>
                  </select>
                  <cml-validations
                    *ngIf="isFieldValid('country_id')"
                    [errorMsg]="validations('formBuilder.country')"
                  >
                  </cml-validations>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md col-lg">
                <div class="form-group">
                  <!-- codigo postal -->
                  <label for="zip_code">
                    {{ "formBuilder.zip_code" | translate }}
                    <span class="text-danger">(*)</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    [ngClass]="displayFieldCss('zip_code')"
                    id="zip_code"
                    maxlength="10"
                    formControlName="zip_code"
                    aria-describedby="zip_code"
                    placeholder=""
                    (blur)="onBlurZipCode('zip_code')"
                  />
                  <cml-validations
                    *ngIf="isFieldValid('zip_code')"
                    [errorMsg]="validations('formBuilder.zip_code')"
                  >
                  </cml-validations>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md col-lg">
                <div class="form-group">
                  <!-- habilitar -->
                  <div class="bg-light p-3 text-dark d-flex rounded">
                    <input
                      type="checkbox"
                      [checked]="shouldEnableStateAndCity"
                      (click)="shouldStateAndCity()"
                      id="regular"
                      aria-describedby="regular"
                    />
                    <label for="regular" class="mx-2">
                      {{ "checkbox.shouldStateAndCity" | translate }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md col-lg">
                <div class="form-group">
                  <!-- estado -->
                  <label for="state"
                    >{{ "formBuilder.state" | translate }}
                    <span class="text-danger">(*)</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    [ngClass]="displayFieldCss('state')"
                    id="state"
                    maxlength="60"
                    formControlName="state"
                    aria-describedby="state"
                    placeholder=""
                  />
                  <cml-validations
                    *ngIf="isFieldValid('state')"
                    [errorMsg]="validations('formBuilder.state')"
                  >
                  </cml-validations>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md col-lg">
                <div class="form-group">
                  <!-- ciudad -->
                  <label for="city"
                    >{{ "formBuilder.city" | translate }}
                    <span class="text-danger">(*)</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    [ngClass]="displayFieldCss('city')"
                    id="city"
                    maxlength="60"
                    formControlName="city"
                    aria-describedby="city"
                    placeholder=""
                  />
                  <cml-validations
                    *ngIf="isFieldValid('city')"
                    [errorMsg]="validations('formBuilder.city')"
                  >
                  </cml-validations>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md col-lg">
                <div class="form-group">
                  <!-- direccion -->
                  <label for="address"
                    >{{ "formBuilder.address" | translate }}
                    <span class="text-danger">(*)</span></label
                  >
                  <textarea
                    class="form-control"
                    [ngClass]="displayFieldCss('address')"
                    id="address"
                    rows="1"
                    formControlName="address"
                    aria-describedby="address"
                    placeholder=""
                  ></textarea>
                  <cml-validations
                    *ngIf="isFieldValid('address')"
                    [errorMsg]="validations('formBuilder.address')"
                  >
                  </cml-validations>
                </div>
              </div>
            </div>
            <div class="row text-center">
              <div class="col col-md">
                <div class="form-group">
                  <signature-pad
                    #signaturePad
                    [options]="signatureConfig"
                    (onEndEvent)="onDrawComplete()"
                  ></signature-pad>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md col-lg">
                <div class="form-group">
                  <!--habilitar-->
                  <div class="bg-light p-3 text-dark d-flex rounded">
                    <input
                      type="checkbox"
                      id="policy"
                      formControlName="policy"
                      aria-describedby="policy"
                      [value]="true"
                    />
                    <label class="mx-2" (click)="getLinkToPolicy()">
                      {{ "checkbox.policy" | translate }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-md col-lg text-center" *ngIf="submitted">
                <div class="spinner-border text-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
              <div class="col col-md col-lg" *ngIf="!submitted">
                <button type="submit" class="btn btn-primary btn-block">
                  {{ "formButton.save" | translate }}
                </button>
                <button
                  type="button"
                  class="btn btn-danger btn-block"
                  (click)="onDrawClear()"
                >
                  {{ "formButton.clear" | translate }}
                </button>
                <button
                  type="submit"
                  class="btn btn-danger btn-block"
                  (click)="form = !form"
                >
                  {{ "formButton.toReturn" | translate }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
