<p>
  <span>
    <small [ngClass]="requireText ? 'text-success' : 'text-danger'">{{
      msgText
    }}</small
    >,
    <small [ngClass]="requireNumber ? 'text-success' : 'text-danger'">{{
      msgNumber
    }}</small
    >,
    <small [ngClass]="requireCharEs ? 'text-success' : 'text-danger'">{{
      msgCharEs
    }}</small
    >,
    <small [ngClass]="minChar ? 'text-success' : 'text-danger'">{{
      msgminChar
    }}</small
    >.
  </span>
</p>
