//
// List Group
//

.list {
  &-group {
    &-charges {
      overflow-y: auto;
      max-height: 400px;
    }

    &-flush {
      border-right: 1px solid rgba(0, 0, 0, 0.125);
      height: 100%;
    }
  }

  &-notifications {
    overflow-y: auto;
    max-height: 45vh;
  }
}

.chat {
  overflow-y: auto;
  overflow-x: hidden;
  height: 80%;
  margin-top: -15px;
}
