<section>
  <div class="row" *ngIf="error">
    <div class="col col-md my-2 mx-auto">
      <div class="alert alert-danger alert-pay" role="alert">
        {{ error }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-md py-4 mx-auto">
      <div class="table-responsive">
        <table class="table table-bordered table-white">
          <thead>
            <tr>
              <th scope="col">
                {{ "tableRender.invoice" | translate }}
              </th>
              <th scope="col">
                {{ "tableRender.origin" | translate }}
              </th>
              <th scope="col">
                {{ "tableRender.destiny" | translate }}
              </th>
              <th scope="col">
                {{ "tableRender.packQuantity" | translate }}
              </th>
              <th scope="col">
                {{ "tableRender.total" | translate }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                {{ shipping.alphanumeric }}
              </th>
              <td>
                {{ shipping.origin }}
              </td>
              <td>
                {{ shipping.destiny }}
              </td>
              <td>
                {{ shipping.quantity_products }}
              </td>
              <td>
                {{ shipping.total | currency: "USD" }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row px-2">
    <div class="col col-md mx-auto">
      <div class="form-group mx-1 pt-4">
        <ngx-stripe-card
          [options]="settingsCard"
          [elementsOptions]="settingsElements"
        ></ngx-stripe-card>
      </div>
    </div>
  </div>
  <div class="row py-2">
    <div class="col col-md mx-auto text-right">
      <div class="form-group">
        <div class="col col-md col-lg text-center" *ngIf="submitted">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <button
          type="button"
          class="btn btn-primary btn-large"
          *ngIf="!submitted"
          (click)="handlePayment()"
        >
          {{ "formBuilder.pay" | translate }}
        </button>
      </div>
    </div>
  </div>
</section>
