<div class="row" *ngIf="loading">
  <div class="col col-md col-lg text-center">
    <div class="spinner-border" [ngClass]="color" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
