<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <ngx-stripe-card
      [options]="settingsCard"
      [elementsOptions]="settingsElements"
    ></ngx-stripe-card>

    <ng-template [ngIf]="cardErrors">
      <p class="text-danger font-weight-light">
        {{ cardErrors }}
      </p>
    </ng-template>

    <div class="d-flex justify-content-center">
      <ng-container [ngSwitch]="submitted">
        <ng-template [ngSwitchCase]="true">
          <div class="col col-md col-lg text-center">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </ng-template>
        <ng-template [ngSwitchCase]="false">
          <div class="col col-md col-lg text-center">
            <button
              class="btn btn-primary text-uppercase"
              (click)="handleSubmit()"
            >
              {{ "buttonText.subscribe" | translate }}
              <span class="mx-3 font-weight-bold">
                {{ grandTotal | currency: "USD" }}
              </span>
            </button>
          </div>
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>
