<section>
    <ng-template #ngbPayment let-ngmodal>
        <cml-modal title="{{ 'cardContent.pay' | translate }}" [size]="true" (onClose)="onCloseNgbModal()">
            <cml-checkout [shop]="shop" (onClose)="onCloseNgbModal()"></cml-checkout>
        </cml-modal>
    </ng-template>

    <div class="row justify-content-center">
        <div class="col col-md col-lg">
            <div class="container bg-white rounded shadow">
                <div class="table-responsive">
                    <table class="table table-fixeded table-striped mx-auto">
                        <thead>
                            <tr>
                                <th colspan="7" class="border-top-0">
                                    <span class="text-uppercase">
                    {{ "tableTitle.payStore" | translate }}
                  </span>
                                    <button class="btn btn-primary float-right" (click)="payStoreItems(ngbPayment)" *ngIf="!!shop && shop.length > 0">
                    {{ "buttonText.pay" | translate }}
                  </button>
                                </th>
                            </tr>
                            <tr>
                                <th class="bg-table" scope="col" style="width:260px;">
                                    {{ "tableRender.name" | translate }}
                                </th>
                                <th class="bg-table" scope="col" style="width:140px;">
                                    {{ "tableRender.quantity" | translate }}
                                </th>
                                <th class="bg-table" scope="col" style="width:140px;">
                                    {{ "tableRender.sale_price" | translate }}
                                </th>
                                <th class="bg-table" scope="col" style="width:140px;">
                                    {{ "tableRender.subtotal" | translate }}
                                </th>
                                <th class="bg-table" scope="col" style="width:140px;">
                                    {{ "tableRender.taxation" | translate }}
                                </th>
                                <th class="bg-table" scope="col" style="width:140px;">
                                    {{ "tableRender.total" | translate }}
                                </th>
                                <th class="bg-table" scope="col" style="width:140px;">
                                    {{ "tableRender.actions" | translate }}
                                </th>
                            </tr>
                            <tr *ngIf="isLoading">
                                <th colspan="7">
                                    <cml-loading [loading]="isLoading" color="text-primary"></cml-loading>
                                </th>
                            </tr>
                            <tr *ngIf="!isLoading && (!shop || shop.length === 0)">
                                <th colspan="7">
                                    {{ "tableLength.packages" | translate }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let article of shop">
                                <th style="width:260px;">
                                    {{ article.name }}
                                </th>
                                <td style="width:140px;">
                                    {{ article.quantity }}
                                </td>
                                <td style="width:140px;">
                                    {{ article.sale_price | currency: "USD" }}
                                </td>
                                <td style="width:140px;">
                                    {{ article.subtotal | currency: "USD" }}
                                </td>
                                <td style="width:140px;">
                                    {{ article.taxation | currency: "USD" }}
                                </td>
                                <td style="width:140px;">
                                    {{ article.total | currency: "USD" }}
                                </td>
                                <td style="width:140px;">
                                    <button type="button" class="btn btn-danger mb-1 mr-2 btn-sm" (click)="onDestroyArticleInShop(article.id)">
                    <i class="fa fa-trash"></i>
                  </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>