<section>
  <ng-template #ngbTracking let-ngmodal>
    <cml-modal
      title="{{ 'cardContent.packages' | translate }}"
      [size]="true"
      (onClose)="onCloseNgbModal()"
    >
      <cml-timeline
        [tracking]="tracing"
        [locationVisibility]="locationVisibility"
        [tier]="tier"
      ></cml-timeline>
    </cml-modal>
  </ng-template>
  <ng-template #ngbQuote let-ngmodal>
    <cml-modal
      title="{{ 'cardContent.packages' | translate }}"
      [size]="true"
      (onClose)="onCloseNgbModal()"
    >
      <cml-deliveries
        [quote]="tracing"
        [user]="user"
        [printing]="printing"
        (openUrlLink)="openUrlLink($event)"
      ></cml-deliveries>
    </cml-modal>
  </ng-template>

  <div class="row justify-content-center" *ngIf="step === 1">
    <div class="col col-md col-lg">
      <div class="container bg-white rounded shadow">
        <div class="table-responsive">
          <table class="table table-fixeded table-striped mx-auto">
            <thead>
              <tr>
                <th class="border-top-0">
                  <div class="row">
                    <div class="col">
                      <label for="alphanumeric">
                        {{ "formBuilder.codAlphanumeric" | translate }}
                      </label>
                      <div class="form-group">
                        <input
                          id="alphanumeric"
                          type="text"
                          ngClass="form-control"
                          name="alphanumeric"
                          [(ngModel)]="alphanumeric"
                          (keyup.enter)="onKey()"
                        />
                      </div>
                    </div>
                  </div>
                </th>
                <th colspan="1" class="align-middle border-top-0">
                  <div class="w-50 mx-auto" style="margin-top: 10px">
                    <button
                      type="button"
                      class="btn btn-primary mx-1 btn-sm"
                      (click)="onKey()"
                    >
                      <i class="fa fa-search"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-secondary mx-1 btn-sm"
                      (click)="clearAll()"
                    >
                      <i class="fa fa-eraser"></i>
                    </button>
                  </div>
                </th>
              </tr>
              <tr>
                <th class="bg-table" scope="col">
                  {{ "tableRender.date" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.countryOrigin" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.remitter" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.countryDestiny" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.receiver" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.packages" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.actions" | translate }}
                </th>
              </tr>
              <tr *ngIf="loading">
                <th colspan="7">
                  <cml-loading
                    [loading]="loading"
                    color="text-primary"
                  ></cml-loading>
                </th>
              </tr>
              <tr *ngIf="!tracking || (tracking.length === 0 && !loading)">
                <th colspan="7">
                  {{ "tableLength.tracking" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="pointer"
                *ngFor="let tracing of tracking; let key = index"
                (click)="isToggleShowTracking(ngbTracking, key)"
              >
                <td class="text-center" scope="row">{{ tracing.es_date }}</td>
                <td class="text-center" scope="row">
                  {{ getOriginName(tracing) }}
                </td>
                <td class="text-center" scope="row">
                  <span
                    class="d-inline-block text-truncate"
                    style="width: 100px"
                    data-toggle="tooltip"
                    [title]="tracing.remitter.person.name"
                  >
                    {{ tracing.remitter.person.name }}
                  </span>
                </td>
                <td class="text-center" scope="row">
                  {{ getCountryName(tracing.country) }}
                </td>
                <td class="text-center" scope="row">
                  <span
                    class="d-inline-block text-truncate"
                    style="width: 100px"
                    data-toggle="tooltip"
                    [title]="tracing.remitter.person.name"
                  >
                    {{ tracing.receiver.person.name }}</span
                  >
                </td>
                <td class="text-center" scope="row">
                  {{ tracing.quantity_products }}
                </td>
                <td (click)="$event.stopPropagation()">
                  <button
                    type="button"
                    class="btn btn-primary mb-1 mr-2 btn-sm"
                    (click)="isToggleQuote(ngbQuote, key)"
                  >
                    <i class="fas fa-file-pdf"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center" *ngIf="step === 2">
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
      <button
        type="button"
        class="btn btn-danger text-uppercase btn-sm my-2"
        (click)="onBeforeStep(ngbQuote)"
      >
        <span class="mx-1">
          <i class="fa fa-arrow-left"></i>
        </span>
        {{ "buttonText.before" | translate }}
      </button>
      <iframe
        [src]="urlFile"
        scrolling="yes"
        frameborder="0"
        type="application/pdf"
      >
      </iframe>
    </div>
  </div>
</section>
