<div class="rounded border w-100 bg-light p-2">
  <h6 class="text-center">
    {{ "emails.title" | translate }}
    <br />
  </h6>
  <div *ngIf="!!typeEmail">
    <small *ngIf="typeEmail !== 7"
      ><strong class="text-primary">$name:</strong>
      {{ "labelEmail.name" | translate }}<br
    /></small>
    <small
      *ngIf="
        typeEmail !== 4 &&
        typeEmail !== 7 &&
        typeEmail !== 8 &&
        typeEmail !== 9 &&
        typeEmail !== 11 &&
        typeEmail !== 12 &&
        typeEmail !== 13
      "
      ><strong class="text-primary">$email:</strong>
      {{ "labelEmail.email" | translate }}<br
    /></small>
    <small
      *ngIf="
        typeEmail !== 4 &&
        typeEmail !== 7 &&
        typeEmail !== 8 &&
        typeEmail !== 9 &&
        typeEmail !== 11 &&
        typeEmail !== 12 &&
        typeEmail !== 13 &&
        typeEmail !== 14
      "
      ><strong class="text-primary">$document:</strong>
      {{ "labelEmail.document" | translate }}<br
    /></small>
    <small *ngIf="typeEmail !== 11 && typeEmail !== 12"
      ><strong class="text-primary">$admin:</strong>
      {{ "labelEmail.nameAdmin" | translate }}<br
    /></small>
    <small *ngIf="typeEmail === 12"
      ><strong class="text-primary">$typeUser:</strong>
      {{ "labelEmail.type_user" | translate }}<br
    /></small>
    <small *ngIf="typeEmail === 3"
      ><strong class="text-primary">$url:</strong>
      {{ "labelEmail.url" | translate }}<br
    /></small>
    <small *ngIf="typeEmail === 1"
      ><strong class="text-primary">$address:</strong>
      {{ "labelEmail.address" | translate }}<br
    /></small>
    <small *ngIf="typeEmail === 1"
      ><strong class="text-primary">$city:</strong>
      {{ "labelEmail.city" | translate }}<br
    /></small>
    <small *ngIf="typeEmail === 1"
      ><strong class="text-primary">$state:</strong>
      {{ "labelEmail.state" | translate }}<br
    /></small>
    <small *ngIf="typeEmail === 1"
      ><strong class="text-primary">$zipCode:</strong>
      {{ "labelEmail.zip_code" | translate }}<br
    /></small>
    <small *ngIf="typeEmail === 6"
      ><strong class="text-primary">$referencePay:</strong>
      {{ "labelEmail.referencePay" | translate }}<br
    /></small>
    <small *ngIf="typeEmail === 6 || typeEmail === 11 || typeEmail === 12"
      ><strong class="text-primary">$date:</strong>
      {{ "labelEmail.date" | translate }}<br
    /></small>
    <small *ngIf="typeEmail === 6 || typeEmail === 11"
      ><strong class="text-primary">$total:</strong>
      {{
        typeEmail === 6
          ? ("labelEmail.total" | translate)
          : ("tableRender.total" | translate)
      }}<br
    /></small>
    <small *ngIf="typeEmail === 6"
      ><strong class="text-primary">$folio:</strong>
      {{ "labelEmail.alphanumeric" | translate }}<br
    /></small>
    <small
      *ngIf="
        typeEmail === 7 ||
        typeEmail === 1 ||
        typeEmail === 13 ||
        typeEmail === 14
      "
      ><strong class="text-primary">$folioUser:</strong>
      {{ "labelEmail.folioUser" | translate }}<br
    /></small>
    <small *ngIf="typeEmail === 7 || typeEmail === 9 || typeEmail === 13"
      ><strong class="text-primary">$folioShipping:</strong>
      {{ "labelEmail.folioShipping" | translate }}<br
    /></small>
    <small
      *ngIf="
        typeEmail === 8 ||
        typeEmail === 9 ||
        typeEmail === 1 ||
        typeEmail === 12
      "
      ><strong class="text-primary">$country:</strong>
      {{ "labelEmail.country" | translate }}<br
    /></small>
    <small *ngIf="typeEmail === 8 || typeEmail === 9 || typeEmail === 13"
      ><strong class="text-primary">$quantity:</strong>
      {{ "labelEmail.quantity" | translate }}<br
    /></small>
    <small *ngIf="typeEmail === 11"
      ><strong class="text-primary">$amount:</strong>
      {{ "formBuilder.amount" | translate }}<br
    /></small>
    <small *ngIf="typeEmail === 11"
      ><strong class="text-primary">$agencyName:</strong>
      {{ "formBuilder.agencyName" | translate }}<br
    /></small>
    <small>
      <strong style="color: orange">*Nota:</strong>
      {{ "emails.note" | translate }}
      <strong>[before][/before]</strong>
      = {{ "emails.before" | translate }} <strong>[after][/after]</strong> =
      {{ "emails.after" | translate }} <br />
      ejemplo:<br />
      <strong>[before]</strong>{{ "emails.message" | translate
      }}<strong>[/before]</strong><br />
      <strong>[after]</strong>{{ "emails.cheers" | translate
      }}<strong>[/after]</strong>
    </small>
  </div>
</div>
