<section>
  <ng-template #ngbTracking let-ngmodal>
    <cml-modal
      title="{{ 'cardContent.packages' | translate }}"
      [size]="true"
      (onClose)="onCloseNgbModal()"
    >
      <cml-timeline
        [tracking]="tracing"
        [locationVisibility]="locationVisibility"
        [tier]="tier"
      ></cml-timeline>
    </cml-modal>
  </ng-template>
  <div class="row justify-content-center">
    <div class="col col-md col-lg">
      <div class="container bg-white rounded shadow">
        <div class="table-responsive">
          <table class="table table-fixeded table-striped mx-auto">
            <thead>
              <tr>
                <th colspan="5" class="border-top-0">
                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                      <label for="alphanumeric">
                        {{ "formBuilder.codAlphanumeric" | translate }}
                      </label>
                      <div class="form-group">
                        <input
                          id="alphanumeric"
                          type="text"
                          ngClass="form-control"
                          [(ngModel)]="packageTracking.alphanumeric"
                          name="alphanumeric"
                          (keyup.enter)="getPackageTracking('alphanumeric')"
                          (focus)="clearInput('alphanumeric')"
                        />
                      </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                      <label for="phone">
                        {{ "formBuilder.phone_cellphone" | translate }}
                      </label>
                      <div class="form-group">
                        <input
                          id="phone"
                          [cmlOnlyNumber]="true"
                          type="number"
                          pattern="[0-9]*"
                          inputmode="numeric"
                          ngClass="form-control"
                          [(ngModel)]="packageTracking.phone"
                          name="phone"
                          (keyup.enter)="getPackageTracking('phone')"
                          (focus)="clearInput('phone')"
                        />
                      </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                      <label for="identificationId">
                        {{ "formBuilder.identificationId" | translate }}
                      </label>
                      <div class="form-group">
                        <input
                          id="identificationId"
                          type="text"
                          ngClass="form-control"
                          [(ngModel)]="packageTracking.identificationId"
                          name="identificationId"
                          (keyup.enter)="getPackageTracking('identificationId')"
                          (focus)="clearInput('identificationId')"
                        />
                      </div>
                    </div>
                  </div>
                </th>

                <th colspan="2" class="align-middle border-top-0">
                  <div class="mx-auto" style="margin-top: 10px">
                    <button
                      type="button"
                      class="btn btn-primary mx-1 btn-sm"
                      (click)="searchButton()"
                    >
                      <i class="fa fa-search"></i>
                    </button>
                    <button
                      type="button"
                      (click)="clearAll()"
                      class="btn btn-secondary mx-1 btn-sm"
                    >
                      <i class="fa fa-eraser"></i>
                    </button>
                  </div>
                </th>
              </tr>
              <tr>
                <th class="bg-table" scope="col">
                  {{ "tableRender.invoice" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.countryOrigin" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.remitter" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.countryDestiny" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.receiver" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.packages" | translate }}
                </th>
              </tr>
              <tr *ngIf="!tracking || (tracking.length === 0 && !loading)">
                <th colspan="6">
                  {{ "tableLength.tracking" | translate }}
                </th>
              </tr>
              <tr *ngIf="loading">
                <th colspan="6">
                  <section
                    class="d-flex justify-content-center align-items-center"
                  >
                    <div class="spinner-border" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </section>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="pointer"
                *ngFor="let tracing of tracking; let key = index"
                (click)="isToggleShowTracking(ngbTracking, key)"
              >
                <th class="text-center" scope="row">
                  {{ tracing.alphanumeric }}
                </th>
                <td class="text-center" scope="row">
                  {{ getOriginName(tracing) }}
                </td>
                <td class="text-justify" scope="row">
                  <span
                    class="d-inline-block text-truncate"
                    style="width: 170px"
                  >
                    <strong> {{ "tableRender.id" | translate }} </strong>:
                    {{ tracing.remitter.person.identification_id }} <br />
                    <strong> {{ "tableRender.name" | translate }} </strong>:
                    {{ tracing.remitter.person.name }} <br />
                    <strong> {{ "tableRender.Ph" | translate }} </strong>:
                    {{ tracing.remitter.person.format_cellphone }}
                  </span>
                </td>
                <td class="text-center" scope="row">
                  {{ getCountryName(tracing.country) }}
                </td>
                <td class="text-justify" scope="row">
                  <span
                    class="d-inline-block text-truncate"
                    style="width: 170px"
                  >
                    <strong> {{ "tableRender.id" | translate }} </strong>:
                    {{ tracing.receiver.person.identification_id }} <br />
                    <strong> {{ "tableRender.name" | translate }} </strong>:
                    {{ tracing.receiver.person.name }} <br />
                    <strong> {{ "tableRender.Ph" | translate }} </strong>:
                    {{ tracing.receiver.person.format_cellphone }}
                  </span>
                </td>
                <td class="text-center" scope="row">
                  {{ tracing.quantity_products }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
