<div class="row">
  <div class="col-12 col-sm-12 col-md col-lg">
    <div
      class="table-responsive my-4"
      *ngFor="let charge of quote.charge; let key = index"
    >
      <table class="table shadow-sm table-bordered table-striped">
        <thead>
          <tr>
            <td>
              {{ charge.description + " - " + getStatusName(charge.status) }}
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <select
                class="custom-select"
                [(ngModel)]="progress[key]"
                id="tagQuote"
              >
                <option [value]="1" [disabled]="charge.status >= 1">
                  {{ "timeLine.inAgency" | translate }}
                </option>
                <option [value]="2" [disabled]="charge.status >= 2">
                  {{ "timeLine.inShipment" | translate }}
                </option>
                <option [value]="3" [disabled]="charge.status >= 3">
                  {{ "timeLine.inShippingCenter" | translate }}
                </option>
                <option [value]="4" [disabled]="charge.status >= 4">
                  {{ "timeLine.inTransit" | translate }}
                </option>
                <option [value]="5" [disabled]="charge.status >= 5">
                  {{ "timeLine.inDistribution" | translate }}
                </option>
                <option [value]="6" [disabled]="charge.status >= 6">
                  {{ "timeLine.toReceiver" | translate }}
                </option>
                <option [value]="7" [disabled]="charge.status >= 7">
                  {{ "timeLine.delivered" | translate }}
                </option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-center">
      <button
        type="button"
        class="btn btn-primary text-uppercase"
        (click)="onSubmit()"
      >
        <cml-loading-button [loading]="submitted"></cml-loading-button>

        {{ submitted ? "" : ("buttonText.update" | translate) }}
      </button>
    </div>
  </div>
</div>
