<section class="mb-3" *ngIf="!!user">
  <h4 class="display-5 text-left my-3">
    {{ "titles.welcome" | translate: { name: this.user.person.name } }}
  </h4>
  <ng-container [ngSwitch]="submitted">
    <ng-template [ngSwitchCase]="true">
      <div class="row">
        <div class="col col-md col-lg text-center">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template [ngSwitchCase]="false">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="d-flex justify-content-end">
            <a [href]="user.app_ios" target="_blank" class="mr-1 mt-1">
              <img
                class="img-fluid"
                src="../../../../assets/img/AppStore.png"
                width="135"
              />
            </a>
            <a [href]="user.app_android" target="_blank" class="ml-1 mt-1">
              <img
                class="img-fluid"
                src="../../../../assets/img/PlayStore.png"
                width="135"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div
          class="col-12 col-sm-12 order-2 order-md-1 my-1"
          [ngClass]="{
            'col-md-8 col-lg-8 col-xl-8': !!notifications.length,
            'col-md-12 col-lg-12 col-xl-12': !notifications.length
          }"
        >
          <div class="row">
            <div
              class="col-12 col-sm-12 col-md col-lg order-2 order-md-1 my-1"
              *ngIf="toggleButtonByTierId(7, 'services') || user.tier === 11"
            >
              <div
                class="card bg-blue shadow mh-100"
                style="background: rgba(255, 71, 71, 0.87)"
              >
                <div class="card-body shadow">
                  <h5 class="text-center text-uppercase text-white">
                    <span>
                      <i class="fa fa-gift mx-2" aria-hidden="true"></i>
                    </span>
                    {{ "cardHeader.promotion" | translate }}
                  </h5>
                  <ul
                    class="list-group mt-4"
                    *ngIf="!!dashboard && promotions.length <= 0"
                  >
                    <li class="list-group-item d-flex justify-content-around">
                      <h5
                        class="text-secondary text-center lead mb-0 text-center"
                      >
                        {{ "cardText.no_promotion" | translate }}
                      </h5>
                    </li>
                  </ul>
                  <ul
                    class="list-group mt-4"
                    *ngIf="!!dashboard && promotions.length > 0"
                  >
                    <li
                      class="list-group-item d-flex justify-content-around"
                      *ngFor="let promotion of dashboard.promotions"
                    >
                      <p class="lead mb-0 text-center">
                        {{ getNameByLanguage(promotion) }}
                      </p>
                      <h5 class="text-success my-auto">
                        {{
                          user.tier === 11 && user.type_pay !== 0
                            ? (user.subscription.unit_amount | currency: "USD")
                            : (promotion.public_price | currency: "USD")
                        }}
                      </h5>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div
              class="col-12 col-sm-12 col-md col-lg col-xl"
              *ngIf="
                toggleButtonByTierId(7, 'quote/consult') ||
                toggleButtonByTierId(7, 'store/pay') ||
                toggleButtonByTierId(7, 'users') ||
                (!!dashboard &&
                  inventory.length > 0 &&
                  toogleByTierWithPermission(1, 'inventory') &&
                  user.tier !== 11)
              "
            >
              <div class="row">
                <div
                  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-1"
                  *ngIf="toggleButtonByTierId(7, 'quote/consult')"
                >
                  <div class="card bg-blue shadow">
                    <div class="card-body">
                      <h5 class="text-center text-uppercase text-white">
                        <span>
                          <i
                            class="fa fa-shipping-fast mx-2"
                            aria-hidden="true"
                          ></i>
                        </span>
                        {{ "cardHeader.generated_shipments" | translate }}
                      </h5>
                      <ul class="list-group mt-4" *ngIf="!!dashboard">
                        <li
                          class="list-group-item d-flex justify-content-between px-5"
                        >
                          <p class="lead mb-0 text-center">
                            {{ "cardText.current_month" | translate }}
                          </p>
                          <span class="text-primary">
                            <p class="lead mb-0 text-center font-weight-bold">
                              {{ dashboard.shipping_current_month }}
                            </p>
                          </span>
                        </li>
                        <li
                          class="list-group-item d-flex justify-content-between px-5"
                        >
                          <p class="lead mb-0 text-center">
                            {{ "cardText.last_month" | translate }}
                          </p>
                          <span class="text-primary">
                            <p class="lead mb-0 text-center font-weight-bold">
                              {{ dashboard.shipping_last_month }}
                            </p>
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div
                  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-1"
                  *ngIf="toggleButtonByTierId(7, 'store/pay')"
                >
                  <div class="card bg-blue shadow">
                    <div class="card-body">
                      <h5 class="text-center text-uppercase text-white">
                        <span>
                          <i class="fa fa fa-store mx-2" aria-hidden="true"></i>
                        </span>
                        {{ "cardText.storeCML" | translate }}
                      </h5>
                      <ul class="list-group mt-4" *ngIf="!!dashboard">
                        <li
                          class="list-group-item d-flex justify-content-between px-5"
                        >
                          <p class="lead mb-0 text-center">
                            {{ "cardText.current_month" | translate }}
                          </p>
                          <span class="text-primary">
                            <p class="lead mb-0 text-center font-weight-bold">
                              {{ dashboard.order_current_month }}
                            </p>
                          </span>
                        </li>
                        <li
                          class="list-group-item d-flex justify-content-between px-5"
                        >
                          <p class="lead mb-0 text-center">
                            {{ "cardText.last_month" | translate }}
                          </p>
                          <span class="text-primary">
                            <p class="lead mb-0 text-center font-weight-bold">
                              {{ dashboard.order_last_month }}
                            </p>
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div
                  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-1"
                  *ngIf="
                    !!dashboard &&
                    inventory.length > 0 &&
                    toogleByTierWithPermission(1, 'inventory') &&
                    user.tier !== 11
                  "
                >
                  <div class="card bg-blue shadow">
                    <div class="card-body">
                      <h5 class="text-center text-uppercase text-white">
                        <span>
                          <i class="fa fa-store mx-2" aria-hidden="true"></i>
                        </span>
                        {{ "submodules.inventory" | translate }}
                      </h5>
                      <ul class="list-group mt-4" *ngIf="!!dashboard">
                        <li
                          class="list-group-item d-flex justify-content-between pointer px-5"
                          *ngFor="let i of inventory"
                          (click)="goTo('inventory')"
                        >
                          <p class="lead mb-0 text-center">
                            {{ i.description }}
                          </p>
                          <span class="text-danger">
                            <p class="lead mb-0 text-center font-weight-bold">
                              {{ i.stock }}
                            </p>
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div
                  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-1"
                  *ngIf="toggleButtonByTierId(7, 'users')"
                >
                  <div class="card bg-blue shadow">
                    <div class="card-body">
                      <h5 class="text-center text-uppercase text-white">
                        <span>
                          <i class="fa fa-users mx-2" aria-hidden="true"></i>
                        </span>
                        {{ "cardHeader.users" | translate }}
                      </h5>
                      <ul class="list-group mt-4" *ngIf="!!dashboard">
                        <li
                          class="list-group-item d-flex justify-content-between pointer px-5"
                          *ngIf="toogleByTierWithPermission(1, 'agencies')"
                          (click)="goTo('agencies')"
                        >
                          <p class="lead mb-0 text-center">
                            {{ "cardText.agencies" | translate }}
                          </p>

                          <span class="text-primary">
                            <p class="lead mb-0 text-center font-weight-bold">
                              {{ dashboard.agencies }}
                            </p>
                          </span>
                        </li>
                        <li
                          class="list-group-item d-flex justify-content-between pointer px-5"
                          *ngIf="toogleByTierWithPermission(1, 'users')"
                          (click)="
                            user.tier === 5 ? goTo('users') : goTo('employees')
                          "
                        >
                          <p class="lead mb-0 text-center">
                            {{ "cardText.employees" | translate }}
                          </p>

                          <span class="text-primary">
                            <p class="lead mb-0 text-center font-weight-bold">
                              {{ dashboard.employees }}
                            </p>
                          </span>
                        </li>
                        <li
                          class="list-group-item d-flex justify-content-between pointer px-5"
                          *ngIf="toogleByTierWithPermission(1, 'lockers')"
                          (click)="goTo('lockers')"
                        >
                          <p class="lead mb-0 text-center">
                            {{ "cardText.lockers" | translate }}
                          </p>

                          <span class="text-primary">
                            <p class="lead mb-0 text-center font-weight-bold">
                              {{ dashboard.lockers }}
                            </p>
                          </span>
                        </li>
                        <li
                          class="list-group-item d-flex justify-content-between pointer px-5"
                          *ngIf="
                            toogleByTierWithPermission(1, 'users') &&
                            userAgency()
                          "
                          (click)="goTo('users')"
                        >
                          <p class="lead mb-0 text-center">
                            {{ "cardText.cml" | translate }}
                          </p>

                          <span class="text-primary">
                            <p class="lead mb-0 text-center font-weight-bold">
                              {{ dashboard.cml }}
                            </p>
                          </span>
                        </li>
                        <li
                          class="list-group-item d-flex justify-content-between pointer px-5"
                          *ngIf="
                            toogleByTierWithPermission(
                              1,
                              'resellers/supervisors'
                            )
                          "
                          (click)="goTo('resellers/supervisors')"
                        >
                          <p class="lead mb-0 text-center">
                            {{ "submodules.supervisors" | translate }}
                          </p>

                          <span class="text-primary">
                            <p class="lead mb-0 text-center font-weight-bold">
                              {{ dashboard.supervisor }}
                            </p>
                          </span>
                        </li>
                        <li
                          class="list-group-item d-flex justify-content-between pointer px-5"
                          *ngIf="
                            toogleByTierWithPermission(1, 'resellers/sellers')
                          "
                          (click)="goTo('resellers/sellers')"
                        >
                          <p class="lead mb-0 text-center">
                            {{ "submodules.sellers" | translate }}
                          </p>

                          <span class="text-primary">
                            <p class="lead mb-0 text-center font-weight-bold">
                              {{ dashboard.seller }}
                            </p>
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 order-1 order-md-2 my-1"
              *ngIf="user.tier === 11"
            >
              <div class="card bg-blue shadow mh-100">
                <div class="card-body shadow">
                  <h5 class="text-center text-uppercase text-white">
                    <span>
                      <i class="fa fa-map-marked mx-2" aria-hidden="true"></i>
                    </span>
                    {{ "formBuilder.consolidation" | translate }}
                  </h5>
                  <ul
                    class="list-group mt-4"
                    *ngIf="!!!submitted && !!dashboard.consolidation"
                  >
                    <li class="list-group-item d-flex justify-content-around">
                      <p class="lead mb-0 text-center">
                        {{ dashboard.consolidation }}
                        {{ getNameCountry(dashboard.country_consolidation) }}
                      </p>
                      <h5
                        class="text-primary my-auto pointer"
                        (click)="openModal(ngbConsolidation)"
                      >
                        {{ "tableTitle.example" | translate }}
                      </h5>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Contenido de notificaciones -->
        <div
          class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 order-1 order-md-2 mt-2"
          *ngIf="!!notifications.length"
          [ngClass]="user.tier === 11 ? 'order-first' : ''"
        >
          <div class="card bg-blue shadow mh-100">
            <div class="card-body shadow">
              <h5 class="text-center text-uppercase text-white">
                <span>
                  <i class="fa fa-bell mx-2" aria-hidden="true"></i>
                </span>
                {{ "formBuilder.notification" | translate }}
              </h5>
              <section class="list-notifications mb-2">
                <div class="card shadow" *ngFor="let notify of notifications">
                  <div class="card-body p-2">
                    <h6 class="text-right">
                      <small class="font-weight-bold">{{
                        notify.es_date
                      }}</small>
                    </h6>
                    <p [innerHTML]="notify.content"></p>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-container>

  <ng-template #ngbConsolidation let-ngmodal>
    <cml-modal
      title="{{ 'formBuilder.consolidation' | translate }}"
      [size]="true"
      (onClose)="onCloseNgbModal()"
    >
      <div class="row justify-content-center">
        <div class="col text-center">
          <ngb-carousel
            interval="0"
            [showNavigationArrows]="images.length > 1"
            [showNavigationIndicators]="images.length > 1"
          >
            <ng-template ngbSlide *ngFor="let image of images">
              <div class="picsum-img-wrapper">
                <img [src]="image.file" style="width: 90%; height: 400px" />
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </cml-modal>
  </ng-template>
</section>
