<section>
  <div class="container">
    <div class="row justify-content-center my-3">
      <div class="col col-12 col-sm-12 col-md-5 col-lg-6 col-xl-6">
        <div class="card bg-white rounded shadow">
          <div class="row justify-content-center py-2">
            <img src="../../../../assets/img/logo.png" width="200" />
          </div>
          <div class="card-body">
            <div *ngIf="isLoading">
              <div class="row">
                <div class="col pt-2">
                  <cml-loading
                    [loading]="isLoading"
                    color="text-primary"
                  ></cml-loading>
                </div>
              </div>
            </div>
            <div *ngIf="!isLoading">
              <div class="row" *ngIf="statusCode.status === 0">
                <div class="col text-center px-4 text-danger">
                  <h6>{{ "cardText.noAvailable" | translate }}</h6>
                </div>
              </div>
              <div class="row mb-2" *ngIf="statusCode.status === 1">
                <div class="col text-center px-4">
                  <h4>
                    {{ "cardText.press" | translate }}
                  </h4>
                </div>
              </div>
              <div class="row" *ngIf="statusCode.status === 1">
                <div class="col px-4">
                  <cml-loading
                    [loading]="!!submitted"
                    color="text-primary"
                  ></cml-loading>
                  <button
                    type="button"
                    class="btn btn-primary btn-block"
                    *ngIf="!!!submitted"
                    (click)="reactivate()"
                  >
                    {{ "cardText.reactivate" | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
