<div class="container">
  <div class="wrapper-content align-items-center">
    <div class="container">
      <div class="row justify-content-center bg-white rounded shadow py-2">
        <div class="d-m-none col-lg-5 text-center align-middle my-auto">
          <img src="../../../../assets/img/logo.png" width="300" />
        </div>
        <div class="col col-md-5 col-lg-5">
          <form (ngSubmit)="onSubmit()" [formGroup]="auth" autocomplete="on">
            <div class="card border-0">
              <div class="card-body">
                <div class="row">
                  <div class="col col-md col-lg">
                    <div class="form-group">
                      <label for="email">{{ "auth.email" | translate }}</label>
                      <input
                        type="email"
                        class="form-control"
                        [ngClass]="displayFieldCss('email')"
                        id="email"
                        formControlName="email"
                        aria-describedby="email"
                        placeholder=""
                      />
                      <cml-validations
                        *ngIf="isFieldValid('email')"
                        [errorMsg]="validations('auth.email')"
                      >
                      </cml-validations>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-md col-lg">
                    <div class="form-group">
                      <label for="password">{{
                        "auth.password" | translate
                      }}</label>
                      <input
                        type="password"
                        class="form-control"
                        [ngClass]="displayFieldCss('password')"
                        id="password"
                        formControlName="password"
                        aria-describedby="password"
                        placeholder=""
                      />
                      <cml-validations
                        *ngIf="isFieldValid('password')"
                        [errorMsg]="validations('auth.password')"
                      >
                      </cml-validations>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-md col-lg">
                    <label for="language">{{
                      "auth.language" | translate
                    }}</label>
                    <div class="form-group">
                      <select
                        class="form-control"
                        [ngClass]="displayFieldCss('language')"
                        (change)="setLocalization()"
                        id="language"
                        formControlName="language"
                        aria-describedby="language"
                      >
                        <option value="es">ES</option>
                        <option value="en">EN</option>
                      </select>
                      <cml-validations
                        *ngIf="isFieldValid('language')"
                        [errorMsg]="validations('auth.language')"
                      >
                      </cml-validations>
                    </div>
                  </div>
                </div>
                <cml-loading
                  [loading]="submitted"
                  color="text-primary"
                ></cml-loading>
                <div class="row" *ngIf="!submitted">
                  <div class="col col-md col-lg">
                    <button type="submit" class="btn btn-primary btn-block">
                      {{ "auth.login" | translate }}
                    </button>
                  </div>
                </div>
                <div class="row text-center pt-3">
                  <div class="col col-md col-lg">
                    <a routerLink="/auth/register">
                      {{ "auth.register" | translate }}
                    </a>
                  </div>
                </div>
                <div class="row text-center pb-3">
                  <div class="col col-md col-lg">
                    <a routerLink="/auth/recovery">
                      {{ "auth.recovery_password" | translate }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
