<section>
  <ng-template #ngbPreview let-ngmodal>
    <cml-modal title="" [size]="true" (onClose)="onCloseNgbModal()">
      <div class="overflow-auto list-group list-group-flush border-0">
        <div class="form-group mx-auto">
          <img [src]="imageSrc" class="img-fluid" style="max-height: 250px" />
        </div>
      </div>
    </cml-modal>
  </ng-template>

  <div class="row justify-content-center" *ngIf="step === 1">
    <div class="col col-md col-lg">
      <div class="container bg-white rounded shadow">
        <div class="table-responsive">
          <table class="table table-fixeded table-striped mx-auto">
            <thead>
              <tr>
                <th colspan="6" class="border-top-0">
                  <span class="text-uppercase">
                    {{ "tableTitle.pay" | translate }}
                  </span>
                  <span class="float-left">
                    <button
                      type="button"
                      class="btn btn-danger text-uppercase btn-sm"
                      (click)="goToInvoicing()"
                    >
                      <span class="mx-1">
                        <i class="fa fa-arrow-left"></i>
                      </span>
                      {{ "buttonText.before" | translate }}
                    </button>
                  </span>
                </th>
              </tr>
              <tr>
                <th class="bg-table" scope="col">
                  {{ "tableRender.payment_method" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.date" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "formBuilder.amount" | translate }}
                </th>
                <th class="bg-table" scope="col" style="width: 300px">
                  {{ "formBuilder.reference" | translate }}
                </th>
                <th class="bg-table text-center" scope="col">
                  {{ "tableRender.actions" | translate }}
                </th>
              </tr>
              <tr *ngIf="isLoading">
                <th colspan="6">
                  <cml-loading
                    [loading]="isLoading"
                    color="text-primary"
                  ></cml-loading>
                </th>
              </tr>
              <tr *ngIf="!isLoading && (!payments || payments.length === 0)">
                <th colspan="6">
                  {{ "tableLength.employees" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="pointer" *ngFor="let payment of payments">
                <th scope="row">
                  {{ typePayments(payment.type) }}
                </th>
                <td scope="row">
                  {{ getDate(payment.transaction) }}
                </td>
                <td scope="row">
                  {{ payment.amount | currency: "USD" }}
                </td>
                <td scope="row">
                  <span
                    class="d-inline-block text-truncate"
                    style="width: 277px"
                    data-toggle="tooltip"
                    [title]="payment.reference"
                  >
                    {{ payment.reference }}
                  </span>
                </td>
                <td class="text-center" scope="row">
                  <button
                    type="button"
                    class="btn btn-primary mx-1 btn-sm"
                    (click)="viewDocument(payment, ngbPreview)"
                  >
                    <i class="fa fa-eye"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center" *ngIf="step === 2">
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
      <button
        type="button"
        class="btn btn-danger text-uppercase btn-sm my-2"
        (click)="step = 1"
      >
        <span class="mx-1">
          <i class="fa fa-arrow-left"></i>
        </span>
        {{ "buttonText.before" | translate }}
      </button>
      <iframe
        [src]="urlFile"
        scrolling="yes"
        frameborder="0"
        type="application/pdf"
      >
      </iframe>
    </div>
  </div>
</section>
