<form (ngSubmit)="onSubmit()" [formGroup]="user" autocomplete="off">
  <div class="row" *ngIf="!!errors">
    <div class="col-12 col-sm-12 col-md col-lg">
      <cml-errors [errors]="errors"></cml-errors>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!--nombre-->
        <label for="name"
          >{{ "formBuilder.name" | translate }}
          <span class="text-danger">(*)</span></label
        >
        <input
          type="text"
          class="form-control"
          [ngClass]="displayFieldCss('name')"
          id="name"
          maxlength="100"
          formControlName="name"
          aria-describedby="name"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('name')"
          [errorMsg]="validations('formBuilder.name')"
        >
        </cml-validations>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!--id-->
        <label for="identification_id">
          {{ "formBuilder.filterById" | translate }}
          <span class="text-danger">(*)</span></label
        >
        <input
          type="text"
          class="form-control"
          [ngClass]="displayFieldCss('identification_id')"
          id="identification_id"
          maxlength="30"
          formControlName="identification_id"
          aria-describedby="identification_id"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('identification_id')"
          [errorMsg]="validations('formBuilder.filterById')"
        >
        </cml-validations>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!!profiles.length && !!tiers.length">
    <div class="col-12 col-sm-12 col-md col-lg" *ngIf="!!tiers.length">
      <div class="form-group">
        <!--nivel-->
        <label for="tier">
          {{ "formBuilder.tier" | translate }}
          <span class="text-danger">(*)</span>
        </label>
        <select
          class="form-control"
          [ngClass]="displayFieldCss('tier')"
          id="tier"
          (change)="onToggleRoleByTierId()"
          formControlName="tier"
          aria-describedby="tier"
        >
          <option [ngValue]="null">
            {{ "inputs.optionSelect" | translate }}
          </option>
          <option [value]="tier.value" *ngFor="let tier of tiers">
            {{ tier.name }}
          </option>
        </select>
        <cml-validations
          *ngIf="isFieldValid('tier')"
          [errorMsg]="validations('formBuilder.tier')"
        >
        </cml-validations>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md col-lg" *ngIf="!!profiles.length">
      <div class="form-group">
        <!--rol-->
        <label for="role">
          {{ "formBuilder.role" | translate }}
          <span class="text-danger">(*)</span>
        </label>
        <select
          class="form-control"
          [ngClass]="displayFieldCss('role')"
          id="role"
          formControlName="role"
          aria-describedby="role"
        >
          <option [ngValue]="null">
            {{ "inputs.optionSelect" | translate }}
          </option>
          <option [value]="profile.id" *ngFor="let profile of profiles">
            {{ profile.name }}
          </option>
        </select>
        <cml-validations
          *ngIf="isFieldValid('role')"
          [errorMsg]="validations('formBuilder.role')"
        >
        </cml-validations>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!--email-->
        <label for="email"
          >{{ "formBuilder.email" | translate }}
          <span class="text-danger">(*)</span></label
        >
        <input
          type="text"
          class="form-control"
          [ngClass]="displayFieldCss('email')"
          id="email"
          maxlength="50"
          formControlName="email"
          aria-describedby="email"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('email')"
          [errorMsg]="validations('formBuilder.email')"
        >
        </cml-validations>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!--contraseña-->
        <label for="password"
          >{{ "formBuilder.password" | translate }}
          <span class="text-danger">(*)</span></label
        >
        <input
          type="password"
          class="form-control"
          [ngClass]="displayFieldCss('password')"
          id="password"
          maxlength="30"
          formControlName="password"
          aria-describedby="password"
          [placeholder]="getPasswordPlaceholder()"
          (blur)="getPasswordValidation()"
          (keyup)="validate($event.target.value)"
          (focus)="passwordValidation = true"
        />
        <cml-validations *ngIf="isFieldValid('password')"></cml-validations>
        <cml-password
          *ngIf="passwordValidation"
          [requireText]="requiredText"
          [requireNumber]="requiredNumber"
          [requireCharEs]="requiredCharacter"
          [minChar]="minCharacters"
          [msgText]="'validations.oneCapitalLetter' | translate"
          [msgNumber]="'validations.leastOneNumber' | translate"
          [msgCharEs]="'validations.includeCharacter' | translate"
          [msgminChar]="'validations.minimumOfCharacters' | translate"
        >
        </cml-password>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!--telefono-->
        <label for="phone">{{ "formBuilder.phone" | translate }} </label>
        <input
          [cmlOnlyNumber]="true"
          type="number"
          pattern="[0-9]*"
          inputmode="numeric"
          class="form-control"
          [ngClass]="displayFieldCss('phone')"
          id="phone"
          formControlName="phone"
          aria-describedby="phone"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('phone')"
          [errorMsg]="validations('formBuilder.phone')"
        >
        </cml-validations>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!--movil-->
        <label for="phone"
          >{{ "formBuilder.cellphone" | translate }}
          <span class="text-danger">(*)</span></label
        >
        <input
          [cmlOnlyNumber]="true"
          type="number"
          pattern="[0-9]*"
          inputmode="numeric"
          class="form-control"
          [ngClass]="displayFieldCss('cellphone')"
          id="cellphone"
          formControlName="cellphone"
          aria-describedby="cellphone"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('cellphone')"
          [errorMsg]="validations('formBuilder.cellphone')"
        >
        </cml-validations>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!--pais-->
        <label for="country_id"
          >{{ "formBuilder.country" | translate }}
          <span class="text-danger">(*)</span></label
        >
        <select
          class="form-control"
          [ngClass]="displayFieldCss('country_id')"
          id="country_id"
          formControlName="country_id"
          aria-describedby="country_id"
          (change)="onDefaultValuesStateAndCountry()"
        >
          <option [ngValue]="null">
            {{ "inputs.optionSelect" | translate }}
          </option>
          <option [ngValue]="country.id" *ngFor="let country of countries">
            {{ country.name }}
          </option>
        </select>
        <cml-validations
          *ngIf="isFieldValid('country_id')"
          [errorMsg]="validations('formBuilder.country')"
        >
        </cml-validations>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!--cod postal-->
        <label for="zip_code"
          >{{ "formBuilder.zip_code" | translate }}
          <span class="text-danger">(*)</span></label
        >
        <input
          type="text"
          class="form-control"
          [ngClass]="displayFieldCss('zip_code')"
          id="zip_code"
          maxlength="10"
          formControlName="zip_code"
          aria-describedby="zip_code"
          placeholder=""
          (blur)="onBlurZipCode('zip_code')"
        />
        <cml-validations
          *ngIf="isFieldValid('zip_code')"
          [errorMsg]="validations('formBuilder.zip_code')"
        >
        </cml-validations>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!--habilitar-->
        <div class="bg-light p-3 text-dark d-flex rounded">
          <input
            type="checkbox"
            [checked]="shouldEnableStateAndCity"
            (click)="shouldStateAndCity()"
            id="regular"
            aria-describedby="regular"
          />
          <label for="regular" class="mx-2">
            {{ "checkbox.shouldStateAndCity" | translate }}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!--estado-->
        <label for="state"
          >{{ "formBuilder.state" | translate }}
          <span class="text-danger">(*)</span></label
        >
        <input
          type="text"
          class="form-control"
          [ngClass]="displayFieldCss('state')"
          id="state"
          maxlength="15"
          formControlName="state"
          aria-describedby="state"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('state')"
          [errorMsg]="validations('formBuilder.state')"
        >
        </cml-validations>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!--ciudad-->
        <label for="city"
          >{{ "formBuilder.city" | translate }}
          <span class="text-danger">(*)</span></label
        >
        <input
          type="text"
          class="form-control"
          [ngClass]="displayFieldCss('city')"
          id="city"
          maxlength="15"
          formControlName="city"
          aria-describedby="city"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('city')"
          [errorMsg]="validations('formBuilder.city')"
        >
        </cml-validations>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!--direccion-->
        <label for="address"
          >{{ "formBuilder.address" | translate }}
          <span class="text-danger">(*)</span></label
        >
        <textarea
          class="form-control"
          [ngClass]="displayFieldCss('address')"
          id="address"
          rows="1"
          formControlName="address"
          aria-describedby="address"
          placeholder=""
        ></textarea>
        <cml-validations
          *ngIf="isFieldValid('address')"
          [errorMsg]="validations('formBuilder.address')"
        >
        </cml-validations>
      </div>
    </div>
  </div>
  <div class="row">
    <ng-container [ngSwitch]="submitted">
      <ng-template [ngSwitchCase]="true">
        <div class="col col-md col-lg text-center">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </ng-template>
      <ng-template [ngSwitchCase]="false">
        <div class="col col-md col-lg">
          <button type="submit" class="btn btn-primary btn-block">
            {{ "formButton.save" | translate }}
          </button>
        </div>
      </ng-template>
    </ng-container>
  </div>
</form>
