<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title" *ngIf="title" [title]="title">
    {{ title }}
    <p *ngIf="subtitle" class="mb-0">{{ subtitle }}</p>
  </h4>
  <button
    type="button"
    class="close text-danger border-0"
    aria-label="Close"
    (click)="onCloseNgbModal()"
  >
    <i class="fa fa-window-close" aria-hidden="true"></i>
  </button>
</div>
<div class="modal-body">
  <ng-content></ng-content>
</div>
