//
// Sizing
//

.w {
  &-20 {
    width: 20% !important;
  }
}

.mw {
  &-15 {
    max-width: 15% !important;
  }

  &-30 {
    max-width: 30% !important;
  }
}

.mh {
  &-120 {
    height: 120px;
  }
  &-100 {
    min-height: 100%;
  }
  &-90 {
    min-height: 90vh;
  }
}

.h-10 {
  height: 10%;
  margin-left: -35px;
}
