<div class="container">
  <div class="wrapper-content align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-5 col-lg-5">
          <form (ngSubmit)="onSubmit()" [formGroup]="recovery">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col col-md col-lg">
                    <div class="form-group">
                      <label for="email">{{
                        "auth.recovery_password" | translate
                      }}</label>
                      <input
                        type="email"
                        class="form-control"
                        [ngClass]="displayFieldCss('email')"
                        id="email"
                        formControlName="email"
                        aria-describedby="email"
                        placeholder="email@example.com"
                      />
                      <cml-validations
                        *ngIf="isFieldValid('email')"
                        [errorMsg]="validations('auth.recovery_password')"
                      >
                      </cml-validations>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div type="submit" class="col col-md col-lg">
                    <button class="btn btn-primary btn-block">
                      {{ "auth.recovery_send" | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
