<section>
    <ng-template #ngbPackage let-ngmodal>
        <cml-modal title="{{
        (isEditing ? 'ngbModal.updateService' : 'ngbModal.createService')
          | translate
      }}" [size]="true" (onClose)="onCloseNgbModal()">
            <cml-package [isEditing]="isEditing" [pack]="package" [countries]="countries" (shouldMakePackage)="shouldMakePackage($event)" (shoulderUpdatePackage)="shoulderUpdatePackage($event)" (onClose)="onCloseNgbModal()"></cml-package>
        </cml-modal>
    </ng-template>
    <ng-template #ngbView let-ngmodal>
        <cml-modal [title]="getNameCountry(viewService.country) + ' ' + viewService.name" [size]="true" (onClose)="onCloseNgbModal()">
            <cml-display-service [service]="viewService"></cml-display-service>
        </cml-modal>
    </ng-template>
    <div class="row justify-content-center">
        <div class="col col-md col-lg">
            <div class="container bg-white rounded shadow">
                <div class="table-responsive">
                    <table class="table table-fixeded table-striped mx-auto">
                        <thead>
                            <tr>
                                <th colspan="10" class="border-top-0">
                                    <span class="text-uppercase">
                    {{ "tableTitle.packages" | translate }}
                  </span>
                                    <span class="float-right">
                    <button
                      type="button"
                      class="btn btn-primary text-uppercase btn-sm"
                      (click)="shouldToggleCreate(ngbPackage)"
                      *ngIf="toggleButtonByTierId(2)"
                    >
                      {{ "tableAction.generatePackage" | translate }}
                    </button>
                  </span>
                                </th>
                            </tr>
                            <tr>
                                <th scope="col">
                                    <input type="text" id="search_country" class="form-control" maxlength="90" aria-describedby="search_country" placeholder="{{
                      'inputPlaceHolder.search_country' | translate
                    }}" [(ngModel)]="search.country" (keyup.enter)="onKey('country')" (focus)="clearInput('country')" />
                                </th>
                                <th scope="col">
                                    <input type="text" id="search_name" class="form-control" maxlength="90" aria-describedby="search_name" placeholder="{{
                      'inputPlaceHolder.search_name' | translate
                    }}" [(ngModel)]="search.name" (keyup.enter)="onKey('name')" (focus)="clearInput('name')" />
                                </th>
                                <th scope="col">
                                    <input type="text" id="search_description" class="form-control" maxlength="90" aria-describedby="search_description" placeholder="{{
                      'inputPlaceHolder.search_description' | translate
                    }}" [(ngModel)]="search.description" (keyup.enter)="onKey('description')" (focus)="clearInput('description')" />
                                </th>
                                <th colspan="5" scope="col" class="text-left">
                                    <button type="button" class="btn btn-primary mx-1 btn-sm" (click)="searchButton()">
                    <i class="fa fa-search"></i>
                  </button>
                                    <button type="button" (click)="clear()" class="btn btn-secondary mx-1 btn-sm">
                    <i class="fa fa-eraser"></i>
                  </button>
                                </th>
                            </tr>
                            <tr>
                                <th class="bg-table" scope="col" style="padding-right: 30px; padding-left: 50px">
                                    {{ "tableRender.country" | translate }}
                                </th>
                                <th class="bg-table" scope="col" style="padding-right: 100px; padding-left: 70px">
                                    {{ "tableRender.name" | translate }}
                                </th>
                                <th class="bg-table" scope="col" style="padding-right: 70px; padding-left: 0px; width: 260px">
                                    {{ "tableRender.description" | translate }}
                                </th>
                                <th class="bg-table" scope="col" *ngIf="toggleButtonByOnlyAdmin()">
                                    {{ "tableRender.price" | translate }} <br /> {{ "formBuilder.basePrice" | translate }}
                                </th>
                                <th class="bg-table" scope="col" *ngIf="toggleButtonByTierAgency(2)">
                                    {{ "tableRender.price" | translate }} <br /> {{ "formBuilder.corporatePrice" | translate }}
                                </th>
                                <th class="bg-table" scope="col" *ngIf="toggleButtonByTierAgency(1)">
                                    {{ "tableRender.price" | translate }} <br /> {{ "tableRender.agency" | translate }}
                                </th>
                                <th class="bg-table" scope="col">
                                    {{ "tableRender.price" | translate }} <br /> {{ "formBuilder.publicPrice" | translate }}
                                </th>
                                <th class="bg-table text-center" scope="col" *ngIf="toggleButtonByOnlyAdmin()">
                                    {{ "tableRender.actions" | translate }}
                                </th>
                            </tr>
                            <tr *ngIf="submitted">
                                <th colspan="8">
                                    <cml-loading [loading]="submitted" color="text-primary"></cml-loading>
                                </th>
                            </tr>
                            <tr *ngIf="!submitted && (!packages || packages.length === 0)">
                                <th colspan="8">
                                    {{ "tableLength.packages" | translate }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let package of packages; let key = index" class="pointer" (click)="openViewService(ngbView, key)">
                                <td class="text-center">
                                    {{ getCountryName(package.country) }}
                                </td>
                                <td class="text-center">
                                    {{ getPackageName(package) }}
                                </td>
                                <td class="text-center">
                                    {{ getPackageDescription(package) }}
                                </td>
                                <td class="text-lg-right" *ngIf="toggleButtonByOnlyAdmin()">
                                    {{ getPriceByTierId(package) | currency: "USD" }}
                                </td>
                                <td *ngIf="toggleButtonByTierAgency(2)" class="text-lg-right">
                                    {{ package.corporate_price | currency: "USD" }}
                                </td>
                                <td *ngIf="toggleButtonByTierAgency(1)" class="text-lg-right">
                                    {{ package.agency_price | currency: "USD" }}
                                </td>
                                <td class="text-lg-right">
                                    {{ package.public_price | currency: "USD" }}
                                </td>
                                <td class="text-center" scope="row" *ngIf="toggleButtonByOnlyAdmin()" (click)="$event.stopPropagation()">
                                    <button type="button" (click)="shouldToggleUpdate(ngbPackage, package.id)" class="btn btn-primary mx-1 btn-sm" *ngIf="toggleButtonByTierId(3)">
                    <i class="fa fa-edit"></i>
                  </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>