<div class="container">
  <div class="row justify-content-center my-3">
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
      <form
        (ngSubmit)="onSubmit()"
        [formGroup]="information"
        autocomplete="off"
      >
        <div class="card bg-white rounded shadow">
          <div class="card-header">
            <h6 class="text-center" style="color: #004085">
              {{ "formBuilder.alphanumeric" | translate }}
              {{ alphanumeric() }}
            </h6>
          </div>
          <div class="card-body">
            <div class="row" *ngIf="!!errors">
              <div class="col-12 col-sm-12 col-md col-lg">
                <cml-errors [errors]="errors"></cml-errors>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md col-lg text-center">
                    <div class="form-group" *ngIf="imageSrc">
                      <img
                        [src]="imageSrc"
                        class="img-fluid mw-30 mh-120 rounded-circle my-2"
                      />
                    </div>
                    <div class="col col-md-4 col-lg-4 mx-auto">
                      <div class="form-group">
                        <input
                          type="file"
                          class="form-control-file"
                          [ngClass]="displayFieldCss('image')"
                          id="image"
                          formControlName="image"
                          aria-describedby="image"
                          accept="image/*"
                          (change)="onFileChanged($event)"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="name">
                        {{ "formBuilder.name" | translate }}
                        <span class="text-danger">(*)</span>
                      </label>
                      <input
                        type="text"
                        class="form-control"
                        [ngClass]="displayFieldCss('name')"
                        id="name"
                        maxlength="100"
                        formControlName="name"
                        aria-describedby="name"
                      />
                      <cml-validations
                        *ngIf="isFieldValid('name')"
                        [errorMsg]="validations('formBuilder.name')"
                      >
                      </cml-validations>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="identification_id">
                        {{ "formBuilder.identificationId" | translate }}
                        <span class="text-danger">(*)</span>
                      </label>
                      <input
                        type="text"
                        class="form-control"
                        [ngClass]="displayFieldCss('identification_id')"
                        id="identification_id"
                        maxlength="15"
                        formControlName="identification_id"
                        aria-describedby="identification_id"
                      />
                      <cml-validations
                        *ngIf="isFieldValid('identification_id')"
                        [errorMsg]="validations('formBuilder.identificationId')"
                      >
                      </cml-validations>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="phone">
                        {{ "formBuilder.phone" | translate }}
                      </label>
                      <input
                        [cmlOnlyNumber]="true"
                        type="number"
                        pattern="[0-9]*"
                        inputmode="numeric"
                        class="form-control"
                        [ngClass]="displayFieldCss('phone')"
                        id="phone"
                        formControlName="phone"
                        aria-describedby="phone"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="cellphone">
                        {{ "formBuilder.cellphone" | translate }}
                      </label>
                      <input
                        [cmlOnlyNumber]="true"
                        type="number"
                        pattern="[0-9]*"
                        inputmode="numeric"
                        class="form-control"
                        [ngClass]="displayFieldCss('cellphone')"
                        id="cellphone"
                        formControlName="cellphone"
                        aria-describedby="cellphone"
                        placeholder="Enter your cellphone"
                      />
                    </div>
                    <cml-validations
                      *ngIf="isFieldValid('cellphone')"
                      [errorMsg]="validations('formBuilder.cellphone')"
                    >
                    </cml-validations>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="country_id">
                        {{ "formBuilder.country" | translate }}
                        <span class="text-danger">(*)</span>
                      </label>
                      <select
                        class="form-control"
                        [ngClass]="displayFieldCss('country_id')"
                        id="country_id"
                        formControlName="country_id"
                        aria-describedby="country_id"
                        (change)="onDefaultValuesStateAndCountry()"
                      >
                        <option [ngValue]="null">
                          {{ "inputs.optionSelect" | translate }}
                        </option>
                        <option
                          [ngValue]="country.id"
                          *ngFor="let country of countries"
                        >
                          {{ country.name }}
                        </option>
                      </select>
                      <cml-validations
                        *ngIf="isFieldValid('country_id')"
                        [errorMsg]="validations('formBuilder.country')"
                      >
                      </cml-validations>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="zip_code">
                        {{ "formBuilder.zip_code" | translate }}
                        <span class="text-danger">(*)</span>
                      </label>
                      <input
                        type="text"
                        maxlength="10"
                        class="form-control"
                        [ngClass]="displayFieldCss('zip_code')"
                        id="zip_code"
                        formControlName="zip_code"
                        aria-describedby="zip_code"
                        (blur)="onBlurZipCode('zip_code', false)"
                      />
                      <cml-validations
                        *ngIf="isFieldValid('zip_code')"
                        [errorMsg]="validations('formBuilder.zip_code')"
                      >
                      </cml-validations>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <!-- habilitar -->
                      <div class="bg-light p-3 text-dark d-flex rounded">
                        <input
                          type="checkbox"
                          [checked]="shouldEnableStateAndCity"
                          (click)="shouldStateAndCity()"
                          id="regular"
                          aria-describedby="regular"
                        />
                        <label for="regular" class="mx-2">
                          {{ "checkbox.shouldStateAndCity" | translate }}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="state">
                        {{ "formBuilder.state" | translate }}
                        <span class="text-danger">(*)</span>
                      </label>
                      <input
                        type="text"
                        class="form-control"
                        [ngClass]="displayFieldCss('state')"
                        id="state"
                        maxlength="15"
                        formControlName="state"
                        aria-describedby="state"
                        placeholder="Enter your state"
                      />
                      <cml-validations
                        *ngIf="isFieldValid('state')"
                        [errorMsg]="validations('formBuilder.state')"
                      >
                      </cml-validations>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="city">
                        {{ "formBuilder.city" | translate }}
                        <span class="text-danger">(*)</span>
                      </label>
                      <input
                        type="text"
                        class="form-control"
                        [ngClass]="displayFieldCss('city')"
                        id="city"
                        maxlength="15"
                        formControlName="city"
                        aria-describedby="city"
                        placeholder="Enter your city"
                      />
                      <cml-validations
                        *ngIf="isFieldValid('city')"
                        [errorMsg]="validations('formBuilder.city')"
                      >
                      </cml-validations>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="user.tier === 1">
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="password"
                        >{{ "formBuilder.password" | translate }}
                        <span class="text-danger">(*)</span></label
                      >
                      <input
                        type="password"
                        class="form-control"
                        [ngClass]="displayFieldCss('password')"
                        id="password"
                        maxlength="30"
                        formControlName="password"
                        aria-describedby="password"
                        placeholder="••••••••••"
                        (blur)="getValidationRegex()"
                        (keyup)="validate($event.target.value)"
                        (focus)="fPass()"
                      />
                      <cml-validations *ngIf="isFieldValid('password')">
                      </cml-validations>
                      <cml-password
                        *ngIf="validatePass"
                        [requireText]="requireText"
                        [requireNumber]="requireNumber"
                        [requireCharEs]="requireCharEs"
                        [minChar]="minChar"
                        [msgText]="'validations.oneCapitalLetter' | translate"
                        [msgNumber]="'validations.leastOneNumber' | translate"
                        [msgCharEs]="'validations.includeCharacter' | translate"
                        [msgminChar]="
                          'validations.minimumOfCharacters' | translate
                        "
                      >
                      </cml-password>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="address">
                        {{ "formBuilder.address" | translate }}
                        <span class="text-danger">(*)</span>
                      </label>
                      <textarea
                        class="form-control"
                        [ngClass]="displayFieldCss('address')"
                        id="address"
                        rows="3"
                        formControlName="address"
                        aria-describedby="address"
                        placeholder="Enter your address"
                      ></textarea>
                      <cml-validations
                        *ngIf="isFieldValid('address')"
                        [errorMsg]="validations('formBuilder.address')"
                      >
                      </cml-validations>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="user.tier === 1">
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="app_ios">
                        {{ "formBuilder.app_ios" | translate }}
                        <span class="text-danger">(*)</span>
                      </label>
                      <input
                        type="text"
                        class="form-control"
                        [ngClass]="displayFieldCss('app_ios')"
                        id="app_ios"
                        maxlength="190"
                        formControlName="app_ios"
                        aria-describedby="app_ios"
                      />
                      <cml-validations
                        *ngIf="isFieldValid('app_ios')"
                        [errorMsg]="validations('formBuilder.app_ios')"
                      >
                      </cml-validations>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="app_android">
                        {{ "formBuilder.app_android" | translate }}
                        <span class="text-danger">(*)</span>
                      </label>
                      <input
                        type="text"
                        class="form-control"
                        [ngClass]="displayFieldCss('app_android')"
                        id="app_android"
                        maxlength="190"
                        formControlName="app_android"
                        aria-describedby="app_android"
                      />
                      <cml-validations
                        *ngIf="isFieldValid('app_android')"
                        [errorMsg]="validations('formBuilder.app_android')"
                      >
                      </cml-validations>
                    </div>
                  </div>
                </div>
                <div class="bg-light rounded p-2 mb-2" *ngIf="user.tier === 1">
                  <h6 class="text-uppercase text-center text-secondary">
                    {{ "formBuilder.consolidation" | translate }}
                  </h6>
                  <div class="row">
                    <div class="col-12 col-sm-12 col-md col-lg">
                      <div class="form-group">
                        <label for="consolidation_zip_code">
                          {{ "formBuilder.zip_code" | translate }}
                          <span class="text-danger">(*)</span>
                        </label>
                        <input
                          type="text"
                          maxlength="10"
                          class="form-control"
                          [ngClass]="displayFieldCss('consolidation_zip_code')"
                          id="consolidation_zip_code"
                          formControlName="consolidation_zip_code"
                          aria-describedby="consolidation_zip_code"
                          (blur)="onBlurZipCode('consolidation_zip_code', true)"
                        />
                        <cml-validations
                          *ngIf="isFieldValid('consolidation_zip_code')"
                          [errorMsg]="validations('formBuilder.zip_code')"
                        >
                        </cml-validations>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-12 col-md col-lg">
                      <div class="form-group">
                        <!-- habilitar -->
                        <div class="text-dark">
                          <input
                            type="checkbox"
                            [checked]="enableStateAndCityConsolidation"
                            (click)="shouldConsolidation()"
                            id="check"
                            aria-describedby="check"
                          />
                          <label for="check" class="mx-2">
                            {{ "checkbox.shouldStateAndCity" | translate }}
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-12 col-md col-lg">
                      <div class="form-group">
                        <label for="consolidation_state">
                          {{ "formBuilder.state" | translate }}
                          <span class="text-danger">(*)</span>
                        </label>
                        <input
                          type="text"
                          class="form-control"
                          [ngClass]="displayFieldCss('consolidation_state')"
                          id="consolidation_state"
                          maxlength="15"
                          formControlName="consolidation_state"
                          aria-describedby="consolidation_state"
                        />
                        <cml-validations
                          *ngIf="isFieldValid('consolidation_state')"
                          [errorMsg]="validations('formBuilder.state')"
                        >
                        </cml-validations>
                      </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md col-lg">
                      <div class="form-group">
                        <label for="consolidation_city">
                          {{ "formBuilder.city" | translate }}
                          <span class="text-danger">(*)</span>
                        </label>
                        <input
                          type="text"
                          class="form-control"
                          [ngClass]="displayFieldCss('consolidation_city')"
                          id="consolidation_city"
                          maxlength="15"
                          formControlName="consolidation_city"
                          aria-describedby="consolidation_city"
                        />
                        <cml-validations
                          *ngIf="isFieldValid('consolidation_city')"
                          [errorMsg]="validations('formBuilder.city')"
                        >
                        </cml-validations>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-12 col-md col-lg">
                      <div class="form-group">
                        <label for="consolidation_address">
                          {{ "formBuilder.address" | translate }}
                          <span class="text-danger">(*)</span>
                        </label>
                        <textarea
                          class="form-control"
                          [ngClass]="displayFieldCss('consolidation_address')"
                          id="consolidation_address"
                          rows="3"
                          formControlName="consolidation_address"
                          aria-describedby="consolidation_address"
                        ></textarea>
                        <cml-validations
                          *ngIf="isFieldValid('consolidation_address')"
                          [errorMsg]="validations('formBuilder.address')"
                        >
                        </cml-validations>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="onToggleByRole(9) || !!user.invitation">
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <label for="referralLink">
                      {{ "formBuilder.referralLink" | translate }}
                      <span class="text-primary">
                        {{ "formBuilder.clipboard" | translate }}
                      </span>
                    </label>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span
                            class="input-group-text pointer"
                            (click)="callServiceToCopy()"
                          >
                            <i class="fa fa-copy"></i>
                          </span>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          id="referralLink"
                          formControlName="referralLink"
                          aria-describedby="referralLink"
                          #clipboard
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-md col-lg" *ngIf="!submitted">
                    <button type="submit" class="btn btn-primary btn-block">
                      {{ "formButton.save" | translate }}
                    </button>
                  </div>
                  <div class="col col-md col-lg text-center" *ngIf="submitted">
                    <div class="spinner-border text-primary" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
                </div>
                <div class="row mt-2" *ngIf="!!!isCancel && user.type_pay > 0">
                  <div class="col col-md col-lg text-center text-primary">
                    <div class="form-group">
                      <span class="pointer" (click)="showCancel()">{{
                        "memberships.cancel" | translate
                      }}</span>
                    </div>
                  </div>
                </div>
                <div class="alert alert-danger p-2 my-2" *ngIf="!!errorCancel">
                  <h6 class="text-center text-danger font-weight-normal">
                    <span>
                      {{ "errors.ERROR_CANCEL" | translate }}
                    </span>
                  </h6>
                </div>
                <div
                  class="alert alert-warning p-2 my-2"
                  *ngIf="!!isCancel && user.type_pay > 0"
                >
                  <h6 class="text-center text-primary font-weight-normal">
                    <span class="pointer" (click)="showCancel()">{{
                      "memberships.hide" | translate
                    }}</span>
                  </h6>
                  <h6 class="text-center font-weight-normal">
                    <p class="text-justify">
                      {{ "memberships.options" | translate }}
                    </p>
                  </h6>
                  <div class="row justify-content-center">
                    <div
                      class="btn-group"
                      role="group"
                      aria-label="Basic example"
                    >
                      <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="changeOrCancel(0)"
                      >
                        <small>{{ "memberships.change" | translate }}</small>
                      </button>
                      <button
                        type="button"
                        class="btn btn-danger"
                        (click)="changeOrCancel(1)"
                      >
                        <small>{{ "memberships.cancel" | translate }}</small>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
