<section>
  <ng-template #ngbProfile let-ngmodal>
    <cml-modal
      title="{{
        (isEditing ? 'ngbModal.updateProfile' : 'ngbModal.createProfile')
          | translate
      }}"
      [size]="false"
      (onClose)="onCloseNgbModal()"
    >
      <form (ngSubmit)="onSubmit()" [formGroup]="profile" autocomplete="off">
        <div class="row" *ngIf="!!errors">
          <div class="col col-md col-lg">
            <cml-errors [errors]="errors"></cml-errors>
          </div>
        </div>
        <div class="row">
          <div class="col col-md col-lg">
            <div class="form-group">
              <label for="name"
                >{{ "formBuilder.name" | translate }}
                <span class="text-danger">(*)</span></label
              >
              <input
                type="text"
                class="form-control"
                [ngClass]="displayFieldCss('name')"
                id="name"
                maxlength="30"
                formControlName="name"
                aria-describedby="name"
                placeholder=""
              />
              <cml-validations
                *ngIf="isFieldValid('name')"
                [errorMsg]="validations('formBuilder.name')"
              >
              </cml-validations>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-md col-lg">
            <div class="form-group">
              <label for="name_en"
                >{{ "formBuilder.translate_profile" | translate }}
                <span class="text-danger">(*)</span></label
              >
              <input
                type="text"
                class="form-control"
                [ngClass]="displayFieldCss('name_en')"
                id="name_en"
                maxlength="30"
                formControlName="name_en"
                aria-describedby="name_en"
                placeholder=""
              />
              <cml-validations
                *ngIf="isFieldValid('name_en')"
                [errorMsg]="validations('formBuilder.translate_profile')"
              >
              </cml-validations>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!submitted">
          <div class="col col-md col-lg">
            <button type="submit" class="btn btn-primary btn-block">
              {{ "formButton.save" | translate }}
            </button>
          </div>
        </div>
        <cml-loading [loading]="submitted" color="text-primary"></cml-loading>
      </form>
    </cml-modal>
  </ng-template>

  <div class="row justify-content-center">
    <div class="col col-md col-lg">
      <div class="container bg-white rounded shadow">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th colspan="3" class="border-top-0">
                  <span class="text-uppercase">
                    {{ "tableTitle.profiles" | translate }}
                  </span>
                  <span class="float-right">
                    <button
                      type="button"
                      class="btn btn-primary text-uppercase btn-sm"
                      (click)="shouldToggleCreate(ngbProfile)"
                    >
                      {{ "tableAction.generateProfile" | translate }}
                    </button>
                  </span>
                </th>
              </tr>
              <tr>
                <th class="bg-table" scope="col">
                  {{ "tableRender.id" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.name" | translate }}
                </th>
                <th class="bg-table text-center" scope="col">
                  {{ "tableRender.actions" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="isLoading">
                <td colspan="3">
                  <cml-loading
                    [loading]="isLoading"
                    color="text-primary"
                  ></cml-loading>
                </td>
              </tr>
              <tr *ngIf="!isLoading && (!profiles || profiles.length === 0)">
                <td colspan="3">
                  {{ "tableLength.profiles" | translate }}
                </td>
              </tr>
              <tr *ngFor="let profile of profiles; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td scope="row">{{ profile.name }}</td>
                <td class="text-center">
                  <button
                    type="button"
                    (click)="shouldToggleUpdate(ngbProfile, profile.id)"
                    class="btn btn-primary mx-1 btn-sm"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button
                    type="button"
                    (click)="shouldToggleDelete(profile.id)"
                    class="btn btn-danger mx-1 btn-sm"
                    *ngIf="profile.type"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
