<div class="container">
  <div class="row justify-content-center my-3">
    <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
      <form (ngSubmit)="onSubmit()" [formGroup]="bancking" autocomplete="off">
        <div class="card bg-white rounded shadow">
          <div class="card-header">
            <h6 class="text-center" style="color: #004085">
              {{ "formBuilder.alphanumeric" | translate }}
              {{ alphanumeric() }}
            </h6>
          </div>
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div *ngIf="user.tier === 12 || user.tier === 13">
                  <div class="row" *ngIf="!!!user.paypal">
                    <div class="col-12 col-sm-12 col-md col-lg">
                      <div class="form-group text-center">
                        <span class="mx-auto">
                          <cml-paypal-checkout></cml-paypal-checkout>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="!!user.paypal">
                    <div class="row">
                      <div class="col-12 col-sm-12 col-md col-lg">
                        <div class="form-group text-center">
                          <span class="mx-auto text-center">
                            <img
                              src="../../../assets/img/paypal.png"
                              width="50px"
                            />
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-sm-12 col-md col-lg">
                        <div class="form-group text-center">
                          <span class="mx-auto text-center text-success">
                            {{ user.paypal.email }}
                            <i
                              class="fa fa-check-circle"
                              aria-hidden="true"
                            ></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    class="row justify-content-center"
                    style="margin-bottom: -15px"
                  >
                    <small class="text-secondary" *ngIf="!!!user.paypal"
                      >or</small
                    >
                  </div>
                  <hr />
                </div>
                <div class="row" *ngIf="!!errors">
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <cml-errors [errors]="errors"></cml-errors>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="headline">
                        {{ "formBuilder.headline" | translate }}
                        <span class="text-danger">(*)</span>
                      </label>
                      <input
                        type="text"
                        class="form-control"
                        [ngClass]="displayFieldCss('headline')"
                        id="headline"
                        maxlength="120"
                        formControlName="headline"
                        aria-describedby="headline"
                      />
                      <cml-validations
                        *ngIf="isFieldValid('headline')"
                        [errorMsg]="validations('formBuilder.headline')"
                      >
                      </cml-validations>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="account_number">
                        {{ "formBuilder.account_number" | translate }}
                        <span class="text-danger">(*)</span>
                      </label>
                      <input
                        [cmlOnlyNumber]="true"
                        type="number"
                        pattern="[0-9]*"
                        inputmode="numeric"
                        class="form-control"
                        [ngClass]="displayFieldCss('account_number')"
                        id="account_number"
                        maxlength="90"
                        formControlName="account_number"
                        aria-describedby="account_number"
                      />
                      <cml-validations
                        *ngIf="isFieldValid('account_number')"
                        [errorMsg]="validations('formBuilder.account_number')"
                      >
                      </cml-validations>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="interbank">
                        {{ "formBuilder.interbank" | translate }}
                        <span class="text-danger">(*)</span>
                      </label>
                      <input
                        [cmlOnlyNumber]="true"
                        type="number"
                        pattern="[0-9]*"
                        inputmode="numeric"
                        class="form-control"
                        [ngClass]="displayFieldCss('interbank')"
                        id="interbank"
                        maxlength="90"
                        formControlName="interbank"
                        aria-describedby="interbank"
                      />
                      <cml-validations
                        *ngIf="isFieldValid('interbank')"
                        [errorMsg]="validations('formBuilder.interbank')"
                      >
                      </cml-validations>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="institution">
                        {{ "formBuilder.institution" | translate }}
                        <span class="text-danger">(*)</span>
                      </label>
                      <input
                        type="text"
                        class="form-control"
                        [ngClass]="displayFieldCss('institution')"
                        id="institution"
                        maxlength="70"
                        formControlName="institution"
                        aria-describedby="institution"
                      />
                      <cml-validations
                        *ngIf="isFieldValid('institution')"
                        [errorMsg]="validations('formBuilder.institution')"
                      >
                      </cml-validations>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="tax_identification">
                        {{ "formBuilder.tax_identification" | translate }}
                        <span class="text-danger">(*)</span>
                      </label>
                      <input
                        type="text"
                        class="form-control"
                        [ngClass]="displayFieldCss('tax_identification')"
                        id="tax_identification"
                        maxlength="50"
                        formControlName="tax_identification"
                        aria-describedby="tax_identification"
                      />
                      <cml-validations
                        *ngIf="isFieldValid('tax_identification')"
                        [errorMsg]="
                          validations('formBuilder.tax_identification')
                        "
                      >
                      </cml-validations>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <ng-container [ngSwitch]="submitted">
                    <ng-template [ngSwitchCase]="true">
                      <div class="col col-md col-lg text-center">
                        <div class="spinner-border text-primary" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template [ngSwitchCase]="false">
                      <div class="col col-md col-lg">
                        <button type="submit" class="btn btn-primary btn-block">
                          {{ "formButton.save" | translate }}
                        </button>
                      </div>
                    </ng-template>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
