<div class="row justify-content-center my-2">
  <div
    class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 bg-white rounded shadow py-2"
  >
    <div class="container">
      <div class="row border">
        <div
          class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center border-right"
        >
          <img
            [src]="user.image_admin ? user.image_admin : 'assets/img/logo.png'"
            class="img-fluid w-80"
          />
        </div>
        <div
          class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 msgInfo border-right"
        >
          <p class="txt-title">{{ "cardContent.attention" | translate }}</p>
          {{ "cardContent.msgInfo" | translate }}
        </div>
      </div>
      <div class="row border bg-grey-light">
        <div
          class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 border-right text-uppercase txt-title"
        >
          {{ "cardContent.remitter" | translate }}
        </div>
        <div
          class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-uppercase txt-title"
        >
          {{ "cardContent.receiver" | translate }}
        </div>
      </div>
      <div class="row border">
        <div
          class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 border-right remitter"
        >
          <p class="mb-0">
            {{ "cardText.name" | translate }}: {{ remitter.name }}
          </p>
          <p>
            {{ "cardText.address" | translate }}: {{ remitter.address }}, <br />
            {{ remitter.city }}, {{ remitter.state }}, {{ remitter.zip_code }},
            {{ getCountryName(remitter.person.country) }}
          </p>
          <p class="mb-0">
            {{ "cardText.cellphone" | translate }}:
            {{ formating(remitter.cellphone) }}
          </p>
          <p class="text-truncate">
            {{ "cardText.email" | translate }}: {{ remitter.email }}
          </p>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 receiver">
          <p class="mb-0">
            {{ "cardText.name" | translate }}: {{ receiver.name }}
          </p>
          <p>
            {{ "cardText.address" | translate }}: {{ receiver.address }}, <br />
            {{ receiver.city }}, {{ receiver.state }}, {{ receiver.zip_code }},
            {{ getCountryName(receiver.person.country) }},
          </p>
          <p class="mb-0">
            {{ "cardText.cellphone" | translate }}:
            {{ formating(receiver.cellphone) }}
          </p>
          <p class="text-truncate">
            {{ "cardText.email" | translate }}: {{ receiver.email }}
          </p>
        </div>
      </div>
      <div class="row bg-grey-light border">
        <div
          class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-uppercase txt-title"
        >
          {{ "cardContent.content" | translate }}
        </div>
      </div>
      <div class="row">
        <div class="content w-100">
          <div class="table-responsive">
            <table class="table mb-0 table-bordered">
              <thead class="text-center">
                <tr class="white-space-inherit">
                  <th>
                    {{ "tableRender.number" | translate }}
                  </th>
                  <th>
                    {{ "tableRender.description" | translate }} / <br />
                    {{ "tableRender.content" | translate }}
                  </th>
                  <th>
                    {{ "tableRender.price" | translate }}
                  </th>
                  <th>
                    {{ "tableRender.value" | translate }}
                  </th>
                </tr>
              </thead>
              <tbody class="text-center">
                <tr
                  *ngFor="let charge of charges; let key = index"
                  style="white-space: normal !important"
                >
                  <td>{{ key + 1 }}</td>
                  <td>
                    {{ getServiceName(charge) }} / <br />
                    {{ charge.content }}
                  </td>
                  <td>{{ charge.price | currency: "USD" }}</td>
                  <td>
                    {{ "tableRender.declared_value" | translate }}
                    {{ charge.declared | currency: "USD" }} <br />
                    {{ "tableRender.insured_value" | translate }}
                    {{ charge.insured_value | currency: "USD" }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row border border-bottom-0">
        <div
          class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 border-right border-bottom"
        >
          {{ "cardText.impost" | translate }}
        </div>
        <div
          class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 border-right border-bottom"
        >
          {{ getReduceAmount("impost") | currency: "USD" }}
        </div>
        <div
          class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 border-right border-bottom"
        >
          {{ "cardText.crossing" | translate }}
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 border-bottom">
          {{ getReduceAmount("crossing") | currency: "USD" }}
        </div>
        <div
          class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 border-right border-bottom"
        >
          {{ "cardText.insurance" | translate }}
        </div>
        <div
          class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 border-right border-bottom"
        >
          {{ getReduceAmount("insurance") | currency: "USD" }}
        </div>
        <div
          class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 border-right border-bottom"
        >
          {{ "cardText.nationalization" | translate }}
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 border-bottom">
          {{ getReduceAmount("nationalization") | currency: "USD" }}
        </div>
      </div>
      <div class="row text-center border border-top-0">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 border-right">
          <h3>{{ "cardText.total" | translate }}</h3>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 bg-grey-light">
          <h3>{{ getReduceAmount("cost") | currency: "USD" }}</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <p class="mb-0">
            {{ "tableRender.declared_value" | translate }}:
            {{ "cardForm.declared_value" | translate }}
          </p>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <p class="mb-0">
            {{ "tableRender.insured_value" | translate }}:
            {{ "cardForm.insuranced_value" | translate }}
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-md col-lg my-3 text-center" *ngIf="submitted">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div
        class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 py-2 float-right"
        *ngIf="!submitted"
      >
        <button
          type="button"
          class="btn mx-2 btn-danger float-right"
          (click)="goRoute(2)"
        >
          {{ "formButton.toReturn" | translate }}
        </button>
        <button
          type="button"
          class="btn mx-2 btn-primary float-right"
          (click)="goRoute(4)"
        >
          {{
            (isLocker ? "formButton.save" : "formButton.signature") | translate
          }}
        </button>
      </div>
    </div>
  </div>
</div>
