section.timeline {
  width: 100%;
  overflow-y: auto;
  display: inline-block;

  .page-header {
    border-bottom: 1px solid #eee;
  }
}

.timeline {
  list-style: none;
  padding: 20px;
  position: relative;

  &:before {
    top: 70px;
    bottom: 90px;
    position: absolute;
    content: " ";
    width: 1px;
    background-color: #eeeeee;
    left: 50%;
  }

  .timeline-item {
    margin-bottom: 20px;
    position: relative;

    &:before,
    &:after {
      content: "";
      display: table;
    }

    &:after {
      clear: both;
    }

    .timeline-badge {
      color: #fff;
      width: 54px;
      height: 54px;
      line-height: 45px;
      font-size: 22px;
      text-align: center;
      position: absolute;
      top: 18px;
      left: 50%;
      margin-left: -25px;
      background-color: #333;
      border: 3px solid #ffffff;
      z-index: 100;
      border-top-right-radius: 50%;
      border-top-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;

      i,
      .fa {
        top: 2px;
        left: 0px;
      }

      &.primary {
        background-color: #1f9eba;
      }
    }

    .timeline-panel {
      position: relative;
      width: 46%;
      float: left;
      right: 16px;
      border: 1px solid #777;
      background: #ffffff;
      border-radius: 2px;
      padding: 20px;
      -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);

      &:before {
        position: absolute;
        top: 23px;
        right: -16px;
        display: inline-block;
        border-top: 16px solid transparent;
        border-left: 16px solid #777;
        border-right: 0 solid #777;
        border-bottom: 16px solid transparent;
        content: " ";
      }

      h4.timeline-title {
        margin-top: 0;
        color: inherit;
        font-size: 1rem;
      }
    }

    &:nth-child(even) {
      .timeline-panel {
        float: right;
        left: 16px;

        &:before {
          border-left-width: 0;
          border-right-width: 14px;
          left: -14px;
          right: auto;
        }
      }
    }
  }
}
