<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="d-flex align-items-center payments">
          <ng-container *ngIf="!!productivity.user.paypal">
            <input
              type="radio"
              id="stripe"
              [value]="1"
              [(ngModel)]="paymentMethod"
              (click)="paymentMethod = 1"
            />
            <label for="paypal" class="text-uppercase mb-0 mx-3">
              <img
                src="assets/img/paypal-methods.png"
                width="100"
                title="{{ 'payment.paypal' | translate }}"
              />
            </label>
          </ng-container>
          <ng-container *ngIf="!!productivity.user.bancking">
            <input
              type="radio"
              id="transfer"
              [value]="2"
              [(ngModel)]="paymentMethod"
              (click)="paymentMethod = 2"
            />
            <label for="transfer" class="text-uppercase mb-0 mx-3">
              {{ "payment.transfer" | translate }}
            </label>
            <input
              type="radio"
              id="check"
              [value]="3"
              [(ngModel)]="paymentMethod"
              (click)="paymentMethod = 3"
            />
            <label for="check" class="text-uppercase mb-0 mx-3">
              {{ "payment.check" | translate }}
            </label>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!!errors && !!errors.length">
      <div class="col-12 col-sm-12 col-md col-lg">
        <cml-errors [errors]="errors"></cml-errors>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <ng-container [ngSwitch]="paymentMethod">
          <cml-paypal
            *ngSwitchCase="1"
            [submitted]="submitted"
            [grandTotal]="grandTotal"
            [proprietary]="productivity.email"
            (responsePaypal)="responsePaypal($event)"
          ></cml-paypal>
          <cml-transfer
            *ngSwitchCase="2"
            [data]="data"
            [submitted]="submitted"
            [grandTotal]="grandTotal"
            [formType]="1"
            (responseTransfer)="responseTransfer($event)"
          ></cml-transfer>
          <cml-deposit
            *ngSwitchCase="3"
            [data]="data"
            [submitted]="submitted"
            [grandTotal]="grandTotal"
            [transaction]="1"
            [formType]="1"
            (responseDeposit)="responseDeposit($event)"
          ></cml-deposit>
        </ng-container>
      </div>
    </div>
  </div>
</div>
