<section>
  <ng-template #ngbUserTransfer let-ngmodal>
    <cml-modal
      title="{{
        'ngbModal.transferLocker' | translate: { name: this.user.person.name }
      }}"
      [size]="true"
      (onClose)="onCloseNgbModal()"
    >
      <cml-assignments
        [resellers]="resellers"
        [user]="user"
        (onAssignmentUser)="onAssignmentUser($event)"
      ></cml-assignments>
    </cml-modal>
  </ng-template>

  <ng-template #ngbDisplayLocker let-ngmodal>
    <cml-modal
      [title]="displayLocker.person.name"
      [subtitle]="' (' + displayLocker.alphanumeric + ')'"
      [size]="true"
      (onClose)="onCloseNgbModal()"
    >
      <cml-display-user
        [user]="displayLocker"
        [userAgency]="true"
      ></cml-display-user>
    </cml-modal>
  </ng-template>

  <ng-template #ngbUserCreate let-ngmodal>
    <cml-modal
      title="{{ 'ngbModal.createLocker' | translate }}"
      [size]="true"
      (onClose)="onCloseNgbModal()"
    >
      <cml-form-user
        [type]="crud"
        [errors]="errors"
        [submitted]="submitted"
        [countries]="countries"
        (responseUser)="onSubmit($event)"
      ></cml-form-user>
    </cml-modal>
  </ng-template>

  <ng-template #ngbUserUpdate let-ngmodal>
    <cml-modal
      title="{{ 'ngbModal.updateUser' | translate }}"
      [size]="true"
      (onClose)="onCloseNgbModal()"
    >
      <cml-form-user
        [type]="crud"
        [errors]="errors"
        [submitted]="submitted"
        [countries]="countries"
        [data]="data"
        (responseUser)="onSubmit($event)"
      ></cml-form-user>
    </cml-modal>
  </ng-template>

  <div class="row justify-content-center">
    <div class="col col-md col-lg">
      <div class="container bg-white rounded shadow">
        <div class="table-responsive">
          <table class="table table-fixeded table-striped mx-auto">
            <thead>
              <tr>
                <th colspan="6" class="border-top-0">
                  <span class="text-uppercase">
                    {{ "tableTitle.lockers" | translate }}
                  </span>
                  <span
                    class="float-left float-sm-left float-md-right float-lg-right float-xl-right"
                    *ngIf="toggleButtonByTierId(2) && status === 1"
                  >
                    <button
                      type="button"
                      class="btn btn-primary text-uppercase btn-sm"
                      (click)="shouldToggleCreate(ngbUserCreate)"
                    >
                      {{ "tableAction.generateLocker" | translate }}
                    </button>
                  </span>
                </th>
              </tr>
              <tr>
                <th scope="col">
                  <input
                    type="text"
                    id="search_id"
                    class="form-control"
                    maxlength="90"
                    aria-describedby="search_id"
                    placeholder="{{ 'inputPlaceHolder.search_id' | translate }}"
                    [(ngModel)]="search.id"
                    (keyup.enter)="onKey('id')"
                    (focus)="clearInput('id')"
                  />
                </th>
                <th scope="col">
                  <input
                    type="text"
                    id="search_name"
                    class="form-control"
                    maxlength="90"
                    aria-describedby="search_name"
                    placeholder="{{
                      'inputPlaceHolder.search_name' | translate
                    }}"
                    [(ngModel)]="search.name"
                    (keyup.enter)="onKey('name')"
                    (focus)="clearInput('name')"
                  />
                </th>
                <th scope="col">
                  <input
                    type="text"
                    id="search_address"
                    class="form-control"
                    maxlength="90"
                    aria-describedby="search_address"
                    placeholder="{{ 'tableRender.email' | translate }}"
                    [(ngModel)]="search.email"
                    (keyup.enter)="onKey('email')"
                    (focus)="clearInput('email')"
                  />
                </th>
                <th scope="col">
                  <input
                    [cmlOnlyNumber]="true"
                    type="number"
                    pattern="[0-9]*"
                    inputmode="numeric"
                    id="search_phone"
                    class="form-control"
                    maxlength="90"
                    aria-describedby="search_phone"
                    placeholder="{{ 'tableRender.phone' | translate }}"
                    [(ngModel)]="search.phone"
                    (keyup.enter)="onKey('phone')"
                    (focus)="clearInput('phone')"
                  />
                </th>
                <th scope="col">
                  <input
                    [cmlOnlyNumber]="true"
                    type="number"
                    pattern="[0-9]*"
                    inputmode="numeric"
                    id="search_cellphone"
                    class="form-control"
                    maxlength="90"
                    aria-describedby="search_cellphone"
                    placeholder="{{ 'tableRender.cellphone' | translate }}"
                    [(ngModel)]="search.cellphone"
                    (keyup.enter)="onKey('cellphone')"
                    (focus)="clearInput('cellphone')"
                  />
                </th>
                <th scope="col" class="text-center">
                  <button
                    type="button"
                    class="btn btn-primary mx-1 btn-sm"
                    (click)="searchButton()"
                  >
                    <i class="fa fa-search"></i>
                  </button>
                  <button
                    type="button"
                    (click)="clear()"
                    class="btn btn-secondary mx-1 btn-sm"
                  >
                    <i class="fa fa-eraser"></i>
                  </button>
                  <button
                    type="button"
                    class="btn mx-1 btn-sm"
                    [ngClass]="status === 1 ? 'btn-success' : 'btn-danger'"
                    (click)="changeStatus()"
                  >
                    <i
                      class="fa"
                      [ngClass]="
                        status === 1 ? 'fa-toggle-on' : 'fa-toggle-off'
                      "
                    ></i>
                  </button>
                </th>
              </tr>
              <tr>
                <th class="bg-table" scope="col">
                  {{ "tableRender.id" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.name" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.email" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.phone" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.cellphone" | translate }}
                </th>
                <th class="bg-table text-center" scope="col">
                  {{ "tableRender.actions" | translate }}
                </th>
              </tr>
              <tr *ngIf="isLoading">
                <th colspan="6">
                  <cml-loading
                    [loading]="isLoading"
                    color="text-primary"
                  ></cml-loading>
                </th>
              </tr>
              <tr *ngIf="!isLoading && (!users || users?.length === 0)">
                <th colspan="6">
                  {{ "tableLength.lockers" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="pointer"
                *ngFor="let user of users; let key = index"
                (click)="isToggleLocker(ngbDisplayLocker, key)"
              >
                <th scope="row">
                  {{ user.alphanumeric }}
                </th>
                <td scope="row">
                  <span
                    class="d-inline-block text-truncate"
                    style="width: 150px"
                    data-toggle="tooltip"
                    [title]="user.person.name"
                  >
                    {{ user.person.name }}</span
                  >
                </td>
                <td scope="row">
                  {{ user.email }}
                </td>
                <td scope="row">
                  {{ user.person.format_phone }}
                </td>
                <td scope="row">
                  {{ user.person.format_cellphone }}
                </td>
                <td
                  class="text-center"
                  scope="row"
                  (click)="$event.stopPropagation()"
                >
                  <button
                    type="button"
                    (click)="shouldToggleStatus(user.id)"
                    class="btn btn-primary mx-1 btn-sm"
                    [ngClass]="user.status === 1 ? 'btn-success' : 'btn-danger'"
                    *ngIf="toggleButtonByTierId(8)"
                  >
                    <i
                      class="fa"
                      [ngClass]="
                        user.status === 1 ? 'fa-toggle-on' : 'fa-toggle-off'
                      "
                    ></i>
                  </button>
                  <button
                    type="button"
                    (click)="shouldToggleUpdate(ngbUserUpdate, user.id)"
                    class="btn btn-primary mx-1 btn-sm"
                    *ngIf="toggleButtonByTierId(3)"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button
                    type="button"
                    (click)="shouldTransferUser(ngbUserTransfer, user.id)"
                    class="btn btn-primary mx-1 btn-sm"
                    *ngIf="toggleButtonByTierId(7)"
                  >
                    <i class="fa fa-users-cog"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <cml-floating-home [show]="home"></cml-floating-home>
</section>
