<div class="container">
  <div class="wrapper-content align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-5 col-lg-5">
          <div class="card border-none shadow">
            <div class="row justify-content-center py-2">
              <div class="col text-center px-5">
                <img
                  src="../../../../assets/img/logo.png"
                  style="width: 100%; height: 180px"
                />
              </div>
            </div>
            <div class="card-body" *ngIf="!isError">
              <section class="text-center" *ngIf="isLoading">
                <div class="spinner-border text-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </section>
              <section class="text-center" *ngIf="!isLoading && isVerified">
                <h2 class="text-success">
                  {{ "messages.userVerified" | translate }}
                </h2>
                <h6 class="mt-4">{{ "auth.redirect" | translate }}</h6>
              </section>
              <section class="text-center" *ngIf="!isLoading && !isVerified">
                <h2 class="text-success">
                  {{ "messages.userUnverified" | translate }}
                </h2>
                <h6 class="mt-4">{{ "auth.redirect" | translate }}</h6>
              </section>
            </div>
            <div class="card-body" *ngIf="isError">
              <div class="row justify-content-center">
                <div class="col text-center px-5">
                  <a routerLink="/auth/login">
                    <button class="btn btn-primary">
                      {{ "auth.goToLogin" | translate }}
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
