//
// Background
//

.bg {
  &-grey {
    background-color: $grey;
    &-light {
      background-color: $grey-light;
    }
  }
  &-green {
    background-color: $green;
  }
}

.bg-blue {
  background: rgba(0, 123, 255, 0.5);
  border: none;
}
body {
  background: #f6f8f9;
}
