<section>
  <ng-template #ngbDisplayUser let-ngmodal>
    <cml-modal
      [title]="displayUser.person.name"
      [subtitle]="' (' + displayUser.alphanumeric + ')'"
      [size]="true"
      (onClose)="onCloseNgbModal()"
    >
      <cml-display-user
        [user]="displayUser"
        [userAgency]="true"
      ></cml-display-user>
    </cml-modal>
  </ng-template>

  <ng-template #ngbUser let-ngmodal>
    <cml-modal
      title="{{
        (isEditing ? 'ngbModal.updateUser' : 'ngbModal.createUser') | translate
      }}"
      [size]="true"
      (onClose)="onCloseNgbModal()"
    >
      <form (ngSubmit)="onSubmit()" [formGroup]="user" autocomplete="off">
        <div class="row" *ngIf="!!errors">
          <div class="col-12 col-sm-12 col-md col-lg">
            <cml-errors [errors]="errors"></cml-errors>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <!--nombre-->
              <label for="name"
                >{{ "formBuilder.name" | translate }}
                <span class="text-danger">(*)</span></label
              >
              <input
                type="text"
                class="form-control"
                [ngClass]="displayFieldCss('name')"
                id="name"
                maxlength="100"
                formControlName="name"
                aria-describedby="name"
                placeholder=""
              />
              <cml-validations
                *ngIf="isFieldValid('name')"
                [errorMsg]="validations('formBuilder.name')"
              >
              </cml-validations>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <!--nivel-->
              <label for="tier"
                >{{ "formBuilder.tier" | translate }}
                <span class="text-danger">(*)</span></label
              >
              <select
                class="form-control"
                [ngClass]="displayFieldCss('tier')"
                id="tier"
                formControlName="tier"
                aria-describedby="tier"
              >
                <option [ngValue]="null">
                  {{ "inputs.optionSelect" | translate }}
                </option>
                <option [value]="2">
                  {{ "tierId.management" | translate }}
                </option>
                <option [value]="3">
                  {{ "tierId.accounting" | translate }}
                </option>
                <option [value]="4">
                  {{ "tierId.support" | translate }}
                </option>
                <option [value]="6">
                  {{ "tierId.storer" | translate }}
                </option>
                <option [value]="7">
                  {{ "tierId.assistant" | translate }}
                </option>
                <option [value]="8">
                  {{ "tierId.driver" | translate }}
                </option>
                <option [value]="9">
                  {{ "tierId.dispatcher" | translate }}
                </option>
                <option [value]="10">
                  {{ "tierId.humanResources" | translate }}
                </option>
              </select>
              <cml-validations
                *ngIf="isFieldValid('tier')"
                [errorMsg]="validations('formBuilder.tier')"
              >
              </cml-validations>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <!--rol-->
              <label for="role">
                {{ "formBuilder.role" | translate }}
                <span class="text-danger">(*)</span>
              </label>
              <select
                class="form-control"
                [ngClass]="displayFieldCss('role')"
                id="role"
                formControlName="role"
                aria-describedby="role"
              >
                <option [ngValue]="null">
                  {{ "inputs.optionSelect" | translate }}
                </option>
                <option [value]="profile.id" *ngFor="let profile of profiles">
                  {{ profile.name }}
                </option>
              </select>
              <cml-validations
                *ngIf="isFieldValid('role')"
                [errorMsg]="validations('formBuilder.role')"
              >
              </cml-validations>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <!--email-->
              <label for="email"
                >{{ "formBuilder.email" | translate }}
                <span class="text-danger">(*)</span></label
              >
              <input
                type="text"
                class="form-control"
                [ngClass]="displayFieldCss('email')"
                id="email"
                maxlength="50"
                formControlName="email"
                aria-describedby="email"
                placeholder=""
              />
              <cml-validations
                *ngIf="isFieldValid('email')"
                [errorMsg]="validations('formBuilder.email')"
              >
              </cml-validations>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <!--contraseña-->
              <label for="password"
                >{{ "formBuilder.password" | translate }}
                <span class="text-danger">(*)</span></label
              >
              <input
                type="password"
                class="form-control"
                [ngClass]="displayFieldCss('password')"
                id="password"
                maxlength="30"
                formControlName="password"
                aria-describedby="password"
                [placeholder]="isEditing ? '••••••••••' : ''"
                (blur)="getValidationRegex()"
                (keyup)="validate($event.target.value)"
                (focus)="fPass()"
              />
              <cml-validations *ngIf="isFieldValid('password')">
              </cml-validations>
              <cml-password
                *ngIf="validatePass"
                [requireText]="requiteText"
                [requireNumber]="requireNumber"
                [requireCharEs]="requireCharEs"
                [minChar]="minChar"
                [msgText]="'validations.oneCapitalLetter' | translate"
                [msgNumber]="'validations.leastOneNumber' | translate"
                [msgCharEs]="'validations.includeCharacter' | translate"
                [msgminChar]="'validations.minimumOfCharacters' | translate"
              >
              </cml-password>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <!--telefono-->
              <label for="phone">{{ "formBuilder.phone" | translate }} </label>
              <input
                [cmlOnlyNumber]="true"
                type="number"
                pattern="[0-9]*"
                inputmode="numeric"
                class="form-control"
                [ngClass]="displayFieldCss('phone')"
                id="phone"
                formControlName="phone"
                aria-describedby="phone"
                placeholder=""
              />
              <cml-validations
                *ngIf="isFieldValid('phone')"
                [errorMsg]="validations('formBuilder.phone')"
              >
              </cml-validations>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <!--movil-->
              <label for="phone"
                >{{ "formBuilder.cellphone" | translate }}
                <span class="text-danger">(*)</span></label
              >
              <input
                [cmlOnlyNumber]="true"
                type="number"
                pattern="[0-9]*"
                inputmode="numeric"
                class="form-control"
                [ngClass]="displayFieldCss('cellphone')"
                id="cellphone"
                formControlName="cellphone"
                aria-describedby="cellphone"
                placeholder=""
              />
              <cml-validations
                *ngIf="isFieldValid('cellphone')"
                [errorMsg]="validations('formBuilder.cellphone')"
              >
              </cml-validations>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <!--pais-->
              <label for="country_id"
                >{{ "formBuilder.country" | translate }}
                <span class="text-danger">(*)</span></label
              >
              <select
                class="form-control"
                [ngClass]="displayFieldCss('country_id')"
                id="country_id"
                formControlName="country_id"
                aria-describedby="country_id"
                (change)="onDefaultValuesStateAndCountry()"
              >
                <option [ngValue]="null">
                  {{ "inputs.optionSelect" | translate }}
                </option>
                <option
                  [ngValue]="country.id"
                  *ngFor="let country of countries"
                >
                  {{ country.name }}
                </option>
              </select>
              <cml-validations
                *ngIf="isFieldValid('country_id')"
                [errorMsg]="validations('formBuilder.country')"
              >
              </cml-validations>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <!--cod postal-->
              <label for="zip_code"
                >{{ "formBuilder.zip_code" | translate }}
                <span class="text-danger">(*)</span></label
              >
              <input
                type="text"
                class="form-control"
                [ngClass]="displayFieldCss('zip_code')"
                id="zip_code"
                maxlength="10"
                formControlName="zip_code"
                aria-describedby="zip_code"
                placeholder=""
                (blur)="onBlurZipCode('zip_code')"
              />
              <cml-validations
                *ngIf="isFieldValid('zip_code')"
                [errorMsg]="validations('formBuilder.zip_code')"
              >
              </cml-validations>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <!--habilitar-->
              <div class="bg-light p-3 text-dark d-flex rounded">
                <input
                  type="checkbox"
                  [checked]="shouldEnableStateAndCity"
                  (click)="shouldStateAndCity()"
                  id="regular"
                  aria-describedby="regular"
                />
                <label for="regular" class="mx-2">
                  {{ "checkbox.shouldStateAndCity" | translate }}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <!--estado-->
              <label for="state"
                >{{ "formBuilder.state" | translate }}
                <span class="text-danger">(*)</span></label
              >
              <input
                type="text"
                class="form-control"
                [ngClass]="displayFieldCss('state')"
                id="state"
                maxlength="15"
                formControlName="state"
                aria-describedby="state"
                placeholder=""
              />
              <cml-validations
                *ngIf="isFieldValid('state')"
                [errorMsg]="validations('formBuilder.state')"
              >
              </cml-validations>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <!--ciudad-->
              <label for="city"
                >{{ "formBuilder.city" | translate }}
                <span class="text-danger">(*)</span></label
              >
              <input
                type="text"
                class="form-control"
                [ngClass]="displayFieldCss('city')"
                id="city"
                maxlength="15"
                formControlName="city"
                aria-describedby="city"
                placeholder=""
              />
              <cml-validations
                *ngIf="isFieldValid('city')"
                [errorMsg]="validations('formBuilder.city')"
              >
              </cml-validations>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <!--direccion-->
              <label for="address"
                >{{ "formBuilder.address" | translate }}
                <span class="text-danger">(*)</span></label
              >
              <textarea
                class="form-control"
                [ngClass]="displayFieldCss('address')"
                id="address"
                rows="1"
                formControlName="address"
                aria-describedby="address"
                placeholder=""
              ></textarea>
              <cml-validations
                *ngIf="isFieldValid('address')"
                [errorMsg]="validations('formBuilder.address')"
              >
              </cml-validations>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-md col-lg" *ngIf="!submitted">
            <button type="submit" class="btn btn-primary btn-block">
              {{ "formButton.save" | translate }}
            </button>
          </div>
          <div class="col col-md col-lg text-center" *ngIf="submitted">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </form>
    </cml-modal>
  </ng-template>
  <div class="row justify-content-center">
    <div class="col col-md col-lg">
      <div class="container bg-white rounded shadow">
        <div class="table-responsive">
          <table class="table table-fixeded table-striped mx-auto">
            <thead>
              <tr>
                <th colspan="6" class="border-top-0">
                  <span class="text-uppercase">
                    {{ "tableTitle.users" | translate }}
                  </span>
                  <span
                    class="float-left float-sm-left float-md-right float-lg-right float-xl-right"
                    *ngIf="toggleButtonByTierId(2) && status === 1"
                  >
                    <button
                      type="button"
                      class="btn btn-primary text-uppercase btn-sm"
                      (click)="shouldToggleCreate(ngbUser)"
                    >
                      {{ "tableAction.generateUser" | translate }}
                    </button>
                  </span>
                </th>
              </tr>
              <tr>
                <th scope="col">
                  <input
                    type="text"
                    id="search_id"
                    class="form-control"
                    maxlength="90"
                    aria-describedby="search_id"
                    placeholder="{{ 'inputPlaceHolder.search_id' | translate }}"
                    [(ngModel)]="search.id"
                    (keyup.enter)="onKey('id')"
                    (focus)="clearInput('id')"
                  />
                </th>
                <th scope="col">
                  <input
                    type="text"
                    id="search_name"
                    class="form-control"
                    maxlength="90"
                    aria-describedby="search_name"
                    placeholder="{{
                      'inputPlaceHolder.search_name' | translate
                    }}"
                    [(ngModel)]="search.name"
                    (keyup.enter)="onKey('name')"
                    (focus)="clearInput('name')"
                  />
                </th>
                <th scope="col">
                  <input
                    type="text"
                    id="search_address"
                    class="form-control"
                    maxlength="90"
                    aria-describedby="search_address"
                    placeholder="{{ 'tableRender.email' | translate }}"
                    [(ngModel)]="search.email"
                    (keyup.enter)="onKey('email')"
                    (focus)="clearInput('email')"
                  />
                </th>
                <th scope="col">
                  <input
                    [cmlOnlyNumber]="true"
                    type="number"
                    pattern="[0-9]*"
                    inputmode="numeric"
                    id="search_phone"
                    class="form-control"
                    maxlength="90"
                    aria-describedby="search_phone"
                    placeholder="{{ 'tableRender.phone' | translate }}"
                    [(ngModel)]="search.phone"
                    (keyup.enter)="onKey('phone')"
                    (focus)="clearInput('phone')"
                  />
                </th>
                <th scope="col">
                  <input
                    [cmlOnlyNumber]="true"
                    type="number"
                    pattern="[0-9]*"
                    inputmode="numeric"
                    id="search_cellphone"
                    class="form-control"
                    maxlength="90"
                    aria-describedby="search_cellphone"
                    placeholder="{{ 'tableRender.cellphone' | translate }}"
                    [(ngModel)]="search.cellphone"
                    (keyup.enter)="onKey('cellphone')"
                    (focus)="clearInput('cellphone')"
                  />
                </th>
                <th scope="col" class="text-center">
                  <button
                    type="button"
                    class="btn btn-primary mx-1 btn-sm"
                    (click)="searchButton()"
                  >
                    <i class="fa fa-search"></i>
                  </button>
                  <button
                    type="button"
                    (click)="clear()"
                    class="btn btn-secondary mx-1 btn-sm"
                  >
                    <i class="fa fa-eraser"></i>
                  </button>
                  <button
                    type="button"
                    class="btn mx-1 btn-sm"
                    [ngClass]="status === 1 ? 'btn-success' : 'btn-danger'"
                    (click)="changeStatus()"
                  >
                    <i
                      class="fa"
                      [ngClass]="
                        status === 1 ? 'fa-toggle-on' : 'fa-toggle-off'
                      "
                    ></i>
                  </button>
                </th>
              </tr>
              <tr>
                <th class="bg-table" scope="col">
                  {{ "tableRender.id" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.name" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.email" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.phone" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.cellphone" | translate }}
                </th>
                <th class="bg-table text-center" scope="col">
                  {{ "tableRender.actions" | translate }}
                </th>
              </tr>
              <tr *ngIf="isLoading">
                <th colspan="6">
                  <cml-loading
                    [loading]="isLoading"
                    color="text-primary"
                  ></cml-loading>
                </th>
              </tr>
              <tr *ngIf="!isLoading && (!users || users?.length === 0)">
                <th colspan="6">
                  {{ "tableLength.users" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="pointer"
                *ngFor="let user of users; let key = index"
                (click)="isToggleUser(ngbDisplayUser, key)"
              >
                <th scope="row">{{ user.alphanumeric }}</th>
                <td scope="row">
                  <span
                    class="d-inline-block text-truncate"
                    style="width: 150px"
                    data-toggle="tooltip"
                    [title]="user.person.name"
                    >{{ user.person.name }}</span
                  >
                </td>
                <td scope="row">{{ user.email }}</td>
                <td scope="row">
                  {{ formating(user.person.phone) }}
                </td>
                <td scope="row">{{ formating(user.person.cellphone) }}</td>
                <td
                  class="text-center"
                  scope="row"
                  (click)="$event.stopPropagation()"
                >
                  <button
                    type="button"
                    (click)="shouldToggleStatus(user.id)"
                    *ngIf="toggleButtonByTierId(8)"
                    class="btn btn-primary mx-1 btn-sm"
                    [ngClass]="user.status === 1 ? 'btn-success' : 'btn-danger'"
                  >
                    <i
                      class="fa"
                      [ngClass]="
                        user.status === 1 ? 'fa-toggle-on' : 'fa-toggle-off'
                      "
                    ></i>
                  </button>
                  <button
                    type="button"
                    (click)="shouldToggleUpdate(ngbUser, user.id)"
                    class="btn btn-primary mx-1 btn-sm"
                    *ngIf="toggleButtonByTierId(3)"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <cml-floating-home [show]="home"></cml-floating-home>
</section>
