<section *ngIf="user.tier !== 5 && !payforCML">
  <form autocomplete="off" (ngSubmit)="onSubmitCML()" [formGroup]="checkout">
    <div class="row">
      <div class="col col-md">
        <div class="form-group">
          <div class="bg-light p-3 text-dark d-flex rounded">
            <div class="">
              <input
                type="radio"
                id="agency"
                [value]="1"
                aria-describedby="typeInvoice"
                formControlName="typeInvoice"
                (click)="setValueType(1)"
              />
              <label for="agency" class="mx-2">
                {{ "tableRender.agency" | translate }}
              </label>
            </div>
            <div class="" *ngIf="onToggleOnlyByCML()">
              <input
                type="radio"
                id="cml"
                [value]="0"
                aria-describedby="typeInvoice"
                formControlName="typeInvoice"
                (click)="setValueType(0)"
              />
              <label for="cml" class="mx-2">
                {{ "tableRender.CML" | translate }}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-md" *ngIf="isAgencyChecked()">
        <div class="form-group">
          <label for="agency"
            >{{ "tableRender.agency" | translate }}
            <span class="text-danger">(*)</span></label
          >
          <select
            class="form-control"
            id="agency"
            aria-describedby="agency"
            formControlName="agency"
            [ngClass]="displayFieldCss('agency')"
            (change)="payAgency()"
          >
            <option [value]="null">
              {{ "inputs.optionSelect" | translate }}
            </option>
            <option [value]="agency.id" *ngFor="let agency of agencies">
              {{ agency.person.name }}
            </option>
          </select>
          <cml-validations
            *ngIf="isFieldValid('agency')"
            [errorMsg]="validations('tableRender.agency')"
          >
          </cml-validations>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-md mx-auto">
        <div class="form-group" *ngIf="checkout.get('typeInvoice').value == 0">
          <cml-loading [loading]="submitted" color="text-primary"></cml-loading>
          <button
            type="submit"
            class="btn btn-primary btn-block"
            *ngIf="!submitted"
          >
            {{ "formBuilder.checkIn" | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>
</section>
<section
  class="container bg-light"
  *ngIf="(user && user.tier === 5) || payforCML"
>
  <button
    type="button"
    class="btn btn-danger text-uppercase btn-sm"
    (click)="goToAgencies()"
    *ngIf="payforCML && agencies.length > 0"
  >
    <span class="mx-1">
      <i class="fa fa-arrow-left"></i>
    </span>
    {{ "buttonText.before" | translate }}
  </button>
  <div class="row" *ngIf="errors && paymentMethod === 1">
    <div class="col col-md my-2 mx-auto">
      <div class="alert alert-danger alert-pay" role="alert">
        {{ errors }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-md py-4 mx-auto">
      <div class="table-responsive">
        <table class="table table-bordered table-white">
          <thead>
            <tr>
              <th scope="col">
                {{ "tableRender.invoice" | translate }}
              </th>
              <th scope="col">
                {{ "tableRender.origin" | translate }}
              </th>
              <th scope="col">
                {{ "tableRender.destiny" | translate }}
              </th>
              <th scope="col">
                {{ "tableRender.packQuantity" | translate }}
              </th>
              <th scope="col">
                {{ "tableRender.total" | translate }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let quote of quotes; let key = index">
              <th scope="row">
                {{ quote.alphanumeric }}
              </th>
              <td>
                {{ getOriginName(quote) }}
              </td>
              <td>
                {{ getCountryName(quote.country) }}
              </td>
              <td>
                {{ quote.quantity_products }}
              </td>
              <td>
                {{ getTotalAmount(quote) | currency: "USD" }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-md pb-5 mx-auto">
      <h5 class="font-weight-bold">
        {{ "tableRender.grandTotal" | translate }}:
        {{ amountPayment | currency: "USD" }}
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col col-md pb-2 mx-auto">
      <h5>{{ "payment.method" | translate }}:</h5>
    </div>
  </div>
  <div class="row">
    <div class="col col-md pb-5 mx-auto">
      <input
        type="radio"
        id="stripe"
        [value]="1"
        [(ngModel)]="paymentMethod"
        (click)="setValueMethod(1)"
      />
      <label for="stripe" class="text-uppercase mx-2">
        {{ "payment.stripe" | translate }}
      </label>
      <input
        type="radio"
        id="transfer"
        [value]="2"
        [(ngModel)]="paymentMethod"
        (click)="setValueMethod(2)"
      />
      <label for="transfer" class="text-uppercase mx-2">
        {{ "payment.transfer" | translate }}
      </label>
      <input
        type="radio"
        id="check"
        [value]="3"
        [(ngModel)]="paymentMethod"
        (click)="setValueMethod(3)"
      />
      <label for="check" class="text-uppercase mx-2">
        {{ "payment.check" | translate }}
      </label>
    </div>
  </div>
  <div class="row" *ngIf="paymentMethod === 1">
    <div class="col col-md mx-auto bg-white">
      <div class="form-group mx-1 pt-4 bg-white">
        <ngx-stripe-card
          [options]="settingsCard"
          [elementsOptions]="settingsElements"
        ></ngx-stripe-card>
      </div>
    </div>
  </div>
  <div class="row py-5 bg-white" *ngIf="paymentMethod === 2">
    <div class="col col-md mx-auto">
      <div class="form-group mx-1">
        <form
          autocomplete="off"
          (ngSubmit)="handlePayment()"
          [formGroup]="transfer"
        >
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
              <div class="form-group">
                <label for="issueDate">
                  {{ "formBuilder.issueDate" | translate }}
                  <span class="text-danger">(*)</span>
                </label>
                <input
                  class="form-control"
                  [ngClass]="displayFieldCss('issueDate')"
                  id="issueDate"
                  formControlName="issueDate"
                  aria-describedby="issueDate"
                  bsDatepicker
                  [maxDate]="maxDate"
                  [bsConfig]="{
                    dateInputFormat: 'MM/DD/YYYY',
                    containerClass: 'theme-dark-blue',
                    showWeekNumbers: false
                  }"
                />
                <cml-validations
                  *ngIf="isFieldValid('issueDate')"
                  [errorMsg]="validations('formBuilder.issueDate')"
                >
                </cml-validations>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6">
              <div class="form-group">
                <label for="origin">
                  {{ "formBuilder.origin" | translate }}
                  <span class="text-danger">(*)</span>
                </label>
                <input
                  type="text"
                  class="form-control"
                  [ngClass]="displayFieldCss('origin')"
                  id="origin"
                  maxlength="150"
                  formControlName="origin"
                  aria-describedby="origin"
                />
                <cml-validations
                  *ngIf="isFieldValid('origin')"
                  [errorMsg]="validations('formBuilder.origin')"
                >
                </cml-validations>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <div class="form-group">
                <label for="destiny">
                  {{ "formBuilder.destiny" | translate }}
                  <span class="text-danger">(*)</span>
                </label>
                <input
                  type="text"
                  class="form-control"
                  [ngClass]="displayFieldCss('destiny')"
                  id="destiny"
                  maxlength="150"
                  formControlName="destiny"
                  aria-describedby="destiny"
                />
                <cml-validations
                  *ngIf="isFieldValid('destiny')"
                  [errorMsg]="validations('formBuilder.destiny')"
                >
                </cml-validations>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6">
              <div class="form-group">
                <label for="lastDigitsOrigin">
                  {{ "formBuilder.lastDigitsOrigin" | translate }}
                  <span class="text-danger">(*)</span>
                </label>
                <input
                  type="number"
                  pattern="[0-9]*"
                  inputmode="numeric"
                  class="form-control"
                  [ngClass]="displayFieldCss('lastDigitsOrigin')"
                  id="lastDigitsOrigin"
                  formControlName="lastDigitsOrigin"
                  aria-describedby="lastDigitsOrigin"
                  (keypress)="maxlenghtNumber($event)"
                />
                <cml-validations
                  *ngIf="isFieldValid('lastDigitsOrigin')"
                  [errorMsg]="validations('formBuilder.lastDigitsOrigin')"
                >
                </cml-validations>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <div class="form-group">
                <label for="lastDigitsDestiny">
                  {{ "formBuilder.lastDigitsDestiny" | translate }}
                  <span class="text-danger">(*)</span>
                </label>
                <input
                  type="number"
                  pattern="[0-9]*"
                  inputmode="numeric"
                  class="form-control"
                  [ngClass]="displayFieldCss('lastDigitsDestiny')"
                  id="lastDigitsDestiny"
                  formControlName="lastDigitsDestiny"
                  aria-describedby="lastDigitsDestiny"
                  (keypress)="maxlenghtNumber($event)"
                />
                <cml-validations
                  *ngIf="isFieldValid('lastDigitsDestiny')"
                  [errorMsg]="validations('formBuilder.lastDigitsDestiny')"
                >
                </cml-validations>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6">
              <div class="form-group">
                <label for="amount">
                  {{ "formBuilder.amount" | translate }}
                  <span class="text-danger">(*)</span>
                </label>
                <input
                  type="text"
                  class="form-control"
                  [ngClass]="displayFieldCss('amount')"
                  id="amount"
                  formControlName="amount"
                  aria-describedby="amount"
                />
                <cml-validations
                  *ngIf="isFieldValid('amount')"
                  [errorMsg]="validations('formBuilder.amount')"
                >
                </cml-validations>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <div class="form-group">
                <label for="reference">
                  {{ "formBuilder.reference" | translate }}
                  <span class="text-danger">(*)</span>
                </label>
                <input
                  type="text"
                  class="form-control"
                  [ngClass]="displayFieldCss('reference')"
                  id="reference"
                  formControlName="reference"
                  aria-describedby="reference"
                />
                <cml-validations
                  *ngIf="isFieldValid('reference')"
                  [errorMsg]="validations('formBuilder.reference')"
                >
                </cml-validations>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6">
              <div class="form-group">
                <label for="voucher">
                  {{ "formBuilder.voucher" | translate }}
                </label>
                <input
                  type="file"
                  class="form-control-file"
                  [ngClass]="displayFieldCss('voucher')"
                  id="voucher"
                  formControlName="voucher"
                  aria-describedby="voucher"
                  accept="image/*,application/pdf"
                  (change)="onFileChanged($event)"
                />
                <cml-validations
                  *ngIf="isFieldValid('voucher')"
                  [errorMsg]="validations('formBuilder.voucher')"
                >
                </cml-validations>
              </div>
            </div>
          </div>
          <div class="row py-2">
            <div class="col col-md col-lg text-right" *ngIf="submitted">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div class="col col-md mx-auto text-right" *ngIf="!submitted">
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-large">
                  {{ "formBuilder.pay" | translate }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row py-5 bg-white" *ngIf="paymentMethod === 3">
    <div class="col col-md mx-auto bg-white">
      <div class="form-group mx-1">
        <form
          autocomplete="off"
          (ngSubmit)="handlePayment()"
          [formGroup]="check"
        >
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
              <div class="form-group">
                <label for="issueDate"
                  >{{ "formBuilder.issueDate" | translate }}
                  <span class="text-danger">(*)</span></label
                >
                <input
                  class="form-control"
                  [ngClass]="displayFieldCss('issueDate')"
                  id="issueDate"
                  formControlName="issueDate"
                  aria-describedby="issueDate"
                  bsDatepicker
                  [maxDate]="maxDate"
                  [bsConfig]="{
                    dateInputFormat: 'MM/DD/YYYY',
                    containerClass: 'theme-dark-blue',
                    showWeekNumbers: false
                  }"
                />
                <cml-validations
                  *ngIf="isFieldValid('issueDate')"
                  [errorMsg]="validations('formBuilder.issueDate')"
                >
                </cml-validations>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-4">
              <div class="form-group">
                <label for="origin">
                  {{ "formBuilder.origin" | translate }}
                  <span class="text-danger">(*)</span>
                </label>
                <input
                  type="text"
                  class="form-control"
                  [ngClass]="displayFieldCss('origin')"
                  id="origin"
                  maxlength="150"
                  formControlName="origin"
                  aria-describedby="origin"
                />
                <cml-validations
                  *ngIf="isFieldValid('origin')"
                  [errorMsg]="validations('formBuilder.origin')"
                >
                </cml-validations>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4">
              <div class="form-group">
                <label for="reference">
                  {{ "formBuilder.reference" | translate }}
                  <span class="text-danger">(*)</span>
                </label>
                <input
                  type="text"
                  class="form-control"
                  [ngClass]="displayFieldCss('reference')"
                  id="reference"
                  formControlName="reference"
                  aria-describedby="reference"
                />
                <cml-validations
                  *ngIf="isFieldValid('reference')"
                  [errorMsg]="validations('formBuilder.reference')"
                >
                </cml-validations>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4">
              <div class="form-group">
                <label for="amount">
                  {{ "formBuilder.amount" | translate }}
                  <span class="text-danger">(*)</span>
                </label>
                <input
                  type="text"
                  class="form-control"
                  [ngClass]="displayFieldCss('amount')"
                  id="amount"
                  formControlName="amount"
                  aria-describedby="amount"
                />
                <cml-validations
                  *ngIf="isFieldValid('amount')"
                  [errorMsg]="validations('formBuilder.amount')"
                >
                </cml-validations>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6">
              <div class="form-group">
                <label for="voucher">
                  {{ "formBuilder.voucher" | translate }}
                </label>
                <input
                  type="file"
                  class="form-control-file"
                  [ngClass]="displayFieldCss('voucher')"
                  id="voucher"
                  formControlName="voucher"
                  aria-describedby="voucher"
                  accept="image/*"
                  (change)="onFileChanged($event)"
                />
                <cml-validations
                  *ngIf="isFieldValid('voucher')"
                  [errorMsg]="validations('formBuilder.voucher')"
                >
                </cml-validations>
              </div>
            </div>
          </div>
          <div class="row py-2">
            <div class="col col-md col-lg text-right" *ngIf="submitted">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div class="col col-md mx-auto text-right" *ngIf="!submitted">
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-large">
                  {{ "formBuilder.pay" | translate }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row bg-white py-2" *ngIf="paymentMethod === 1">
    <div class="col col-md col-lg text-right" *ngIf="submitted">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="col col-md mx-auto text-right" *ngIf="!submitted">
      <div class="form-group">
        <button
          type="button"
          class="btn btn-primary btn-large"
          (click)="handlePayment()"
        >
          {{ "formBuilder.pay" | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="errors && paymentMethod >= 2">
    <div class="col-12 col-sm-12 col-md col-lg">
      <cml-errors [errors]="errors"></cml-errors>
    </div>
  </div>
</section>
