<section>
  <div
    class="row justify-content-center align-items-center mh-90"
    *ngIf="!!isLoading"
  >
    <cml-loading [loading]="isLoading" color="text-primary"></cml-loading>
  </div>
  <div class="row justify-content-start" *ngIf="!!!isLoading">
    <div
      class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
      *ngIf="shop.length > 0"
    >
      <div class="my-4 float-right">
        <button
          type="button"
          class="btn btn-primary text-uppercase"
          (click)="goToPay()"
        >
          <i class="fas fa-shopping-cart mx-2"></i>
          {{ "buttonText.goToPay" | translate }}
        </button>
      </div>
    </div>
    <div
      class="col-12 col-md-6 col-lg-4 col-xl-3"
      *ngFor="let article of articles; let key = index"
    >
      <div class="card shadow-sm my-1 mb-2" style="height: 460px">
        <div class="card-body">
          <h5 class="card-title text-center">
            {{ article.name }}
          </h5>
          <div class="row justify-content-center">
            <div class="col">
              <ngb-carousel
                interval="0"
                [showNavigationArrows]="article.images.length > 1"
                [showNavigationIndicators]="article.images.length > 1"
              >
                <ng-template ngbSlide *ngFor="let image of article.images">
                  <div class="picsum-img-wrapper">
                    <img [src]="image.url" style="width: 100%; height: 200px" />
                  </div>
                </ng-template>
                <ng-template ngbSlide *ngIf="article.images.length === 0">
                  <div class="picsum-img-wrapper">
                    <img
                      [src]="
                        !!user && user.image_admin
                          ? user.image_admin
                          : '../assets/img/user.jpg'
                      "
                      style="width: 100%; height: 200px"
                    />
                  </div>
                </ng-template>
              </ngb-carousel>
            </div>
          </div>
          <h6 class="card-subtitle my-2 text-primary text-center">
            {{ article.sale_price | currency: "USD" }}
          </h6>
          <div *ngIf="!!article.inStore" style="height: 20px"></div>

          <div
            class="row justify-content-center mt-3 mb-3"
            *ngIf="!!!article.inStore"
          >
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <div class="text-center mt-1">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="removeItemToCart(key)"
                  [disabled]="article.sale_price <= 0"
                >
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>

            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 px-3">
              <div class="text-center mt-1">
                <input
                  [cmlOnlyNumber]="true"
                  type="number"
                  pattern="[0-9]*"
                  inputmode="numeric"
                  id="quantity"
                  class="form-control text-center"
                  [value]="article.quantity"
                  [(ngModel)]="article.quantity"
                  [disabled]="article.sale_price <= 0"
                />
              </div>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <div class="text-center mt-1">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="addItemToCart(key)"
                  [disabled]="article.sale_price <= 0"
                >
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
          <div
            class="row justify-content-center"
            *ngIf="article.quantity > article.stock"
          >
            <small class="text-danger">
              {{ quantityMaximum(article.stock) }}</small
            >
          </div>
          <div class="row justify-content-center mb-2">
            <small class="font-weight-bold">
              {{ stockMessage(article.stock) }}</small
            >
          </div>
          <div class="d-flex justify-content-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 px-3">
              <div class="text-center">
                <button
                  type="button"
                  class="btn btn-primary btn-block text-uppercase"
                  (click)="addToCart(key)"
                  *ngIf="!!!article.inStore"
                  [disabled]="article.sale_price <= 0"
                >
                  {{ "cardText.add" | translate }}
                </button>
                <button
                  type="button"
                  class="btn btn-warning btn-block text-uppercase text-white"
                  (click)="modifyToCart(key)"
                  *ngIf="!!article.inStore"
                >
                  {{ "cardText.edit" | translate }}
                </button>
                <button
                  type="button"
                  class="btn btn-danger btn-block text-uppercase"
                  (click)="removeToCart(key)"
                  *ngIf="!!article.inStore"
                >
                  {{ "cardText.remove" | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
