<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="!charge">
    <ul class="list-group">
      <li
        class="list-group-item d-flex align-items-center justify-content-between"
        *ngFor="let charge of tracking.charge"
      >
        {{ charge.description }}
        <button
          type="button"
          class="btn btn-primary"
          (click)="setCharge(charge.id)"
        >
          <i class="fa fa-eye"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="charge">
    <section class="timeline">
      <div class="page-header">
        <h1>
          <button
            type="button"
            class="btn btn-danger mx-2"
            (click)="setNullCharge()"
          >
            <i class="fa fa-arrow-left"></i>
          </button>
          {{ charge.description }}
        </h1>
      </div>
      <ul class="timeline">
        <li class="timeline-item" *ngIf="tier == 5">
          <div
            class="timeline-badge"
            [ngClass]="{ primary: 1 <= charge.status }"
          >
            <i class="fa fa-warehouse"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <span>
                <h4 class="timeline-title">
                  {{ "timeLine.inAgency" | translate }}
                </h4>
                <p [innerHTML]="getInfo(1)"></p>
              </span>
            </div>
          </div>
        </li>
        <li class="timeline-item" *ngIf="tier == 5">
          <div
            class="timeline-badge"
            [ngClass]="{ primary: 2 <= charge.status }"
          >
            <i class="fa fa-truck-loading"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <span>
                <h4 class="timeline-title">
                  {{ "timeLine.inShipment" | translate }}
                </h4>
                <p [innerHTML]="getInfo(2)"></p>
              </span>
            </div>
          </div>
        </li>
        <li class="timeline-item">
          <div
            class="timeline-badge"
            [ngClass]="{ primary: 3 <= charge.status }"
          >
            <i class="fa fa-truck-loading"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <span>
                <h4 class="timeline-title">
                  {{ "timeLine.inShippingCenter" | translate }}
                </h4>
                <p [innerHTML]="getInfo(3)"></p>
              </span>
            </div>
          </div>
        </li>
        <li class="timeline-item">
          <div
            class="timeline-badge"
            [ngClass]="{ primary: 4 <= charge.status }"
          >
            <i class="fa fa-plane-departure"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <span>
                <h4 class="timeline-title">
                  {{ "timeLine.inTransit" | translate }}
                </h4>
                <p [innerHTML]="getInfo(4)"></p>
              </span>
            </div>
          </div>
        </li>
        <li class="timeline-item">
          <div
            class="timeline-badge"
            [ngClass]="{ primary: 5 <= charge.status }"
          >
            <i class="fa fa-boxes"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <span>
                <h4 class="timeline-title">
                  {{ "timeLine.inDistribution" | translate }}
                </h4>
                <p [innerHTML]="getInfo(5)"></p>
              </span>
            </div>
          </div>
        </li>
        <li class="timeline-item">
          <div
            class="timeline-badge"
            [ngClass]="{ primary: 6 <= charge.status }"
          >
            <i class="fa fa-truck"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <span>
                <h4 class="timeline-title">
                  {{ "timeLine.toReceiver" | translate }}
                </h4>
                <p [innerHTML]="getInfo(6)"></p>
              </span>
            </div>
          </div>
        </li>
        <li class="timeline-item">
          <div
            class="timeline-badge"
            [ngClass]="{ primary: 7 <= charge.status }"
          >
            <i class="fa fa-map-marker-alt"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <span>
                <h4 class="timeline-title">
                  {{ "timeLine.delivered" | translate }}
                </h4>
                <p [innerHTML]="getInfo(7)"></p>
              </span>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>
