<section>
  <div class="container">
    <div class="row justify-content-center my-3">
      <div class="col col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <div class="card bg-white rounded shadow">
          <div class="card-body">
            <div class="row">
              <div class="col col-md col-lg mx-auto">
                <span class="float-left">
                  <button
                    type="button"
                    class="btn btn-danger mx-1 btn-sm"
                    *ngIf="isVisible()"
                    (click)="setValueType(null, null)"
                  >
                    <i class="fa fa-arrow-left"></i>
                  </button>
                </span>
                <span class="float-right">
                  <button
                    type="button"
                    class="btn btn-primary mx-1 btn-sm"
                    (click)="logout()"
                  >
                    <i class="fa fa-sign-out-alt"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col col-md col-lg mb-5 mx-auto text-center">
                <h4 class="text-uppercase text-center">
                  {{ "formBuilder.subscription_type" | translate }}
                </h4>
              </div>
            </div>
            <div class="row" *ngIf="load_products">
              <div class="col col-md col-lg mb-5 mx-auto text-center">
                <cml-loading
                  [loading]="load_products"
                  color="text-primary"
                ></cml-loading>
              </div>
            </div>
            <div class="row" *ngIf="!isVisible()">
              <div
                class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 px-5"
                *ngIf="!load_products"
              >
                <div class="rounded border bg-light w-100">
                  <h5 class="w-100 text-secondary p-2 text-center">
                    {{ "checkbox.basic" | translate }}
                  </h5>
                  <h4 class="w-100 text-primary text-center">
                    {{ "tableRender.shipping" | translate }}
                  </h4>
                  <div class="row">
                    <div class="col px-4">
                      <small class="text-secondary">{{
                        "memberships.basic" | translate
                      }}</small>
                    </div>
                  </div>

                  <div class="row justify-content-center pt-2 mb-4">
                    <button
                      class="btn btn-primary text-white w-75 mx-2"
                      (click)="setValueType(0, null)"
                    >
                      {{ "buttonText.select" | translate }}
                    </button>
                  </div>
                </div>
              </div>
              <div
                class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 px-5"
                *ngFor="let product of products"
              >
                <div class="rounded border w-100 bg-light">
                  <h5 class="w-100 text-secondary p-2 text-center">
                    {{
                      product.type === 1
                        ? ("checkbox.premium" | translate)
                        : ("checkbox.corporate" | translate)
                    }}
                  </h5>
                  <h4 class="w-100 text-primary text-center">
                    ${{ product.unit_amount }}
                  </h4>
                  <div class="row">
                    <div class="col px-4">
                      <small class="text-secondary">{{
                        getMembershipt(product)
                      }}</small
                      ><br />
                      <small class="text-secondary">{{
                        product.type == 1
                          ? ("memberships.premiun_one" | translate)
                          : ("memberships.corporate_one" | translate)
                      }}</small
                      ><br />
                      <small class="text-secondary">{{
                        product.type == 1
                          ? ("memberships.premiun_two" | translate)
                          : ("memberships.corporate_two" | translate)
                      }}</small
                      ><br />
                      <small class="text-secondary">{{
                        product.type == 1
                          ? ("memberships.premiun_three" | translate)
                          : ("memberships.corporate_three" | translate)
                      }}</small>
                      <br />
                      <small
                        class="text-secondary"
                        *ngIf="product.type === 2"
                        >{{ "memberships.corporate_four" | translate }}</small
                      >
                    </div>
                  </div>
                  <div class="row justify-content-center pt-2 mb-4">
                    <button
                      class="btn btn-primary w-75 mx-2 text-white"
                      (click)="setValueType(product.type, product.id)"
                    >
                      {{ "buttonText.select" | translate }}
                    </button>
                  </div>
                </div>
              </div>
              <div
                class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 px-5"
                *ngIf="!load_products"
              >
                <h6>
                  {{ "memberships.repackage" | translate }}
                </h6>
              </div>
            </div>
            <form
              autocomplete="off"
              [formGroup]="membership"
              (ngSubmit)="onSubmit()"
            >
              <div>
                <div
                  class="border rounded p-2"
                  *ngIf="getTypeShippingMembership()"
                >
                  <div class="row">
                    <div class="col-12 col-sm-12 col-md col-lg">
                      <div class="form-group">
                        <label
                          for="email"
                          class="font-weight-bold text-secondary text-uppercase"
                        >
                          {{ "formBuilder.email" | translate }}
                        </label>
                        <input
                          type="text"
                          class="form-control"
                          [ngClass]="displayFieldCss('email')"
                          id="email"
                          maxlength="50"
                          formControlName="email"
                          aria-describedby="email"
                          placeholder=""
                        />
                        <cml-validations
                          *ngIf="isFieldValid('email')"
                          [errorMsg]="validations('formBuilder.email')"
                        >
                        </cml-validations>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-12 col-md col-lg">
                      <div class="form-group">
                        <label
                          for="name"
                          class="font-weight-bold text-secondary text-uppercase"
                          >{{ "formBuilder.nameOnCard" | translate }}
                        </label>
                        <input
                          type="text"
                          class="form-control"
                          [ngClass]="displayFieldCss('name')"
                          id="name"
                          maxlength="30"
                          formControlName="name"
                          aria-describedby="name"
                          placeholder=""
                        />
                        <cml-validations
                          *ngIf="isFieldValid('name')"
                          [errorMsg]="validations('formBuilder.nameOnCard')"
                        >
                        </cml-validations>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col col-md mx-auto">
                      <div class="form-group mx-1">
                        <cml-stripe-subscriptions
                          [submitted]="submitted"
                          [grandTotal]="amount"
                          [email]="getEmail()"
                          (responsePaymentMethod)="
                            responsePaymentMethod($event)
                          "
                          (eventLoadSubmitted)="eventLoadSubmitted($event)"
                        ></cml-stripe-subscriptions>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="getTypeShipping()">
                  <div class="col mx-auto">
                    <div class="text-center mx-auto px-4">
                      <h5 class="text-secondary mb-2">
                        {{ "checkbox.basic" | translate }}
                      </h5>
                      <div
                        class="spinner-border text-primary"
                        role="status"
                        *ngIf="submitted"
                      >
                        <span class="sr-only">Loading...</span>
                      </div>
                      <button
                        type="submit"
                        class="btn btn-primary btn-block"
                        *ngIf="!submitted"
                      >
                        {{ "auth.save" | translate }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
