<div class="row mt-5">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <form [formGroup]="transfer" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
          <div class="form-group">
            <label for="issueDate">
              {{ "formBuilder.issueDate" | translate }}
              <span class="text-danger">(*)</span>
            </label>
            <input
              class="form-control"
              [ngClass]="displayFieldCss('issueDate')"
              id="issueDate"
              formControlName="issueDate"
              aria-describedby="issueDate"
              bsDatepicker
              [maxDate]="maxDate"
              [bsConfig]="{
                dateInputFormat: 'MM/DD/YYYY',
                containerClass: 'theme-dark-blue',
                showWeekNumbers: false
              }"
            />
            <cml-validations
              *ngIf="isFieldValid('issueDate')"
              [errorMsg]="validations('formBuilder.issueDate')"
            >
            </cml-validations>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
          <div class="form-group">
            <label for="origin">
              {{ "formBuilder.origin" | translate }}
              <span class="text-danger">(*)</span>
            </label>
            <input
              type="text"
              class="form-control"
              [ngClass]="displayFieldCss('origin')"
              id="origin"
              maxlength="150"
              formControlName="origin"
              aria-describedby="origin"
            />
            <cml-validations
              *ngIf="isFieldValid('origin')"
              [errorMsg]="validations('formBuilder.origin')"
            >
            </cml-validations>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
          <div class="form-group">
            <label for="destiny">
              {{ "formBuilder.destiny" | translate }}
              <span class="text-danger">(*)</span>
            </label>
            <input
              type="text"
              class="form-control"
              [ngClass]="displayFieldCss('destiny')"
              id="destiny"
              maxlength="150"
              formControlName="destiny"
              aria-describedby="destiny"
            />
            <cml-validations
              *ngIf="isFieldValid('destiny')"
              [errorMsg]="validations('formBuilder.destiny')"
            >
            </cml-validations>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md">
          <div class="form-group">
            <label for="lastDigitsOrigin">
              {{ "formBuilder.lastDigitsOrigin" | translate }}
              <span class="text-danger">(*)</span>
            </label>
            <input
              type="number"
              pattern="[0-9]*"
              inputmode="numeric"
              class="form-control"
              [ngClass]="displayFieldCss('lastDigitsOrigin')"
              id="lastDigitsOrigin"
              formControlName="lastDigitsOrigin"
              aria-describedby="lastDigitsOrigin"
              (keypress)="maxlenghtNumber($event)"
            />
            <cml-validations
              *ngIf="isFieldValid('lastDigitsOrigin')"
              [errorMsg]="validations('formBuilder.lastDigitsOrigin')"
            >
            </cml-validations>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md" *ngIf="formType === 1">
          <div class="form-group">
            <label for="option">
              {{ "formBuilder.payment_account" | translate }}
              <span class="text-danger">(*)</span>
            </label>
            <select
              class="form-control"
              [ngClass]="displayFieldCss('option')"
              id="option"
              formControlName="option"
              aria-describedby="option"
              (change)="setPaymentAccount()"
            >
              <option [value]="0">
                {{ "select.interbankKey" | translate }}
              </option>
              <option [value]="1">
                {{ "select.account" | translate }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md">
          <div class="form-group">
            <label for="lastDigitsDestiny">
              {{ "formBuilder.lastDigitsDestiny" | translate }}
              <span class="text-danger">(*)</span>
            </label>
            <input
              type="number"
              pattern="[0-9]*"
              inputmode="numeric"
              class="form-control"
              [ngClass]="displayFieldCss('lastDigitsDestiny')"
              id="lastDigitsDestiny"
              formControlName="lastDigitsDestiny"
              aria-describedby="lastDigitsDestiny"
              (keypress)="maxlenghtNumber($event)"
            />
            <cml-validations
              *ngIf="isFieldValid('lastDigitsDestiny')"
              [errorMsg]="validations('formBuilder.lastDigitsDestiny')"
            >
            </cml-validations>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
          <div class="form-group">
            <label for="amount">
              {{ "formBuilder.amount" | translate }}
              <span class="text-danger">(*)</span>
            </label>
            <input
              type="number"
              class="form-control"
              [ngClass]="displayFieldCss('amount')"
              id="amount"
              ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
              formControlName="amount"
              aria-describedby="amount"
            />
            <cml-validations
              *ngIf="isFieldValid('amount')"
              [errorMsg]="validations('formBuilder.amount')"
            >
            </cml-validations>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
          <div class="form-group">
            <label for="reference">
              {{ "formBuilder.reference" | translate }}
              <span class="text-danger">(*)</span>
            </label>
            <input
              type="text"
              class="form-control"
              [ngClass]="displayFieldCss('reference')"
              id="reference"
              formControlName="reference"
              aria-describedby="reference"
            />
            <cml-validations
              *ngIf="isFieldValid('reference')"
              [errorMsg]="validations('formBuilder.reference')"
            >
            </cml-validations>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
          <div class="form-group">
            <label for="voucher">
              {{ "formBuilder.voucher" | translate }}
            </label>
            <input
              type="file"
              class="form-control-file"
              [ngClass]="displayFieldCss('voucher')"
              id="voucher"
              formControlName="voucher"
              aria-describedby="voucher"
              accept="image/*,application/pdf"
              (change)="onFileChanged($event)"
            />
            <cml-validations
              *ngIf="isFieldValid('voucher')"
              [errorMsg]="validations('formBuilder.voucher')"
            >
            </cml-validations>
          </div>
        </div>
      </div>
      <div class="row py-2">
        <ng-container [ngSwitch]="submitted">
          <ng-template [ngSwitchCase]="true">
            <div class="col col-md col-lg text-center">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </ng-template>
          <ng-template [ngSwitchCase]="false">
            <div class="col col-md mx-auto text-right">
              <div class="form-group">
                <button
                  type="submit"
                  class="btn btn-primary btn-large text-uppercase"
                >
                  {{ "formBuilder.pay" | translate }}
                </button>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </div>
    </form>
  </div>
</div>
