<ng-template #ngbPreview let-ngmodal>
  <cml-modal title="" [size]="true" (onClose)="onCloseNgbModal()">
    <div class="overflow-auto list-group list-group-flush border-0">
      <div class="form-group mx-auto">
        <img [src]="imageSrc" class="img-fluid" style="max-height: 250px" />
      </div>
      <div class="col">
        <button
          type="button"
          class="btn bg-secondary text-white mx-1 btn-sm float-right"
          (click)="downloadFile(fileDownload)"
        >
          <i class="fa fa-download"></i>
        </button>
      </div>
    </div>
  </cml-modal>
</ng-template>
<div
  class="mw-100 mx-auto text-center text-secondary font-weight-bold pointer"
  *ngIf="
    !!chatOpen.chat_user &&
    chatOpen.chat_user.length >= 10 &&
    chatOpen.to !== null
  "
  (click)="getPreviousMessages(chatOpen.id)"
>
  {{ "formBuilder.previousMessages" | translate }}
</div>
<div
  class="mw-100"
  *ngFor="let msg of chatOpen.chat_user"
  [ngClass]="
    msg.user_id == me.id
      ? 'mw-100 d-flex flex-row-reverse'
      : 'mw-100 d-flex flex-row'
  "
>
  <!-- messge -->
  <div
    class="text-white bg-grey-light p-2 shadow-sm mt-2"
    style="border-radius: 20px; width: auto; max-width: 50%"
    [ngClass]="msg.user_id === me.id ? 'bg-primary' : 'bg-secondary'"
    *ngIf="msg.message !== null"
  >
    <p class="m-0" style="margin-bottom: -8px !important">
      {{ msg.message }}
    </p>

    <small class="m-0" style="font-size: xx-small">{{
      getDateMessage(msg.created_at)
    }}</small>
  </div>
  <!-- image -->
  <div
    class="text-white bg-grey-light p-2 shadow-sm mt-2"
    style="border-radius: 20px; width: auto; max-width: 30%"
    [ngClass]="msg.user_id === me.id ? 'bg-primary' : 'bg-secondary'"
    *ngIf="msg.file !== null && getFileExtension(msg.file) !== 'pdf'"
  >
    <div
      class="mx-auto bg-light w-100 p-2 text-center"
      style="border-radius: 20px"
    >
      <div class="row">
        <div class="col col-md col-lg text-center">
          <picture>
            <img
              [src]="msg.file_url"
              class="img-fluid pointer"
              (click)="openPreview(msg, ngbPreview)"
            />
          </picture>
        </div>
      </div>
      <small class="m-0 text-dark" style="font-size: xx-small">{{
        getDateMessage(msg.created_at)
      }}</small>
    </div>
  </div>
  <!-- pdf -->
  <div
    class="text-white bg-grey-light p-2 shadow-sm mt-2"
    style="border-radius: 20px; width: auto; max-width: 50%"
    *ngIf="msg.file !== null && getFileExtension(msg.file) === 'pdf'"
    [ngClass]="msg.user_id === me.id ? 'bg-primary' : 'bg-secondary'"
  >
    <div
      class="row mx-auto bg-light w-100 p-2 pointer"
      style="border-radius: 20px"
    >
      <div class="col col-md col-lg">
        <p
          class="mb-0 text-center text-dark font-weight-bold"
          (click)="openUrlLink(msg)"
        >
          PDF <br />
          <small class="m-0 text-dark" style="font-size: xx-small">{{
            getDateMessage(msg.created_at)
          }}</small>
        </p>
      </div>
    </div>
  </div>
</div>
