<section>
  <div class="row my-2" *ngIf="urlFile">
    <div class="col">
      <button type="button" class="btn btn-danger" (click)="urlFile = null">
        {{ "buttonText.before" | translate }}
      </button>
    </div>
  </div>
  <div class="row" *ngIf="urlFile">
    <div class="col">
      <iframe
        [src]="urlFile"
        scrolling="yes"
        frameborder="0"
        type="application/pdf"
      >
      </iframe>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center my-3" *ngIf="!urlFile">
      <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
        <form
          autocomplete="off"
          (ngSubmit)="onSubmit()"
          [formGroup]="additionals"
        >
          <div class="card bg-white rounded shadow">
            <div class="card-body">
              <div class="row">
                <div class="col col-md col-lg mb-5 mx-auto text-center">
                  <h4 class="text-uppercase text-center">
                    {{ "tableTitle.reportAdditionals" | translate }}
                  </h4>
                </div>
              </div>
              <div class="col mx-auto">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="from">
                        {{ "formBuilder.period" | translate }}
                        <span class="text-danger">(*)</span>
                      </label>
                      <div class="row">
                        <div class="col-12 col-sm-12 col-md col-lg">
                          <div class="form-group">
                            <input
                              type="date"
                              class="form-control"
                              id="from"
                              aria-describedby="from"
                              placeholder=""
                              formControlName="from"
                              [ngClass]="displayFieldCss('from')"
                            />
                            <cml-validations
                              *ngIf="isFieldValid('from')"
                              [errorMsg]="validations('formBuilder.from')"
                            >
                            </cml-validations>
                          </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md col-lg">
                          <div class="form-group">
                            <input
                              type="date"
                              class="form-control"
                              id="to"
                              aria-describedby="to"
                              placeholder=""
                              formControlName="to"
                              [ngClass]="displayFieldCss('to')"
                            />
                            <cml-validations
                              *ngIf="isFieldValid('to')"
                              [errorMsg]="validations('formBuilder.until')"
                            >
                            </cml-validations>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col mx-auto">
                <div class="form-group">
                  <label for="charge_additionals">
                    {{ "tableTitle.additionalsCharge" | translate }}
                    <span class="text-danger">(*)</span>
                  </label>
                  <select
                    class="form-control"
                    id="charge_additionals"
                    aria-describedby="charge_additionals"
                    formControlName="charge_additionals"
                    [ngClass]="displayFieldCss('charge_additionals')"
                  >
                    <option [ngValue]="0">
                      {{ "select.all" | translate }}
                    </option>
                    <option [ngValue]="1">
                      {{ "formBuilder.crossing" | translate }}
                    </option>
                    <option [ngValue]="2">
                      {{ "formBuilder.impost" | translate }}
                    </option>
                    <option [ngValue]="3">
                      {{ "formBuilder.nationalization" | translate }}
                    </option>
                    <option [ngValue]="4">
                      {{ "formBuilder.insurance" | translate }}
                    </option>
                  </select>
                  <cml-validations
                    *ngIf="isFieldValid('charge_additionals')"
                    [errorMsg]="validations('tableTitle.additionalsCharge')"
                  >
                  </cml-validations>
                </div>
              </div>
              <div class="col mx-auto">
                <div class="form-group">
                  <div class="bg-light p-3 text-dark d-flex rounded">
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        id="day"
                        formControlName="day"
                        aria-describedby="day"
                        [(ngModel)]="filterBy"
                        [value]="3"
                      />
                      <label class="form-check-label" for="day">
                        {{ "formBuilder.day" | translate }}
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        id="shipping"
                        formControlName="shipping"
                        aria-describedby="shipping"
                        [(ngModel)]="filterBy"
                        [value]="4"
                      />
                      <label class="form-check-label" for="shipping">
                        {{ "tableRender.shipping" | translate }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col mx-auto">
                <div class="form-group">
                  <label for="total">
                    {{ "formBuilder.total-pay" | translate }}
                    <span class="text-danger">(*)</span>
                  </label>
                  <select
                    class="form-control"
                    id="total"
                    aria-describedby="total"
                    formControlName="total"
                    [ngClass]="displayFieldCss('total')"
                  >
                    <option [value]="null">
                      {{ "inputs.optionSelect" | translate }}
                    </option>
                    <option [value]="2">
                      {{ "submodules.country-reports" | translate }}
                    </option>
                    <option [value]="1">
                      {{ "submodules.agency-reports" | translate }}
                    </option>
                    <option [value]="4">
                      {{ "select.no-total" | translate }}
                    </option>
                  </select>
                  <cml-validations
                    *ngIf="isFieldValid('total')"
                    [errorMsg]="validations('formBuilder.total-pay')"
                  >
                  </cml-validations>
                </div>
              </div>
              <div class="col mx-auto">
                <div class="text-center mx-auto">
                  <div
                    class="spinner-border text-primary"
                    role="status"
                    *ngIf="submitted"
                  >
                    <span class="sr-only">Loading...</span>
                  </div>
                  <button
                    type="submit"
                    class="btn btn-primary btn-block"
                    *ngIf="!submitted"
                  >
                    {{ "formBuilder.generate" | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
