<section *ngIf="step === 2">
  <cml-transaction
    [grandTotal]="total"
    [productivity]="productivity"
    (onClose)="onCloseNgbModal($event)"
  ></cml-transaction>
</section>
<section *ngIf="step === 1">
  <div class="row">
    <div class="col col-md py-1 mx-auto">
      <div class="table-responsive">
        <table class="table table-bordered table-white">
          <thead>
            <tr>
              <th colspan="6" scope="col" class="text-center">
                {{ "tableRender.commission" | translate }}
              </th>
            </tr>
            <tr>
              <th scope="col">
                {{ "tableRender.invoice" | translate }}
              </th>
              <th scope="col">
                {{ "tableRender.origin" | translate }}
              </th>
              <th scope="col">
                {{ "tableRender.destiny" | translate }}
              </th>
              <th scope="col">
                {{ "tableRender.priceAgency" | translate }}
              </th>
              <th scope="col">
                {{ "tableRender.priceCML" | translate }}
              </th>
              <th scope="col">
                {{ "tableRender.amount" | translate }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let quote of quotes; let key = index">
              <th scope="row">
                {{ quote.alphanumeric }}
              </th>
              <td>
                {{ getOriginName(quote) }}
              </td>
              <td>
                {{ getCountryName(quote.country) }}
              </td>
              <td>
                {{ getPriceByUser(quote) | currency: "USD" }}
              </td>
              <td>
                {{ quote.subtotal_agency | currency: "USD" }}
              </td>
              <td>
                {{ quote.commission | currency: "USD" }}
              </td>
            </tr>
            <tr>
              <td colspan="5" class="text-right">
                {{ "tableRender.total" | translate }}
              </td>
              <td>
                {{ totalQuotes | currency: "USD" }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-md py-1 mx-auto">
      <div class="table-responsive">
        <table class="table table-bordered table-white">
          <thead>
            <tr>
              <th colspan="6" scope="col" class="text-center">
                {{ "tableRender.income" | translate }}
              </th>
            </tr>
            <tr>
              <th scope="col">
                {{ "tableRender.id" | translate }}
              </th>
              <th scope="col">
                {{ "tableRender.country" | translate }}
              </th>
              <th scope="col">
                {{ "tableRender.typeUser" | translate }}
              </th>
              <th scope="col">
                {{ "tableRender.name" | translate }}
              </th>
              <th scope="col">
                {{ "tableRender.amount" | translate }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; let key = index">
              <th scope="row">
                {{ user.alphanumeric }}
              </th>
              <td>
                {{ getCountryName(user.person.country) }}
              </td>
              <td>
                {{ getTypeUser(user.tier) }}
              </td>
              <td>
                {{ user.person.name }}
              </td>
              <td>
                {{ user.commission | currency: "USD" }}
              </td>
            </tr>
            <tr>
              <td colspan="4" class="text-right">
                {{ "tableRender.total" | translate }}
              </td>
              <td>
                {{ totalUsers | currency: "USD" }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!hasProductivity">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <button
        type="button"
        class="btn btn-primary text-uppercase float-right mb-1 mr-2 btn-sm"
        (click)="onChangeStep(2)"
      >
        {{ "buttonText.goToPay" | translate }}
      </button>
    </div>
  </div>
  <div class="row" *ngIf="hasProductivity">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <p class="text-center text-danger">
        {{ "cardContent.withProductivity" | translate }}
      </p>
    </div>
  </div>
</section>
