<section>
  <ng-template #ngbCommodityView let-ngmodal>
    <cml-modal
      title="{{ 'submodules.commodity' | translate }}"
      [size]="true"
      (onClose)="onCloseNgbModal()"
    >
      <div class="overflow-auto list-group list-group-flush border-0">
        <div class="form-group mx-auto">
          <img [src]="image" class="img-fluid" style="max-height: 250px" />
        </div>
      </div>
    </cml-modal>
  </ng-template>
  <ng-template #ngbCommodityCreate let-ngmodal>
    <cml-modal
      title="{{
        (isEditing ? 'ngbModal.updateCommodity' : 'ngbModal.commodity')
          | translate
      }}"
      [size]="true"
      (onClose)="onCloseNgbModal()"
    >
      <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="commodity">
        <div class="row" *ngIf="!!errors">
          <div class="col-12 col-sm-12 col-md col-lg">
            <cml-errors [errors]="errors"></cml-errors>
          </div>
        </div>
        <div class="row" *ngIf="user.tier !== 11 && !!changeStatus">
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <!-- folio envio -->
              <label for="alphanumeric">
                {{ "tableRender.tracking" | translate }}
              </label>
              <input
                type="text"
                class="form-control"
                [ngClass]="displayFieldCss('alphanumeric')"
                id="alphanumeric"
                formControlName="alphanumeric"
                aria-describedby="alphanumeric"
                placeholder=""
              />
              <cml-validations
                *ngIf="isFieldValid('alphanumeric')"
                [errorMsg]="validations('tableRender.tracking')"
              >
              </cml-validations>
            </div>
          </div>
        </div>
        <div *ngIf="!!!changeStatus">
          <div class="row">
            <div class="col-12 col-sm-12 col-md col-lg">
              <div class="form-group">
                <!-- descripcion -->
                <label for="description">
                  {{ "formBuilder.description" | translate }}
                  <span class="text-danger">(*)</span>
                </label>
                <input
                  type="text"
                  class="form-control"
                  [ngClass]="displayFieldCss('description')"
                  id="description"
                  formControlName="description"
                  aria-describedby="description"
                  placeholder=""
                />
                <cml-validations
                  *ngIf="isFieldValid('description')"
                  [errorMsg]="validations('formBuilder.description')"
                >
                </cml-validations>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-12 col-md col-lg">
              <div class="form-group">
                <label for="amount"
                  >{{ "formBuilder.amount" | translate }}
                  <span class="text-danger">(*)</span></label
                >
                <input
                  #declaredValue
                  type="number"
                  inputmode="decimal"
                  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                  class="form-control"
                  [ngClass]="displayFieldCss('amount')"
                  id="amount"
                  formControlName="amount"
                  aria-describedby="amount"
                  placeholder=""
                  (blur)="minInsured()"
                />
                <cml-validations
                  *ngIf="isFieldValid('amount')"
                  [errorMsg]="validations('formBuilder.amount')"
                >
                </cml-validations>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-12 col-md col-lg">
              <div class="form-group">
                <label for="insured_value"
                  >{{ "formBuilder.insuredValue" | translate }}
                  <span class="text-danger">(*)</span></label
                >
                <input
                  #insuredValue
                  type="number"
                  pattern="[0-9]*"
                  inputmode="numeric"
                  class="form-control"
                  [ngClass]="displayFieldCss('insured_value')"
                  id="insured_value"
                  formControlName="insured_value"
                  aria-describedby="insured_value"
                  placeholder=""
                  (blur)="maxInsuredValue()"
                />
                <cml-validations
                  *ngIf="isFieldValid('insured_value')"
                  [errorMsg]="validations('formBuilder.insuredValue')"
                >
                </cml-validations>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-sm-12 col-md col-lg">
              <div class="form-group">
                <label for="file">
                  {{ "formBuilder.fileTypeCommercial" | translate }}
                </label>
                <input
                  type="file"
                  class="form-control-file"
                  [ngClass]="displayFieldCss('file')"
                  id="file"
                  formControlName="file"
                  aria-describedby="file"
                  accept="image/*,application/pdf"
                  (change)="onFileChanged($event)"
                />
                <cml-validations
                  *ngIf="isFieldValid('file')"
                  [errorMsg]="validations('formBuilder.fileTypeCommercial')"
                >
                </cml-validations>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col-12 col-sm-12 col-md col-lg"
            *ngIf="!!imageSrc && getFileExtension(imageSrc) !== 'pdf'"
          >
            <div class="form-group">
              <img [src]="imageSrc" class="img-fluid mw-15" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-md col-lg" *ngIf="!submitted">
            <button type="submit" class="btn btn-primary btn-block">
              {{ "formButton.save" | translate }}
            </button>
          </div>
          <div class="col col-md col-lg text-center" *ngIf="submitted">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </form>
    </cml-modal>
  </ng-template>

  <div class="row justify-content-center" *ngIf="step === 1">
    <div class="col col-md col-lg">
      <div class="container bg-white rounded shadow">
        <div class="table-responsive">
          <table class="table table-fixeded table-striped mx-auto">
            <thead>
              <tr>
                <th colspan="6" class="border-top-0">
                  <span class="text-uppercase">
                    {{ "tableTitle.conmmodity" | translate }}
                  </span>
                  <span
                    class="float-left float-sm-left float-md-right float-lg-right float-xl-right"
                    *ngIf="user.tier === 11"
                  >
                    <button
                      type="button"
                      class="btn btn-primary text-uppercase btn-sm"
                      (click)="shouldToggleCreate(ngbCommodityCreate)"
                    >
                      {{ "buttonText.generate" | translate }}
                    </button>
                  </span>
                </th>
              </tr>
              <tr>
                <th class="bg-table" scope="col" style="width: 355px">
                  {{ "tableRender.date" | translate }}
                </th>
                <th
                  class="bg-table"
                  scope="col"
                  style="width: 355px; padding-left: 63px"
                  *ngIf="user.tier !== 11"
                >
                  {{ "tableRender.name" | translate }}
                </th>
                <th class="bg-table" scope="col" style="width: 355px">
                  {{ "tableRender.description" | translate }}
                </th>
                <th class="bg-table" scope="col" style="width: 350px">
                  {{ "tableRender.amount" | translate }}
                </th>
                <th class="bg-table" scope="col" style="width: 350px">
                  {{ "tableRender.insuredValue" | translate }}
                </th>
                <th class="bg-table" scope="col" style="width: 355px">
                  {{ "tableRender.actions" | translate }}
                </th>
              </tr>
              <tr *ngIf="isLoading">
                <th colspan="6">
                  <cml-loading
                    [loading]="isLoading"
                    color="text-primary"
                  ></cml-loading>
                </th>
              </tr>
              <tr
                *ngIf="!isLoading && (!commoditys || commoditys?.length === 0)"
              >
                <th colspan="6">
                  {{ "tableLength.users" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="pointer"
                *ngFor="let commodity of commoditys; let key = index"
              >
                <th scope="row" style="width: 355px">
                  {{ commodity.date }}
                </th>
                <th scope="row" style="width: 355px" *ngIf="user.tier !== 11">
                  <span
                    class="d-inline-block text-truncate"
                    style="width: 120px"
                    data-toggle="tooltip"
                    [title]="commodity.user.person.name"
                    >{{ commodity.user.person.name }}</span
                  >
                </th>
                <td scope="row" style="width: 355px">
                  {{ commodity.description }}
                </td>
                <td scope="row" style="width: 350px">
                  {{ commodity.amount | currency: "USD" }}
                </td>
                <td scope="row" style="width: 350px">
                  {{ commodity.insured_value | currency: "USD" }}
                </td>
                <td class="text-center" scope="row" style="width: 355px">
                  <button
                    type="button"
                    class="btn btn-primary mx-1 btn-sm"
                    (click)="
                      shouldToggleUpdate(ngbCommodityCreate, commodity.id, true)
                    "
                    *ngIf="toggleButtonByTierId(3)"
                    [disabled]="commodity.status === 1"
                    [ngClass]="
                      commodity.status === 1 ? 'btn-success' : 'btn-danger'
                    "
                  >
                    <i
                      class="fa"
                      [ngClass]="
                        commodity.status === 1
                          ? 'fa-toggle-on'
                          : 'fa-toggle-off'
                      "
                    ></i>
                  </button>
                  <button
                    type="button"
                    (click)="
                      shouldToggleUpdate(
                        ngbCommodityCreate,
                        commodity.id,
                        false
                      )
                    "
                    class="btn btn-primary mx-1 btn-sm"
                    *ngIf="
                      (toggleButtonByTierId(3) || user.tier === 11) &&
                      commodity.status === 0
                    "
                  >
                    <i class="fa fa-edit"></i>
                  </button>

                  <button
                    type="button"
                    (click)="shouldToggleView(ngbCommodityView, commodity.id)"
                    class="btn btn-primary mx-1 btn-sm"
                  >
                    <i class="fa fa-eye"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center" *ngIf="step === 2">
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
      <button
        type="button"
        class="btn btn-danger text-uppercase btn-sm my-2"
        (click)="step = 1"
      >
        <span class="mx-1">
          <i class="fa fa-arrow-left"></i>
        </span>
        {{ "buttonText.before" | translate }}
      </button>
      <iframe
        [src]="urlFile"
        scrolling="yes"
        frameborder="0"
        type="application/pdf"
      >
      </iframe>
    </div>
  </div>
</section>
