<section>
    <ng-template #ngbCountry let-ngmodal>
        <cml-modal title="{{ 'ngbModal.updateCommission' | translate }}" [size]="true" (onClose)="onCloseNgbModal()">
            <form (ngSubmit)="onSubmit()" [formGroup]="country">
                <div class="row" *ngIf="!!errors">
                    <div class="col-12 col-sm-12 col-md col-lg">
                        <cml-errors [errors]="errors"></cml-errors>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md col-lg">
                        <div class="form-group">
                            <label for="name">
                {{ "formBuilder.name" | translate }}
                <span class="text-danger">(*)</span>
              </label>
                            <input type="text" class="form-control" [ngClass]="displayFieldCss('name')" id="name" maxlength="90" formControlName="name" aria-describedby="name" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md col-lg">
                        <div class="form-group">
                            <label for="user_settings">
                {{ "formBuilder.setting" | translate }}
                <span class="text-danger">(*)</span>
              </label>
                            <select class="form-control" [ngClass]="displayFieldCss('user_settings')" id="user_settings" formControlName="user_settings" aria-describedby="user_settings" (change)="onChangeTypeSetting()">
                <option [ngValue]="null">
                  {{ "inputs.optionSelect" | translate }}
                </option>
                <option [ngValue]="1">
                  {{ "select.supervisor" | translate }}
                </option>
                <option [ngValue]="2">
                  {{ "select.seller" | translate }}
                </option>
              </select>
                            <cml-validations *ngIf="isFieldValid('user_settings')" [errorMsg]="validations('formBuilder.setting')">
                            </cml-validations>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="hiddenByValue('user_settings')">
                    <div class="col-12 col-sm-12 col-md col-lg">
                        <div class="form-group">
                            <label for="payment">
                {{ "formBuilder.type_payment" | translate }}
                <span class="text-danger">(*)</span>
              </label>
                            <select class="form-control" [ngClass]="displayFieldCss('payment')" id="payment" formControlName="payment" aria-describedby="payment" (change)="onChangeTypePayment()">
                <option [ngValue]="null">
                  {{ "inputs.optionSelect" | translate }}
                </option>
                <option [ngValue]="1">
                  {{ "select.ingress" | translate }}
                </option>
                <option [ngValue]="2">
                  {{ "select.commission" | translate }}
                </option>
              </select>
                            <cml-validations *ngIf="isFieldValid('payment')" [errorMsg]="validations('formBuilder.type_payment')">
                            </cml-validations>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="hiddenByValue('payment')">
                    <div class="col-12 col-sm-12 col-md col-lg">
                        <div class="form-group">
                            <label for="type">
                {{ "formBuilder.typeUser" | translate }}
                <span class="text-danger">(*)</span>
              </label>
                            <select class="form-control" [ngClass]="displayFieldCss('type')" id="type" formControlName="type" aria-describedby="type" (change)="onChangeTypeUser()">
                <option [ngValue]="null">
                  {{ "inputs.optionSelect" | translate }}
                </option>
                <option [ngValue]="1">
                  {{ "select.supervisor" | translate }}
                </option>
                <option [ngValue]="2">
                  {{ "select.seller" | translate }}
                </option>
                <option [ngValue]="3">
                  {{ "select.agency" | translate }}
                </option>
                <option [ngValue]="4">
                  {{ "select.locker" | translate }}
                </option>
              </select>
                            <cml-validations *ngIf="isFieldValid('type')" [errorMsg]="validations('formBuilder.typeUser')">
                            </cml-validations>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="hiddenByValue('type')">
                    <div class="col-12 col-sm-12 col-md col-lg">
                        <div class="form-group">
                            <label for="type_amount">
                {{ "formBuilder.amount" | translate }}
                <span class="text-danger">(*)</span>
              </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <select class="form-control" [ngClass]="displayFieldCss('type_amount')" id="type_amount" formControlName="type_amount" aria-describedby="type_amount">
                    <option [ngValue]="null">
                      {{ "inputs.optionSelect" | translate }}
                    </option>
                    <option [ngValue]="0">%</option>
                    <option [ngValue]="1">$</option>
                  </select>
                                </div>
                                <input type="number" inputmode="decimal" class="form-control" [ngClass]="displayFieldCss('amount')" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" id="amount" formControlName="amount" aria-describedby="amount" placeholder="" />
                            </div>
                            <cml-validations *ngIf="isFieldValid('amount')" [errorMsg]="validations('formBuilder.amount')">
                            </cml-validations>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ng-container [ngSwitch]="submitted">
                        <ng-template [ngSwitchCase]="true">
                            <div class="col col-md col-lg text-center">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template [ngSwitchCase]="false">
                            <div class="col col-md">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">
                    {{ "formButton.save" | translate }}
                  </button>
                                </div>
                            </div>
                        </ng-template>
                    </ng-container>
                </div>
            </form>
        </cml-modal>
    </ng-template>
    <div class="row justify-content-center">
        <div class="col col-md col-lg">
            <div class="container bg-white rounded shadow">
                <div class="table-responsive">
                    <table class="table table-striped mx-auto">
                        <thead>
                            <tr>
                                <th class="align-left border-top-0" colspan="7">
                                    <div>
                                        <label for="type_content">
                      {{ "formBuilder.country" | translate }}
                      <span class="text-danger">(*)</span>
                    </label>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <div class="form-group">
                                                <div class="d-flex">
                                                    <select class="form-control" id="countryId" [(ngModel)]="countryId" aria-describedby="countryId" (change)="onChangeCountryId()">
                            <option
                              [ngValue]="country.id"
                              *ngFor="let country of countries"
                            >
                              {{ getCountryName(country) }}
                            </option>
                          </select>
                                                    <button type="button" (click)="shouldToggleUpdate(ngbCountry, countryId)" class="btn btn-primary mx-1 btn-sm" *ngIf="toggleButtonByTierId(3)">
                            <i class="fa fa-edit"></i>
                          </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th scope="col" class="bg-table" style="width:300px;">
                                    {{ "tableRender.setting" | translate }}
                                </th>
                                <th scope="col" class="bg-table" style="width:300px;">
                                    {{ "tableRender.typePayment" | translate }}
                                </th>
                                <th scope="col" class="bg-table" style="width:300px;">
                                    {{ "tableRender.user" | translate }}
                                </th>
                                <th scope="col" class="bg-table" style="width:200px;">
                                    {{ "tableRender.amount" | translate }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="isLoading">
                                <td colspan="4">
                                    <cml-loading [loading]="isLoading" color="text-primary"></cml-loading>
                                </td>
                            </tr>
                            <tr *ngIf="!isLoading && paymentSettings.length === 0">
                                <td colspan="4">
                                    {{ "tableLength.countries" | translate }}
                                </td>
                            </tr>
                            <tr *ngFor="let payment of paymentSettings">
                                <th scope="row" style="width:300px;" class="text-center">
                                    {{ getTypeSettingName(payment.user_settings) }}
                                </th>
                                <th scope="row" style="width:300px;" class="text-center">
                                    {{ getPaymentName(payment.payment) }}
                                </th>
                                <td style="width:300px;" class="text-center">
                                    {{ getTypeUserName(payment.type) }}
                                </td>
                                <td style="width:200px;" class="text-center">
                                    {{ payment.payment !== 0 ? payment.type_amount ? "$" + payment.amount : payment.amount + "%" : payment.payment }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>