<section>
  <ng-template #ngbUploadImage let-ngmodal>
    <cml-modal
      title="{{ 'tableAction.addImages' | translate }}"
      [size]="true"
      (onClose)="onCloseNgbModal()"
    >
      <cml-upload-image
        [data]="images"
        [isSubmitted]="submitted"
        (responseFiles)="responseFiles($event)"
      ></cml-upload-image>
    </cml-modal>
  </ng-template>
  <ng-template #ngbInventories let-ngmodal>
    <cml-modal
      title="{{ 'tableAction.generateInventory' | translate }}"
      [size]="true"
      (onClose)="onCloseNgbModal()"
    >
      <form (ngSubmit)="onSubmit()" [formGroup]="inventory" autocomplete="off">
        <div class="row" *ngIf="!!errors">
          <div class="col-12 col-sm-12 col-md col-lg">
            <cml-errors [errors]="errors"></cml-errors>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <label for="sale_price">
                {{ "formBuilder.sale_price" | translate }}
                <span class="text-danger">(*)</span>
              </label>
              <input
                type="number"
                class="form-control"
                [ngClass]="displayFieldCss('sale_price')"
                id="sale_price"
                ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                formControlName="sale_price"
                aria-describedby="sale_price"
                placeholder=""
              />
              <cml-validations
                *ngIf="isFieldValid('sale_price')"
                [errorMsg]="validations('formBuilder.sale_price')"
              >
              </cml-validations>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <label for="amount">
                {{ "formBuilder.quantity" | translate }}
                <span class="text-danger">(*)</span>
              </label>
              <input
                type="number"
                class="form-control"
                [ngClass]="displayFieldCss('amount')"
                id="amount"
                ng-pattern="[0-9]{10}"
                formControlName="amount"
                aria-describedby="amount"
                placeholder=""
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-md col-lg" *ngIf="!!!submitted">
            <button type="submit" class="btn btn-primary btn-block">
              {{ "formButton.save" | translate }}
            </button>
          </div>
          <div class="col col-md col-lg text-center" *ngIf="!!submitted">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </form>
    </cml-modal>
  </ng-template>
  <div class="row justify-content-center">
    <div class="col col-md col-lg">
      <div class="container bg-white rounded shadow">
        <div class="table-responsive">
          <table class="table table-fixeded table-striped mx-auto">
            <thead>
              <tr>
                <th colspan="6" class="border-top-0">
                  <span class="text-uppercase">
                    {{ "tableTitle.inventories" | translate }}
                  </span>
                </th>
              </tr>
              <tr>
                <th class="bg-table" scope="col" style="width: 355px">
                  {{ "select.package" | translate }}
                </th>
                <th class="bg-table" scope="col" style="width: 355px">
                  {{ "formBuilder.price" | translate }}
                </th>
                <th class="bg-table" scope="col" style="width: 350px">
                  {{ "formBuilder.stock" | translate }}
                </th>
                <th
                  class="bg-table text-center"
                  scope="col"
                  style="width: 355px"
                >
                  {{ "tableRender.actions" | translate }}
                </th>
              </tr>
              <tr *ngIf="isLoading">
                <th colspan="6">
                  <cml-loading
                    [loading]="isLoading"
                    color="text-primary"
                  ></cml-loading>
                </th>
              </tr>
              <tr
                *ngIf="!isLoading && (!inventories || inventories.length === 0)"
              >
                <th colspan="6">
                  {{ "tableLength.employees" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let inventory of inventories">
                <th scope="row" style="width: 350px">
                  {{ getServiceName(inventory) }}
                </th>
                <td scope="row" style="width: 350px">
                  {{ inventory.sale_price | currency: "USD" }}
                </td>
                <td scope="row" style="width: 350px">
                  {{ inventory.stock }}
                </td>
                <td class="text-center" scope="row" style="width: 350px">
                  <button
                    type="button"
                    class="btn btn-primary mx-1 btn-sm"
                    (click)="shouldToggleEdit(ngbInventories, inventory.id)"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-warning mx-1 btn-sm"
                    (click)="shouldToggleUpload(ngbUploadImage, inventory.id)"
                  >
                    <i class="fa fa-images text-white"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <cml-floating-home [show]="home"></cml-floating-home>
</section>
