<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <p class="text-center">
            <a href="javascript:void(0);" (click)="toggle = !toggle">
        {{ getToggleName() | translate }}
      </a>
        </p>
        <div class="table-responsive" *ngIf="!!toggle">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="bg-table" scope="col">
                            {{ "tableRender.name" | translate }}
                        </th>
                        <th class="bg-table" scope="col">
                            {{ "tableRender.quantity" | translate }}
                        </th>
                        <th class="bg-table" scope="col">
                            {{ "tableRender.sale_price" | translate }}
                        </th>
                        <th class="bg-table" scope="col">
                            {{ "tableRender.subtotal" | translate }}
                        </th>
                        <th class="bg-table" scope="col">
                            {{ "tableRender.taxation" | translate }}
                        </th>
                        <th class="bg-table" scope="col">
                            {{ "tableRender.total" | translate }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let article of shop">
                        <th scope="row">
                            {{ article.name }}
                        </th>
                        <td scope="row">
                            {{ article.quantity }}
                        </td>
                        <td scope="row">
                            {{ article.sale_price | currency: "USD" }}
                        </td>
                        <td scope="row">
                            {{ article.subtotal | currency: "USD" }}
                        </td>
                        <td scope="row">
                            {{ article.taxation | currency: "USD" }}
                        </td>
                        <td scope="row">
                            {{ article.total | currency: "USD" }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle text-uppercase my-2">
                    {{ "cardText.paymentMethods" | translate }}
                    <span class="float-right">
            {{ "tableRender.grandTotal" | translate }}:
            <span class="mx-3">{{ grandTotal | currency: "USD" }}</span>
                    </span>
                </h6>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="d-flex align-items-center payments">
                            <input type="radio" id="stripe" [value]="1" [(ngModel)]="paymentMethod" (click)="paymentMethod = 1" />
                            <label for="stripe" class="text-uppercase mb-0 mx-3">
                <img
                  src="assets/img/payment-methods.png"
                  width="100"
                  title="{{ 'payment.stripe' | translate }}"
                />
              </label>
                            <input type="radio" id="transfer" [value]="2" [(ngModel)]="paymentMethod" (click)="paymentMethod = 2" />
                            <label for="transfer" class="text-uppercase mb-0 mx-3">
                {{ "payment.transfer" | translate }}
              </label>
                            <input type="radio" id="check" [value]="3" [(ngModel)]="paymentMethod" (click)="paymentMethod = 3" />
                            <label for="check" class="text-uppercase mb-0 mx-3">
                {{ "payment.check" | translate }}
              </label>
                        </div>
                    </div>
                </div>
                <ng-container [ngSwitch]="paymentMethod">
                    <cml-stripe *ngSwitchCase="1" [submitted]="submitted" [grandTotal]="grandTotal" [proprietary]="user.person.name" (responseToken)="responseToken($event)" (eventLoadSubmitted)="eventLoadSubmitted($event)"></cml-stripe>
                    <cml-transfer *ngSwitchCase="2" [submitted]="submitted" [grandTotal]="grandTotal" (responseTransfer)="responseTransfer($event)"></cml-transfer>
                    <cml-deposit *ngSwitchCase="3" [submitted]="submitted" [grandTotal]="grandTotal" (responseDeposit)="responseDeposit($event)"></cml-deposit>
                </ng-container>
            </div>
        </div>
    </div>
</div>