<div class="row justify-content-center">
  <div class="col col-md col-lg" *ngIf="step === 1">
    <div class="container bg-white rounded shadow">
      <div class="table-responsive">
        <table class="table table-fixeded table-striped mx-auto">
          <thead>
            <tr>
              <th colspan="9" class="border-top-0">
                <span class="text-uppercase">
                  {{ "tableTitle.invoicedPackages" | translate }}
                </span>
              </th>
            </tr>
            <tr>
              <th colspan="9">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                    <label for="alphanumeric">
                      {{ "tableRender.invoice" | translate }}
                    </label>
                    <div class="form-group">
                      <input
                        id="alphanumeric"
                        type="text"
                        ngClass="form-control"
                        name="alphanumeric"
                        [(ngModel)]="search.alphanumeric"
                        (keyup.enter)="onKey('alphanumeric')"
                        (focus)="clearInput('alphanumeric')"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                    <label for="text">
                      {{ "formBuilder.codeSend" | translate }}
                    </label>
                    <div class="form-group">
                      <input
                        id="code"
                        type="code"
                        ngClass="form-control"
                        name="code"
                        [(ngModel)]="search.code"
                        (keyup.enter)="onKey('code')"
                        (focus)="clearInput('code')"
                      />
                    </div>
                  </div>
                  <div
                    class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 m-auto pt-2"
                  >
                    <button
                      type="button"
                      class="btn btn-primary mx-1 btn-sm"
                      (click)="searchButton()"
                    >
                      <i class="fa fa-search"></i>
                    </button>
                    <button
                      type="button"
                      (click)="clearAll()"
                      class="btn btn-secondary mx-1 btn-sm"
                    >
                      <i class="fa fa-eraser"></i>
                    </button>
                  </div>
                  <div class="col-12 col-sm-12 col-md col-lg col-xl m-auto">
                    <div class="form-group">
                      <label for="type">
                        {{ "formBuilder.type" | translate }}
                      </label>
                      <div class="form-group">
                        <select
                          class="form-control"
                          id="type"
                          aria-describedby="type"
                          [(ngModel)]="typeInvoicing"
                          (change)="changeTypeInvoicing()"
                        >
                          <option [ngValue]="null">
                            {{ "inputs.optionSelect" | translate }}
                          </option>
                          <option [ngValue]="0">
                            {{ "tableRender.shipping" | translate }}
                          </option>
                          <option [ngValue]="1">
                            {{ "modules.store" | translate }}
                          </option>
                          <option [ngValue]="2">
                            {{ "formBuilder.membership_user" | translate }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </th>
            </tr>
            <tr>
              <th class="bg-table" scope="col" style="width: 150px">
                {{ "tableRender.invoice" | translate }}
              </th>
              <th class="bg-table" scope="col" style="width: 100px">
                {{ "tableRender.date" | translate }}
              </th>
              <th class="bg-table" scope="col" style="width: 160px">
                {{ "tableRender.agency" | translate }}
              </th>
              <th class="bg-table" scope="col" style="width: 80px">
                {{ "tableRender.quantity" | translate }}
              </th>
              <th class="bg-table" scope="col" style="width: 110px">
                {{ "tableRender.subtotal" | translate }}
              </th>
              <th class="bg-table" scope="col" style="width: 120px">
                {{ "tableRender.charges" | translate }}
              </th>
              <th class="bg-table" scope="col" style="width: 130px">
                {{ "tableRender.total" | translate }}
              </th>
              <th class="bg-table" scope="col" style="width: 100px">
                {{ "payment.pay" | translate }}
              </th>
              <th class="bg-table" scope="col" style="width: 157px">
                {{ "tableRender.actions" | translate }}
              </th>
            </tr>
            <tr *ngIf="submitted">
              <td colspan="9">
                <cml-loading
                  [loading]="submitted"
                  color="text-primary"
                ></cml-loading>
              </td>
            </tr>
            <tr *ngIf="!submitted && (!invoicing || invoicing.length === 0)">
              <td colspan="9">
                {{ "tableLength.invoicing" | translate }}
              </td>
            </tr>
          </thead>
          <tbody>
            <tr
              class="pointer"
              *ngFor="let invoice of invoicing; let key = index"
              (click)="goToPayments(key)"
            >
              <th class="align-center" scope="row" style="width: 150px">
                {{ invoice.alphanumeric }}
              </th>
              <td class="align-center" style="width: 100px">
                {{ invoice.es_date }}
              </td>
              <td class="align-center" style="width: 160px">
                <span
                  class="d-inline-block text-truncate"
                  style="width: 100px"
                  data-toggle="tooltip"
                  [title]="nameAgency(invoice.user)"
                >
                  {{ nameAgency(invoice.user) }}
                </span>
              </td>
              <td class="align-center" style="width: 80px">
                {{ invoice.type === 2 ? 1 : invoice.quantity }}
              </td>
              <td class="align-right" style="width: 110px">
                {{ getPriceByTypeUser(invoice) | currency: "USD" }}
              </td>
              <td class="align-right" style="width: 120px">
                {{ invoice.charges | currency: "USD" }}
              </td>
              <td class="align-right" style="width: 130px">
                {{ getTotalByTypeUser(invoice) | currency: "USD" }}
              </td>
              <td class="align-right" style="width: 100px">
                <span
                  class="d-inline-block text-truncate"
                  style="width: 60px"
                  data-toggle="tooltip"
                  [title]="pay(invoice.payment)"
                >
                  {{ pay(invoice.payment) }}
                </span>
              </td>
              <td
                style="width: 157px; padding-left: 30px"
                (click)="$event.stopPropagation()"
              >
                <button
                  type="button"
                  class="btn btn-primary mb-1 mr-2 btn-sm"
                  (click)="statusInvoice(invoice)"
                  *ngIf="toggleButtonByTierId(8)"
                  [disabled]="invoice.status === 1"
                  [ngClass]="
                    invoice.status === 1 ? 'btn-success' : 'btn-danger'
                  "
                >
                  <i
                    class="fa"
                    [ngClass]="
                      invoice.status === 1 ? 'fa-toggle-on' : 'fa-toggle-off'
                    "
                  ></i>
                </button>
                <button
                  type="button"
                  class="btn btn-primary mb-1 mr-2 btn-sm"
                  (click)="printInvoicing(invoice.id)"
                >
                  <i class="fa fa-print"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-primary mb-1 mr-2 btn-sm"
                  (click)="revokeInvoice(invoice.id)"
                  [disabled]="invoice.status === 1"
                  *ngIf="toggleButtonByTierId(6)"
                >
                  <i class="fa fa-ban"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col col-md col-lg" *ngIf="step === 2">
    <div class="container">
      <div class="row my-2">
        <div class="col">
          <button
            type="button"
            class="btn btn-danger text-uppercase btn-sm"
            (click)="step = 1"
          >
            <span class="mx-1">
              <i class="fa fa-arrow-left"></i>
            </span>
            {{ "buttonText.before" | translate }}
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <iframe
            [src]="urlFile"
            scrolling="yes"
            frameborder="0"
            type="application/pdf"
          >
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>
