<section>
  <div class="container">
    <div class="row justify-content-center my-3">
      <div class="col col-12 col-sm-12 col-md-5 col-lg-6 col-xl-6">
        <div class="card bg-white rounded shadow">
          <div class="row justify-content-center py-2">
            <img src="../../../../assets/img/logo.png" width="200" />
          </div>
          <div class="card-body">
            <div class="row" *ngIf="!!!paypalCode">
              <div class="col text-center p-4 text-danger">
                <h5>{{ "errors.ERROR_CODE_PAYPAL" | translate }}</h5>
              </div>
            </div>
            <div *ngIf="!!paypalCode && loading">
              <div class="row">
                <div class="col text-center px-5 pt-4">
                  <span>{{ "cardContent.loading" | translate }}</span>
                </div>
              </div>
              <div class="row">
                <div class="col pt-2">
                  <cml-loading
                    [loading]="loading"
                    color="text-primary"
                  ></cml-loading>
                </div>
              </div>
            </div>
            <div *ngIf="!!paypalCode && !loading">
              <div class="row">
                <div class="col text-center px-4">
                  <h2>{{ "messages.userVerified" | translate }}</h2>
                </div>
              </div>
              <div class="row">
                <div class="col text-center px-5 pt-4">
                  <span>{{ "messages.paypalVerified" | translate }}</span>
                </div>
              </div>

              <div class="row">
                <div class="col mb-3 px-4">
                  <div class="input-group pt-3">
                    <input
                      type="text"
                      class="form-control"
                      id="email"
                      [value]="email"
                      disabled
                    />
                    <div class="input-group-append">
                      <span class="input-group-text text-success" id="email"
                        ><i class="fa fa-check-circle"></i
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col px-4">
                  <cml-loading
                    [loading]="submitted"
                    color="text-primary"
                  ></cml-loading>
                  <button
                    type="button"
                    class="btn btn-primary btn-block"
                    *ngIf="!submitted"
                    (click)="verification()"
                  >
                    {{ "buttonText.saveVerification" | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
