<section>
  <ng-template #ngbDisplayAgency let-ngmodal>
    <cml-modal
      [title]="displayAgency.person.name"
      [subtitle]="' (' + displayAgency.alphanumeric + ')'"
      [size]="true"
      (onClose)="onCloseNgbModal()"
    >
      <cml-display-user
        [user]="displayAgency"
        [userAgency]="true"
      ></cml-display-user>
    </cml-modal>
  </ng-template>

  <ng-template #ngbAgency let-ngmodal>
    <cml-modal
      title="{{
        (isEditing ? 'ngbModal.updateAgency' : 'ngbModal.createAgency')
          | translate
      }}"
      [size]="true"
      (onClose)="onCloseNgbModal()"
    >
      <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="agency">
        <div class="row" *ngIf="!!errors">
          <div class="col-12 col-sm-12 col-md col-lg">
            <cml-errors [errors]="errors"></cml-errors>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <!-- nombre -->
              <label for="name"
                >{{ "formBuilder.agencyName" | translate }}
                <span class="text-danger">(*)</span></label
              >
              <input
                type="text"
                class="form-control"
                [ngClass]="displayFieldCss('name')"
                id="name"
                maxlength="100"
                formControlName="name"
                aria-describedby="name"
                placeholder=""
              />
              <cml-validations
                *ngIf="isFieldValid('name')"
                [errorMsg]="validations('formBuilder.name')"
              >
              </cml-validations>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <!-- contacto -->
              <label for="contact"
                >{{ "formBuilder.contact" | translate }}
                <span class="text-danger">(*)</span></label
              >
              <input
                type="text"
                class="form-control"
                [ngClass]="displayFieldCss('contact')"
                id="contact"
                maxlength="100"
                formControlName="contact"
                aria-describedby="contact"
                placeholder=""
              />
              <cml-validations
                *ngIf="isFieldValid('contact')"
                [errorMsg]="validations('formBuilder.contact')"
              >
              </cml-validations>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <!-- email -->
              <label for="email"
                >{{ "formBuilder.email" | translate }}
                <span class="text-danger">(*)</span></label
              >
              <input
                type="text"
                class="form-control"
                [ngClass]="displayFieldCss('email')"
                id="email"
                maxlength="50"
                formControlName="email"
                aria-describedby="email"
                placeholder=""
              />
              <cml-validations
                *ngIf="isFieldValid('email')"
                [errorMsg]="validations('formBuilder.email')"
              >
              </cml-validations>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <!-- identification id -->
              <label for="identification_id"
                >{{ "formBuilder.identificationId" | translate }}
                <span class="text-danger">(*)</span></label
              >
              <input
                type="text"
                class="form-control"
                [ngClass]="displayFieldCss('identification_id')"
                id="identification_id"
                maxlength="50"
                formControlName="identification_id"
                aria-describedby="identification_id"
                placeholder=""
              />
              <cml-validations
                *ngIf="isFieldValid('identification_id')"
                [errorMsg]="validations('formBuilder.identificationId')"
              >
              </cml-validations>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <!-- contraseña -->
              <label for="password"
                >{{ "formBuilder.password" | translate }}
                <span class="text-danger">(*)</span></label
              >
              <input
                type="password"
                class="form-control"
                [ngClass]="displayFieldCss('password')"
                id="password"
                maxlength="30"
                formControlName="password"
                aria-describedby="password"
                [placeholder]="isEditing ? '••••••••••' : ''"
                (blur)="getValidationRegex()"
                (keyup)="validate($event.target.value)"
                (focus)="fPass()"
              />
              <cml-validations *ngIf="isFieldValid('password')">
              </cml-validations>
              <cml-password
                *ngIf="validatePass"
                [requireText]="requireText"
                [requireNumber]="requireNumber"
                [requireCharEs]="requireCharEs"
                [minChar]="minChar"
                [msgText]="'validations.oneCapitalLetter' | translate"
                [msgNumber]="'validations.leastOneNumber' | translate"
                [msgCharEs]="'validations.includeCharacter' | translate"
                [msgminChar]="'validations.minimumOfCharacters' | translate"
              >
              </cml-password>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <!-- telefono -->
              <label for="phone">{{ "formBuilder.phone" | translate }} </label>
              <input
                [cmlOnlyNumber]="true"
                type="number"
                pattern="[0-9]*"
                inputmode="numeric"
                class="form-control"
                [ngClass]="displayFieldCss('phone')"
                id="phone"
                formControlName="phone"
                aria-describedby="phone"
                placeholder=""
              />
              <cml-validations
                *ngIf="isFieldValid('phone')"
                [errorMsg]="validations('formBuilder.phone')"
              >
              </cml-validations>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <!-- movil -->
              <label for="cellphone"
                >{{ "formBuilder.cellphone" | translate
                }}<span class="text-danger">(*)</span></label
              >
              <input
                [cmlOnlyNumber]="true"
                type="number"
                pattern="[0-9]*"
                inputmode="numeric"
                class="form-control"
                [ngClass]="displayFieldCss('cellphone')"
                id="cellphone"
                formControlName="cellphone"
                aria-describedby="cellphone"
                placeholder=""
              />
              <cml-validations
                *ngIf="isFieldValid('cellphone')"
                [errorMsg]="validations('formBuilder.cellphone')"
              >
              </cml-validations>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <!-- rol -->
              <label for="role">
                {{ "formBuilder.role" | translate }}
                <span class="text-danger">(*)</span>
              </label>
              <select
                class="form-control"
                [ngClass]="displayFieldCss('role')"
                id="role"
                formControlName="role"
                aria-describedby="role"
              >
                <option [ngValue]="null">
                  {{ "inputs.optionSelect" | translate }}
                </option>
                <option [value]="profile.id" *ngFor="let profile of profiles">
                  {{ profile.name }}
                </option>
              </select>
              <cml-validations
                *ngIf="isFieldValid('role')"
                [errorMsg]="validations('formBuilder.role')"
              >
              </cml-validations>
            </div>
          </div>
          <div
            class="col-12 col-sm-12 col-md col-lg"
            *ngIf="user.tier !== 12 && user.tier !== 13"
          >
            <div class="form-group">
              <!-- precio -->
              <label for="agency_settings"
                >{{ "formBuilder.shipping_price" | translate }}
                <span class="text-danger">(*)</span></label
              >
              <select
                class="form-control"
                [ngClass]="displayFieldCss('agency_settings')"
                id="agency_settings"
                formControlName="agency_settings"
                aria-describedby="agency_settings"
              >
                <option [ngValue]="null">
                  {{ "inputs.optionSelect" | translate }}
                </option>
                <option [ngValue]="1">
                  {{ "select.agency" | translate }}
                </option>
                <option [ngValue]="2">
                  {{ "select.corporate" | translate }}
                </option>
              </select>
              <cml-validations
                *ngIf="isFieldValid('agency_settings')"
                [errorMsg]="validations('formBuilder.shipping_price')"
              >
              </cml-validations>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <!-- pais -->
              <label for="country_id"
                >{{ "formBuilder.country" | translate }}
                <span class="text-danger">(*)</span></label
              >
              <select
                class="form-control"
                [ngClass]="displayFieldCss('country_id')"
                id="country_id"
                formControlName="country_id"
                aria-describedby="country_id"
                (change)="onDefaultValuesStateAndCountry()"
              >
                <option [ngValue]="null">
                  {{ "inputs.optionSelect" | translate }}
                </option>
                <option
                  [ngValue]="country.id"
                  *ngFor="let country of countries"
                >
                  {{ country.name }}
                </option>
              </select>
              <cml-validations
                *ngIf="isFieldValid('country_id')"
                [errorMsg]="validations('formBuilder.country')"
              >
              </cml-validations>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <!-- codigo postal -->
              <label for="zip_code">
                {{ "formBuilder.zip_code" | translate }}
                <span class="text-danger">(*)</span>
              </label>
              <input
                type="text"
                class="form-control"
                [ngClass]="displayFieldCss('zip_code')"
                id="zip_code"
                maxlength="10"
                formControlName="zip_code"
                aria-describedby="zip_code"
                placeholder=""
                (blur)="onBlurZipCode('zip_code')"
              />
              <cml-validations
                *ngIf="isFieldValid('zip_code')"
                [errorMsg]="validations('formBuilder.zip_code')"
              >
              </cml-validations>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <!-- habilitar -->
              <div class="bg-light p-3 text-dark d-flex rounded">
                <input
                  type="checkbox"
                  [checked]="shouldEnableStateAndCity"
                  (click)="shouldStateAndCity()"
                  id="regular"
                  aria-describedby="regular"
                />
                <label for="regular" class="mx-2">
                  {{ "checkbox.shouldStateAndCity" | translate }}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <!-- estado -->
              <label for="state"
                >{{ "formBuilder.state" | translate }}
                <span class="text-danger">(*)</span></label
              >
              <input
                type="text"
                class="form-control"
                [ngClass]="displayFieldCss('state')"
                id="state"
                maxlength="15"
                formControlName="state"
                aria-describedby="state"
                placeholder=""
              />
              <cml-validations
                *ngIf="isFieldValid('state')"
                [errorMsg]="validations('formBuilder.state')"
              >
              </cml-validations>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <!-- ciudad -->
              <label for="city"
                >{{ "formBuilder.city" | translate }}
                <span class="text-danger">(*)</span></label
              >
              <input
                type="text"
                class="form-control"
                [ngClass]="displayFieldCss('city')"
                id="city"
                maxlength="15"
                formControlName="city"
                aria-describedby="city"
                placeholder=""
              />
              <cml-validations
                *ngIf="isFieldValid('city')"
                [errorMsg]="validations('formBuilder.city')"
              >
              </cml-validations>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md col-lg">
            <div class="form-group">
              <!-- direccion -->
              <label for="address"
                >{{ "formBuilder.address" | translate }}
                <span class="text-danger">(*)</span></label
              >
              <textarea
                class="form-control"
                [ngClass]="displayFieldCss('address')"
                id="address"
                rows="1"
                formControlName="address"
                aria-describedby="address"
                placeholder=""
              ></textarea>
              <cml-validations
                *ngIf="isFieldValid('address')"
                [errorMsg]="validations('formBuilder.address')"
              >
              </cml-validations>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-md col-lg" *ngIf="!submitted">
            <button type="submit" class="btn btn-primary btn-block">
              {{ "formButton.save" | translate }}
            </button>
          </div>
          <div class="col col-md col-lg text-center" *ngIf="submitted">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </form>
    </cml-modal>
  </ng-template>

  <div class="row justify-content-center">
    <div class="col col-md col-lg">
      <div class="container bg-white rounded shadow">
        <div class="table-responsive">
          <table class="table table-fixeded table-striped mx-auto">
            <thead>
              <tr>
                <th colspan="7" class="border-top-0">
                  <span class="text-uppercase">
                    {{ "tableTitle.agencies" | translate }}
                  </span>
                  <span
                    class="float-left float-sm-left float-md-right float-lg-right float-xl-right"
                  >
                    <button
                      type="button"
                      class="btn btn-primary text-uppercase btn-sm"
                      (click)="shouldToggleCreate(ngbAgency)"
                      *ngIf="toggleButtonByTierId(2) && status === 1"
                    >
                      {{ "tableAction.generateAgency" | translate }}
                    </button>
                  </span>
                </th>
              </tr>
              <tr>
                <th scope="col">
                  <input
                    type="text"
                    id="search_id"
                    class="form-control"
                    maxlength="90"
                    aria-describedby="search_id"
                    placeholder="{{ 'inputPlaceHolder.search_id' | translate }}"
                    [(ngModel)]="search.id"
                    (keyup.enter)="onKey('id')"
                    (focus)="clearInput('id')"
                  />
                </th>
                <th scope="col">
                  <input
                    type="text"
                    id="search_name"
                    class="form-control"
                    maxlength="90"
                    aria-describedby="search_name"
                    placeholder="{{
                      'inputPlaceHolder.search_name' | translate
                    }}"
                    [(ngModel)]="search.name"
                    (keyup.enter)="onKey('name')"
                    (focus)="clearInput('name')"
                  />
                </th>
                <th scope="col">
                  <input
                    type="text"
                    id="search_contact"
                    class="form-control"
                    maxlength="90"
                    aria-describedby="search_contact"
                    placeholder="{{ 'tableRender.contact' | translate }}"
                    [(ngModel)]="search.contact"
                    (keyup.enter)="onKey('contact')"
                    (focus)="clearInput('contact')"
                  />
                </th>
                <th scope="col">
                  <input
                    [cmlOnlyNumber]="true"
                    type="number"
                    pattern="[0-9]*"
                    inputmode="numeric"
                    id="search_phone"
                    class="form-control"
                    maxlength="90"
                    aria-describedby="search_phone"
                    placeholder="{{ 'tableRender.phone' | translate }}"
                    [(ngModel)]="search.phone"
                    (keyup.enter)="onKey('phone')"
                    (focus)="clearInput('phone')"
                  />
                </th>
                <th scope="col">
                  <input
                    [cmlOnlyNumber]="true"
                    type="number"
                    pattern="[0-9]*"
                    inputmode="numeric"
                    id="search_cellphone"
                    class="form-control"
                    maxlength="90"
                    aria-describedby="search_cellphone"
                    placeholder="{{ 'tableRender.cellphone' | translate }}"
                    [(ngModel)]="search.cellphone"
                    (keyup.enter)="onKey('cellphone')"
                    (focus)="clearInput('cellphone')"
                  />
                </th>
                <th scope="col" class="text-center">
                  <button
                    type="button"
                    class="btn btn-primary mx-1 btn-sm"
                    (click)="searchButton()"
                  >
                    <i class="fa fa-search"></i>
                  </button>
                  <button
                    type="button"
                    (click)="clear()"
                    class="btn btn-secondary mx-1 btn-sm"
                  >
                    <i class="fa fa-eraser"></i>
                  </button>
                  <button
                    type="button"
                    class="btn mx-1 btn-sm"
                    [ngClass]="status === 1 ? 'btn-success' : 'btn-danger'"
                    (click)="changeStatus()"
                  >
                    <i
                      class="fa"
                      [ngClass]="
                        status === 1 ? 'fa-toggle-on' : 'fa-toggle-off'
                      "
                    ></i>
                  </button>
                </th>
              </tr>
              <tr>
                <th class="bg-table" scope="col">
                  {{ "tableRender.id" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.agency" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.contact" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.phone" | translate }}
                </th>
                <th class="bg-table" scope="col">
                  {{ "tableRender.cellphone" | translate }}
                </th>
                <th class="bg-table text-center" scope="col">
                  {{ "tableRender.actions" | translate }}
                </th>
              </tr>
              <tr *ngIf="isLoading">
                <th colspan="7">
                  <cml-loading
                    [loading]="isLoading"
                    color="text-primary"
                  ></cml-loading>
                </th>
              </tr>
              <tr *ngIf="!isLoading && (!agencies || agencies.length === 0)">
                <th colspan="7">
                  {{ "tableLength.agencies" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="pointer"
                *ngFor="let agency of agencies; let key = index"
                (click)="isToggleAgency(ngbDisplayAgency, key)"
              >
                <th scope="row">{{ agency.alphanumeric }}</th>
                <td scope="row">
                  <span
                    class="d-inline-block text-truncate"
                    style="width: 150px"
                    data-toggle="tooltip"
                    [title]="agency.person.name"
                  >
                    {{ agency.person.name }}
                  </span>
                </td>
                <td scope="row">
                  <span
                    class="d-inline-block text-truncate"
                    style="width: 100px"
                    data-toggle="tooltip"
                    [title]="agency.person.contact"
                    >{{ agency.person.contact }}</span
                  >
                </td>
                <td scope="row">
                  {{ formating(agency.person.phone) }}
                </td>
                <td scope="row">
                  {{ formating(agency.person.cellphone) }}
                </td>
                <td class="text-center" (click)="$event.stopPropagation()">
                  <button
                    type="button"
                    (click)="shouldToggleStatus(agency.id)"
                    *ngIf="toggleButtonByTierId(8)"
                    class="btn mx-1 btn-sm"
                    [ngClass]="
                      agency.status === 1 ? 'btn-success' : 'btn-danger'
                    "
                  >
                    <i
                      class="fa"
                      [ngClass]="
                        agency.status === 1 ? 'fa-toggle-on' : 'fa-toggle-off'
                      "
                    ></i>
                  </button>
                  <button
                    type="button"
                    (click)="goToEmployees(agency)"
                    class="btn btn-primary mx-1 btn-sm"
                    *ngIf="!!agency.employees && agency.employees.length > 0"
                  >
                    <i class="fa fa-users"></i>
                  </button>
                  <button
                    type="button"
                    (click)="shouldToggleUpdate(ngbAgency, agency.id)"
                    class="btn btn-primary mx-1 btn-sm"
                    *ngIf="toggleButtonByTierId(3)"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <cml-floating-home [show]="home"></cml-floating-home>
</section>
