<section>
  <div
    class="row justify-content-center align-items-center mh-90"
    *ngIf="!!isLoading"
  >
    <cml-loading [loading]="isLoading" color="text-primary"></cml-loading>
  </div>
  <div class="container" *ngIf="!!!isLoading && emails.length > 0">
    <div class="row justify-content-center my-3">
      <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card bg-white rounded shadow">
          <div class="card-body">
            <div class="row mb-2" *ngIf="step === 2">
              <div class="col col-md col-lg mx-auto">
                <span class="float-left">
                  <button
                    type="button"
                    class="btn btn-danger mx-1 btn-sm"
                    (click)="back()"
                  >
                    <i class="fa fa-arrow-left"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="row" *ngIf="step === 1">
              <div
                class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-2"
                *ngFor="let email of emails"
              >
                <div
                  class="rounded border w-100 bg-light"
                  style="height: 150px"
                >
                  <h5 class="w-100 text-secondary p-2 text-center">
                    {{ "emails." + email.name | translate }}
                  </h5>
                  <h4 class="w-100 text-secondary text-center">
                    <span><i class="fa fa-envelope"></i></span>
                  </h4>

                  <div class="row justify-content-center pt-2 mb-4">
                    <button
                      class="btn btn-primary w-75 mx-2 text-white"
                      (click)="shouldToggleUpdate(email.id)"
                    >
                      {{ "buttonText.select" | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="step === 2">
              <div class="row">
                <div
                  class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2"
                >
                  <cml-legend [typeEmail]="typeEmail"></cml-legend>
                </div>
              </div>
              <form
                (ngSubmit)="onSubmit()"
                [formGroup]="email"
                autocomplete="off"
              >
                <div class="form-group">
                  <angular-editor
                    id="html"
                    formControlName="html"
                    [config]="editorConfig"
                  ></angular-editor>
                  <cml-validations
                    *ngIf="isFieldValid('html')"
                    [errorMsg]="validations('formBuilder.contentEmail')"
                  >
                  </cml-validations>
                </div>
                <div class="w-100 py-2">
                  <span class="float-right">
                    <button type="submit" class="btn btn-primary btn-md">
                      <span *ngIf="!!!submitted">{{
                        "formButton.save" | translate
                      }}</span>
                      <cml-loading-button
                        [loading]="submitted"
                      ></cml-loading-button>
                    </button>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
