<form (ngSubmit)="onSubmit()" [formGroup]="user">
  <div class="row" *ngIf="!!errors">
    <div class="col-12 col-sm-12 col-md col-lg">
      <cml-errors [errors]="errors"></cml-errors>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <label for="userIdentificationId"
          >{{ "formBuilder.identificationId" | translate }}
          <span class="text-danger">(*)</span></label
        >
        <input
          type="text"
          class="form-control"
          [ngClass]="displayFieldCss('identification_id')"
          id="userIdentificationId"
          maxlength="30"
          formControlName="identification_id"
          aria-describedby="identification_id"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('identification_id')"
          [errorMsg]="validations('formBuilder.identificationId')"
        >
        </cml-validations>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <label for="userName"
          >{{ "formBuilder.name" | translate }}
          <span class="text-danger">(*)</span></label
        >
        <input
          type="text"
          class="form-control"
          [ngClass]="displayFieldCss('name')"
          id="userName"
          maxlength="30"
          formControlName="name"
          aria-describedby="name"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('name')"
          [errorMsg]="validations('formBuilder.name')"
        >
        </cml-validations>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <label for="userPhone">{{ "formBuilder.phone" | translate }} </label>
        <input
          [cmlOnlyNumber]="true"
          type="number"
          pattern="[0-9]*"
          inputmode="numeric"
          class="form-control"
          [ngClass]="displayFieldCss('phone')"
          id="userPhone"
          formControlName="phone"
          aria-describedby="phone"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('phone')"
          [errorMsg]="validations('formBuilder.phone')"
        >
        </cml-validations>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <label for="receiverCellphone"
          >{{ "formBuilder.cellphone" | translate }}
          <span class="text-danger">(*)</span></label
        >
        <input
          [cmlOnlyNumber]="true"
          type="number"
          pattern="[0-9]*"
          inputmode="numeric"
          class="form-control"
          [ngClass]="displayFieldCss('cellphone')"
          id="receiverCellphone"
          formControlName="cellphone"
          aria-describedby="cellphone"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('cellphone')"
          [errorMsg]="validations('formBuilder.cellphone')"
        >
        </cml-validations>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <label for="userEmail"
          >{{ "formBuilder.email" | translate }}
          <span class="text-danger">(*)</span></label
        >
        <input
          type="email"
          class="form-control"
          [ngClass]="displayFieldCss('email')"
          id="userEmail"
          maxlength="50"
          formControlName="email"
          aria-describedby="email"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('email')"
          [errorMsg]="validations('formBuilder.email')"
        >
        </cml-validations>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <label for="userCountryId"
          >{{ "formBuilder.country" | translate }}
          <span class="text-danger">(*)</span></label
        >
        <select
          class="form-control"
          [ngClass]="displayFieldCss('country_id')"
          id="userCountryId"
          formControlName="country_id"
          aria-describedby="country_id"
          (change)="onDefaultValuesStateAndCountry()"
        >
          <option [ngValue]="null">{{
            "inputs.optionSelect" | translate
          }}</option>
          <option [ngValue]="country.id" *ngFor="let country of countries">{{
            country.name
          }}</option>
        </select>
        <cml-validations
          *ngIf="isFieldValid('country_id')"
          [errorMsg]="validations('formBuilder.country')"
        >
        </cml-validations>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <label for="userZipCode">
          {{ "formBuilder.zip_code" | translate }}
          <span class="text-danger">(*)</span>
        </label>
        <input
          type="text"
          class="form-control"
          [ngClass]="displayFieldCss('zip_code')"
          id="userZipCode"
          maxlength="10"
          formControlName="zip_code"
          aria-describedby="zip_code"
          placeholder=""
          (blur)="onBlurZipCode('zip_code')"
        />
        <cml-validations
          *ngIf="isFieldValid('zip_code')"
          [errorMsg]="validations('formBuilder.zip_code')"
        >
        </cml-validations>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <div class="bg-light p-3 text-dark d-flex rounded">
          <input
            type="checkbox"
            [checked]="shouldEnableStateAndCity"
            (click)="shouldStateAndCity()"
            id="regular"
            aria-describedby="regular"
          />
          <label for="regular" class="mx-2">
            {{ "checkbox.shouldStateAndCity" | translate }}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <label for="userState"
          >{{ "formBuilder.state" | translate }}
          <span class="text-danger">(*)</span></label
        >
        <input
          type="text"
          class="form-control"
          [ngClass]="displayFieldCss('state')"
          id="userState"
          maxlength="50"
          formControlName="state"
          aria-describedby="state"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('state')"
          [errorMsg]="validations('formBuilder.state')"
        >
        </cml-validations>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <label for="userCity"
          >{{ "formBuilder.city" | translate }}
          <span class="text-danger">(*)</span></label
        >
        <input
          type="text"
          class="form-control"
          [ngClass]="displayFieldCss('city')"
          id="userCity"
          maxlength="50"
          formControlName="city"
          aria-describedby="city"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('city')"
          [errorMsg]="validations('formBuilder.city')"
        >
        </cml-validations>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <label for="userAddress"
          >{{ "formBuilder.address" | translate }}
          <span class="text-danger">(*)</span></label
        >
        <input
          class="form-control"
          [ngClass]="displayFieldCss('address')"
          id="userAddress"
          maxlength="100"
          formControlName="address"
          aria-describedby="address"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('address')"
          [errorMsg]="validations('formBuilder.address')"
        >
        </cml-validations>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <label for="userSpecialInstructions">
          {{ "formBuilder.specialInstructions" | translate }}
        </label>
        <textarea
          class="form-control"
          [ngClass]="displayFieldCss('special_instructions')"
          id="userSpecialInstructions"
          rows="2"
          maxlength="100"
          formControlName="special_instructions"
          aria-describedby="special_instructions"
          placeholder=""
        >
        </textarea>
        <cml-validations
          *ngIf="isFieldValid('special_instructions')"
          [errorMsg]="validations('formBuilder.specialInstructions')"
        >
        </cml-validations>
      </div>
    </div>
  </div>
  <cml-loading [loading]="submitted" color="text-primary"></cml-loading>
  <div class="row" *ngIf="!submitted">
    <div class="col-12 col-sm-12 col-md col-lg">
      <button type="submit" class="btn btn-primary btn-block text-uppercase">
        {{ "buttonText.sendForm" | translate }}
      </button>
    </div>
  </div>
</form>
