<form (ngSubmit)="onSubmit()" [formGroup]="package" autocomplete="off">
  <div class="row" *ngIf="!!errors">
    <div class="col-12 col-sm-12 col-md col-lg">
      <cml-errors [errors]="errors"></cml-errors>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group bg-light p-3 text-dark d-flex rounded">
        <div class="">
          <input
            id="promotion"
            type="checkbox"
            [checked]="getPromoValue()"
            aria-describedby="promotion"
            (change)="setCheckboxValue('promotion')"
          />
          <label for="promotion" class="mx-2">
            {{ "select.promotion" | translate }}
          </label>
        </div>
        <div class="">
          <input
            id="sale"
            type="checkbox"
            [checked]="getSaleValue()"
            aria-describedby="sale"
            (change)="setCheckboxValue('sale')"
          />
          <label for="sale" class="mx-2">
            {{ "select.sale" | translate }}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!-- estatus -->
        <label for="form-control">
          {{ "formBuilder.status" | translate }}
          <span class="text-danger">(*)</span>
        </label>
        <select
          class="form-control"
          [ngClass]="displayFieldCss('status')"
          id="status"
          formControlName="status"
          aria-describedby="status"
        >
          <option [ngValue]="0">{{ "select.inactive" | translate }}</option>
          <option [ngValue]="1">{{ "select.active" | translate }}</option>
        </select>
        <cml-validations
          *ngIf="isFieldValid('status')"
          [errorMsg]="validations('formBuilder.status')"
        >
        </cml-validations>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!-- formula -->
        <label for="form-control">
          {{ "formBuilder.formula" | translate }}
          <span class="text-danger">(*)</span>
        </label>
        <select
          class="form-control"
          [ngClass]="displayFieldCss('formula')"
          id="formula"
          formControlName="formula"
          aria-describedby="formula"
        >
          <option [ngValue]="null">
            {{ "inputs.optionSelect" | translate }}
          </option>
          <option [ngValue]="1">{{ "select.pound" | translate }}</option>
          <option [ngValue]="2">{{ "select.foot_cubic" | translate }}</option>
          <option [ngValue]="3">{{ "select.package" | translate }}</option>
          <option [ngValue]="4">{{ "select.electronics" | translate }}</option>
          <option [ngValue]="5">{{ "select.packagePound" | translate }}</option>
          <option [ngValue]="6">{{ "select.inchLinear" | translate }}</option>
          <option [ngValue]="7">{{ "select.televisions" | translate }}</option>
          <option [ngValue]="8">
            {{ "select.messengerService" | translate }}
          </option>
        </select>
        <cml-validations
          *ngIf="isFieldValid('formula')"
          [errorMsg]="validations('formBuilder.formula')"
        >
        </cml-validations>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!-- pais -->
        <label for="country_id">
          {{ "formBuilder.country" | translate }}
          <span class="text-danger">(*)</span>
        </label>
        <select
          class="form-control"
          [ngClass]="displayFieldCss('country_id')"
          id="country_id"
          formControlName="country_id"
          aria-describedby="country_id"
        >
          <option [ngValue]="null">
            {{ "inputs.optionSelect" | translate }}
          </option>
          <option [ngValue]="country.id" *ngFor="let country of countries">
            {{ country.name }}
          </option>
        </select>
        <cml-validations
          *ngIf="isFieldValid('country_id')"
          [errorMsg]="validations('formBuilder.country')"
        >
        </cml-validations>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!-- nombre -->
        <label for="name">
          {{ "formBuilder.name" | translate }}
          <span class="text-danger">(*)</span>
        </label>
        <input
          type="text"
          class="form-control"
          [ngClass]="displayFieldCss('name')"
          id="name"
          maxlength="120"
          formControlName="name"
          aria-describedby="name"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('name')"
          [errorMsg]="validations('formBuilder.name')"
        >
        </cml-validations>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!-- nombre -->
        <label for="name_en">
          {{ "formBuilder.name_en" | translate }}
          <span class="text-danger">(*)</span>
        </label>
        <input
          type="text"
          class="form-control"
          [ngClass]="displayFieldCss('name_en')"
          id="name_en"
          maxlength="120"
          formControlName="name_en"
          aria-describedby="name_en"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('name_en')"
          [errorMsg]="validations('formBuilder.name_en')"
        >
        </cml-validations>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!-- tipo de carga -->
        <label for="type">
          {{ "formBuilder.typePackage" | translate }}
          <span class="text-danger">(*)</span>
        </label>
        <select
          class="form-control"
          [ngClass]="displayFieldCss('type')"
          id="type"
          formControlName="type"
          aria-describedby="type"
        >
          <option [ngValue]="null">
            {{ "inputs.optionSelect" | translate }}
          </option>
          <option [ngValue]="1">{{ "select.maritime" | translate }}</option>
          <option [ngValue]="2">{{ "select.land" | translate }}</option>
          <option [ngValue]="3">{{ "select.aerial" | translate }}</option>
        </select>
        <cml-validations
          *ngIf="isFieldValid('type')"
          [errorMsg]="validations('formBuilder.typePackage')"
        >
        </cml-validations>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!-- descripcion -->
        <label for="description">
          {{ "formBuilder.description" | translate }}
          <span class="text-danger">(*)</span>
        </label>
        <input
          type="text"
          class="form-control"
          [ngClass]="displayFieldCss('description')"
          id="description"
          formControlName="description"
          aria-describedby="description"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('description')"
          [errorMsg]="validations('formBuilder.description')"
        >
        </cml-validations>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!-- nombre -->
        <label for="description">
          {{ "formBuilder.description_en" | translate }}
          <span class="text-danger">(*)</span>
        </label>
        <input
          type="text"
          class="form-control"
          [ngClass]="displayFieldCss('description_en')"
          id="description_en"
          maxlength="120"
          formControlName="description_en"
          aria-describedby="description_en"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('description_en')"
          [errorMsg]="validations('formBuilder.description_en')"
        >
        </cml-validations>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!-- costo por libra -->
        <label for="cost_pound">
          {{ getNameCost() }}
          <span class="text-danger" *ngIf="requiredCost()">(*)</span>
        </label>
        <input
          type="number"
          inputmode="decimal"
          class="form-control"
          [ngClass]="displayFieldCss('cost_pound')"
          ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
          id="cost_pound"
          formControlName="cost_pound"
          aria-describedby="cost_pound"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('cost_pound')"
          [errorMsg]="validations('formBuilder.name', getNameCost())"
        >
        </cml-validations>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!-- largo -->
        <label for="long">
          {{ "formBuilder.long" | translate }}
          <span class="text-danger">(*)</span>
        </label>
        <input
          type="number"
          pattern="[0-9]*"
          inputmode="numeric"
          class="form-control"
          [ngClass]="displayFieldCss('long')"
          id="long"
          formControlName="long"
          aria-describedby="long"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('long')"
          [errorMsg]="validations('formBuilder.long')"
        >
        </cml-validations>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!-- alto -->
        <label for="high">
          {{ "formBuilder.high" | translate }}
          <span class="text-danger">(*)</span>
        </label>
        <input
          type="number"
          pattern="[0-9]*"
          inputmode="numeric"
          class="form-control"
          [ngClass]="displayFieldCss('high')"
          id="high"
          formControlName="high"
          aria-describedby="high"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('high')"
          [errorMsg]="validations('formBuilder.high')"
        >
        </cml-validations>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!-- ancho -->
        <label for="width">
          {{ "formBuilder.width" | translate }}
          <span class="text-danger">(*)</span>
        </label>
        <input
          type="number"
          pattern="[0-9]*"
          inputmode="numeric"
          class="form-control"
          [ngClass]="displayFieldCss('width')"
          id="width"
          formControlName="width"
          aria-describedby="width"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('width')"
          [errorMsg]="validations('formBuilder.width')"
        >
        </cml-validations>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!-- peso minimo -->
        <label for="minimum_weight">
          {{ getNameMinByType() }} <span class="text-danger">(*)</span>
        </label>
        <input
          type="number"
          pattern="[0-9]*"
          inputmode="numeric"
          class="form-control"
          [ngClass]="displayFieldCss('minimum_weight')"
          id="minimum_weight"
          maxlength="120"
          formControlName="minimum_weight"
          aria-describedby="minimum_weight"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('minimum_weight')"
          [errorMsg]="validations('formBuilder.name', getNameMinByType())"
        >
        </cml-validations>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!-- peso maximo -->
        <label for="maximum_weight">
          {{ getNameMaxByType() }} <span class="text-danger">(*)</span>
        </label>
        <input
          type="number"
          pattern="[0-9]*"
          inputmode="numeric"
          class="form-control"
          [ngClass]="displayFieldCss('maximum_weight')"
          id="maximum_weight"
          maxlength="120"
          formControlName="maximum_weight"
          aria-describedby="maximum_weight"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('maximum_weight')"
          [errorMsg]="validations('formBuilder.name', getNameMaxByType())"
        >
        </cml-validations>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!-- seguro minimo -->
        <label for="minimum_insurance"
          >{{ "formBuilder.minimumInsurance" | translate }}
          <span class="text-danger">(*)</span></label
        >
        <input
          type="number"
          pattern="[0-9]*"
          inputmode="numeric"
          class="form-control"
          [ngClass]="displayFieldCss('minimum_insurance')"
          id="minimum_insurance"
          maxlength="120"
          formControlName="minimum_insurance"
          aria-describedby="minimum_insurance"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('minimum_insurance')"
          [errorMsg]="validations('formBuilder.minimumInsurance')"
        >
        </cml-validations>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!-- seguro maximo -->
        <label for="maximum_insurance"
          >{{ "formBuilder.maximumInsurance" | translate }}
          <span class="text-danger">(*)</span></label
        >
        <input
          type="number"
          pattern="[0-9]*"
          inputmode="numeric"
          class="form-control"
          [ngClass]="displayFieldCss('maximum_insurance')"
          id="maximum_insurance"
          maxlength="120"
          formControlName="maximum_insurance"
          aria-describedby="maximum_insurance"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('maximum_insurance')"
          [errorMsg]="validations('formBuilder.maximumInsurance')"
        >
        </cml-validations>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!-- exceso seguro comercial -->
        <label for="commercial_surplus"
          >{{ "formBuilder.comecial_surplus" | translate }}
          <span class="text-danger" *ngIf="requiredCost()">(*)</span></label
        >
        <input
          type="number"
          pattern="[0-9]*"
          inputmode="numeric"
          class="form-control"
          [ngClass]="displayFieldCss('commercial_surplus')"
          id="commercial_surplus"
          maxlength="120"
          formControlName="commercial_surplus"
          aria-describedby="commercial_surplus"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('commercial_surplus')"
          [errorMsg]="validations('formBuilder.comecial_surplus')"
        >
        </cml-validations>
      </div>
    </div>
  </div>
  <h5 class="bg-light py-2 text-bold text-center">
    {{ "formBuilder.titlePrice" | translate }}
  </h5>
  <div class="row">
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!-- precio cml -->
        <label for="base_price"
          >{{ "formBuilder.basePrice" | translate }}
          <span class="text-danger">(*)</span></label
        >
        <input
          type="number"
          inputmode="decimal"
          class="form-control"
          [ngClass]="displayFieldCss('base_price')"
          ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
          id="base_price"
          formControlName="base_price"
          aria-describedby="base_price"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('base_price')"
          [errorMsg]="validations('formBuilder.basePrice')"
        >
        </cml-validations>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!-- precio corporativo -->
        <label for="corporate_price"
          >{{ "formBuilder.corporatePrice" | translate
          }}<span class="text-danger">(*)</span></label
        >
        <input
          type="number"
          inputmode="decimal"
          class="form-control"
          [ngClass]="displayFieldCss('corporate_price')"
          ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
          id="corporate_price"
          maxlength="120"
          formControlName="corporate_price"
          aria-describedby="corporate_price"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('corporate_price')"
          [errorMsg]="validations('formBuilder.corporatePrice')"
        >
        </cml-validations>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!-- precio agencia -->
        <label for="agency_price">
          {{ "formBuilder.agencyPrice" | translate }}
          <span class="text-danger">(*)</span>
        </label>
        <input
          type="number"
          inputmode="decimal"
          class="form-control"
          [ngClass]="displayFieldCss('agency_price')"
          ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
          id="agency_price"
          maxlength="120"
          formControlName="agency_price"
          aria-describedby="agency_price"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('agency_price')"
          [errorMsg]="validations('formBuilder.agencyPrice')"
        >
        </cml-validations>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <!-- precio publico -->
        <label for="public_price">
          {{ "formBuilder.publicPrice" | translate }}
          <span class="text-danger">(*)</span>
        </label>
        <input
          type="number"
          inputmode="decimal"
          class="form-control"
          [ngClass]="displayFieldCss('public_price')"
          ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
          id="public_price"
          maxlength="120"
          formControlName="public_price"
          aria-describedby="public_price"
          placeholder=""
        />
        <cml-validations
          *ngIf="isFieldValid('public_price')"
          [errorMsg]="validations('formBuilder.publicPrice')"
        >
        </cml-validations>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group bg-light p-3 text-dark d-flex rounded">
        <!-- tipo de contenido -->
        <div class="">
          <input
            type="checkbox"
            [checked]="getContentType(1)"
            (change)="setContentType(1)"
            id="regular"
            aria-describedby="regular"
          />
          <label for="regular" class="mx-2">
            {{ "select.regular" | translate }}
          </label>
        </div>
        <div class="">
          <input
            type="checkbox"
            [checked]="getContentType(2)"
            (change)="setContentType(2)"
            id="electronic"
            aria-describedby="electronic"
          />
          <label for="electronic" class="mx-2">
            {{ "select.electronic" | translate }}
          </label>
        </div>
        <div class="">
          <input
            type="checkbox"
            [checked]="getContentType(3)"
            (change)="setContentType(3)"
            id="mixed"
            aria-describedby="mixed"
          />
          <label for="mixed" class="mx-2">
            {{ "select.mixed" | translate }}
          </label>
        </div>
        <div class="">
          <input
            type="checkbox"
            [checked]="getContentType(4)"
            (change)="setContentType(4)"
            id="commercial"
            aria-describedby="commercial"
          />
          <label for="commercial" class="mx-2">
            {{ "select.commercial" | translate }}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-md col-lg" *ngIf="!!!submitted">
      <button type="submit" class="btn btn-primary btn-block">
        {{ "formButton.save" | translate }}
      </button>
    </div>
    <div class="col col-md col-lg text-center" *ngIf="!!submitted">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</form>
