<div *ngIf="charge">
  <div class="row">
    <div class="col col-md">
      <div class="form-group">
        {{ getMeasureType(charge.formula) }}
      </div>
    </div>
    <div class="col col-md">
      <div class="form-group">
        <span class="badge w-100 badge-secondary">{{
          getInchType(charge.formula)
        }}</span>
      </div>
    </div>
    <div class="col col-md" *ngIf="getSelectMessengerService(charge.formula)">
      <div class="form-group">
        {{ "cardForm.volumetric_weight" | translate }}
      </div>
    </div>
    <div class="col col-md" *ngIf="getSelectMessengerService(charge.formula)">
      <div class="form-group">
        <span class="badge w-100 badge-secondary">{{
          charge.volumetric_weight
        }}</span>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="getSelectMessengerService(charge.formula)">
    <div class="col col-md">
      <div class="form-group">
        {{ "cardForm.cubic_foot" | translate }}
      </div>
    </div>
    <div class="col col-md">
      <div class="form-group">
        <span class="badge w-100 badge-secondary">{{ charge.cubic_foot }}</span>
      </div>
    </div>
    <div class="col col-md">
      <div class="form-group">
        {{ "cardForm.declared_value" | translate }}
      </div>
    </div>
    <div class="col col-md">
      <div class="form-group">
        <span class="badge w-100 badge-secondary">{{
          charge.declared | currency: "USD"
        }}</span>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="getSelectMessengerService(charge.formula)">
    <div class="col col-md">
      <div class="form-group">
        {{ "cardForm.dimensions" | translate }}
      </div>
    </div>
    <div class="col col-md">
      <div class="form-group">
        <span class="badge w-100 badge-secondary">{{ charge.dimensions }}</span>
      </div>
    </div>
    <div class="col col-md">
      <div class="form-group">
        {{ "cardForm.insuranced_value" | translate }}
      </div>
    </div>
    <div class="col col-md">
      <div class="form-group">
        <span class="badge w-100 badge-secondary">{{
          charge.insured_value | currency: "USD"
        }}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-md">
      <div class="form-group">
        {{ "cardForm.package_price" | translate }}
        <span
          class="text-primary float-right font-weight-bold"
          *ngIf="getTypeExtraPound(charge.formula)"
        >
          {{
            "cardForm.maxPackageWeight"
              | translate: { max: charge.max_package_weight }
          }}
        </span>
      </div>
    </div>
    <div class="col col-md">
      <div class="form-group">
        <span class="badge w-100 badge-secondary"
          >{{ charge.price - charge.price_per_pound | currency: "USD" }}
        </span>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="getTypeExtraPound(charge.formula)">
    <div class="col col-md">
      <div class="form-group">
        {{ "cardForm.extraPound" | translate }}
        <span class="text-primary float-right font-weight-bold">
          ({{ charge.extra_pound }})
        </span>
      </div>
    </div>
    <div class="col col-md">
      <div class="form-group">
        <span class="badge w-100 badge-secondary">
          {{ charge.price_per_pound | currency: "USD" }}
        </span>
      </div>
    </div>
  </div>
  <section *ngIf="getSelectMessengerService(charge.formula)">
    <div class="row">
      <div class="col col-md">
        <div class="form-group">
          {{ "cardForm.impost" | translate }}
        </div>
      </div>
      <div class="col col-md">
        <div class="form-group">
          <span class="badge w-100 badge-secondary">{{
            charge.impost | currency: "USD"
          }}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-md">
        <div class="form-group">
          {{ "cardForm.insurance" | translate }}
        </div>
      </div>
      <div class="col col-md">
        <div class="form-group">
          <span class="badge w-100 badge-secondary">{{
            charge.insurance | currency: "USD"
          }}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-md">
        <div class="form-group">
          {{ "cardForm.crossing" | translate }}
        </div>
      </div>
      <div class="col col-md">
        <div class="form-group">
          <span class="badge w-100 badge-secondary">{{
            charge.crossing | currency: "USD"
          }}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-md">
        <div class="form-group">
          {{ "cardForm.nationalization" | translate }}
        </div>
      </div>
      <div class="col col-md">
        <div class="form-group">
          <span class="badge w-100 badge-secondary">{{
            charge.nationalization | currency: "USD"
          }}</span>
        </div>
      </div>
    </div>
  </section>
  <div class="row">
    <div class="col col-md">
      <div class="form-group">
        <h5>
          {{ "cardForm.total_collect" | translate }}
        </h5>
      </div>
    </div>
    <div class="col col-md">
      <div class="form-group">
        <span class="badge w-100 badge-secondary">
          <h6>
            {{ charge.cost | currency: "USD" }}
          </h6>
        </span>
      </div>
    </div>
  </div>
</div>
