.wrapper-content {
  display: flex;
  height: 100vh;
}

.page-wrapper {
  height: 100vh;

  .page-content {
    padding-top: 70px;
    transition: padding-left 0.3s ease;

    @media screen and (min-width: 768px) {
      padding-left: 260px;
    }

    .overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 998;
      background: #000;
      opacity: 0.5;
      display: none;
    }

    .overlay.show {
      display: block;
    }
  }

  .sidebar {
    left: 0px;
  }

  &.toggled {
    .page-content {
      padding-left: 0;
    }
  }

  .attribution {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    margin: 5px;
    letter-spacing: 1px;
  }
}

.container {
  &-chat {
    height: 90vh;

    @media screen and (max-width: 768px) {
      height: 85vh;
    }

    .card {
      height: 100%;

      .row {
        height: 100%;

        .connected,
        .messages {
          height: 100%;

          .open {
            height: 100%;
            padding: 1rem;
          }

          @media screen and (max-width: 768px) {
            &.hidden {
              display: none;
            }
          }
        }
      }
    }
  }
}

.h-msg p {
  font-size: 1.5rem;
}

.payments {
  overflow-x: auto;
  height: 50px;
}
