<section>
  <div class="row my-2" *ngIf="urlFile">
    <div class="col">
      <button type="button" class="btn btn-danger" (click)="urlFile = null">
        {{ "buttonText.before" | translate }}
      </button>
    </div>
  </div>
  <div class="row" *ngIf="urlFile">
    <div class="col">
      <iframe
        [src]="urlFile"
        scrolling="yes"
        frameborder="0"
        type="application/pdf"
      >
      </iframe>
    </div>
  </div>
  <div class="container">
    <div class="row row justify-content-center my-3" *ngIf="!urlFile">
      <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
        <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="pay">
          <div class="card bg-white rounded shadow">
            <div class="card-body">
              <div class="row">
                <div class="col col-md col-lg mb-5 mx-auto text-center">
                  <h4 class="text-uppercase text-center">
                    {{ "tableTitle.reportPay" | translate }}
                  </h4>
                </div>
              </div>
              <div class="col mx-auto">
                <div class="form-group">
                  <div class="bg-light p-3 text-dark d-flex rounded">
                    <div class="">
                      <input
                        type="radio"
                        id="agency"
                        [value]="1"
                        aria-describedby="agency"
                        formControlName="typeAgency"
                        (click)="setValueType(1)"
                      />
                      <label for="agency" class="mx-2">
                        {{ "tableRender.agency" | translate }}
                      </label>
                    </div>
                    <div class="" *ngIf="onToggleByType()">
                      <input
                        type="radio"
                        id="cml"
                        [value]="0"
                        aria-describedby="cml"
                        formControlName="typeAgency"
                        (click)="setValueType(0)"
                      />
                      <label for="cml" class="mx-2">
                        {{ "tableRender.CML" | translate }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col mx-auto">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="from"
                        >{{ "formBuilder.period" | translate }}
                        <span class="text-danger">(*)</span></label
                      >
                      <div class="row">
                        <div class="col-12 col-sm-12 col-md col-lg">
                          <div class="form-group">
                            <input
                              type="date"
                              class="form-control"
                              id="from"
                              aria-describedby="from"
                              placeholder=""
                              formControlName="from"
                              [ngClass]="displayFieldCss('from')"
                            />
                            <cml-validations
                              *ngIf="isFieldValid('from')"
                              [errorMsg]="validations('formBuilder.from')"
                            >
                            </cml-validations>
                          </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md col-lg">
                          <div class="form-group">
                            <input
                              type="date"
                              class="form-control p-2"
                              id="to"
                              aria-describedby="to"
                              placeholder=""
                              formControlName="to"
                              [ngClass]="displayFieldCss('to')"
                            />
                            <cml-validations
                              *ngIf="isFieldValid('to')"
                              [errorMsg]="validations('formBuilder.until')"
                            >
                            </cml-validations>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col mx-auto" *ngIf="isAgencyChecked()">
                <div class="form-group">
                  <label for="agency"
                    >{{ "tableRender.agency" | translate }}
                    <span class="text-danger">(*)</span></label
                  >
                  <select
                    class="form-control"
                    id="agency"
                    aria-describedby="agency"
                    formControlName="agency"
                    [ngClass]="displayFieldCss('agency')"
                  >
                    <option [value]="null">
                      {{ "inputs.optionSelect" | translate }}
                    </option>
                    <option [value]="agency.id" *ngFor="let agency of agencies">
                      {{ agency.name }}
                    </option>
                  </select>
                  <cml-validations
                    *ngIf="isFieldValid('agency')"
                    [errorMsg]="validations('tableRender.agency')"
                  >
                  </cml-validations>
                </div>
              </div>
              <div class="col mx-auto">
                <div class="form-group">
                  <label for="status"
                    >{{ "formBuilder.statusSelect" | translate }}
                    <span class="text-danger">(*)</span></label
                  >
                  <select
                    class="form-control"
                    id="status"
                    aria-describedby="status"
                    formControlName="status"
                    [ngClass]="displayFieldCss('status')"
                  >
                    <option [ngValue]="null">
                      {{ "inputs.optionSelect" | translate }}
                    </option>
                    <option [ngValue]="0">
                      {{ "select.pending" | translate }}
                    </option>
                    <option [ngValue]="1">
                      {{ "select.scheduled" | translate }}
                    </option>
                    <option [ngValue]="2">
                      {{ "select.pay" | translate }}
                    </option>
                    <option [ngValue]="3">
                      {{ "select.all" | translate }}
                    </option>
                  </select>
                  <cml-validations
                    *ngIf="isFieldValid('status')"
                    [errorMsg]="validations('formBuilder.statusSelect')"
                  >
                  </cml-validations>
                </div>
              </div>
              <div class="col mx-auto">
                <div class="text-center mx-auto">
                  <div
                    class="spinner-border text-primary"
                    role="status"
                    *ngIf="submitted"
                  >
                    <span class="sr-only">Loading...</span>
                  </div>
                  <button
                    type="submit"
                    class="btn btn-primary btn-block"
                    *ngIf="!submitted"
                  >
                    {{ "formBuilder.generate" | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
