<section *ngIf="!!service">
  <h6
    class="text-center text-uppercase text-success mb-3"
    *ngIf="service.promotion === 1"
  >
    <span>
      <i class="fa fa-gifts" aria-hidden="true"></i>
    </span>
    {{ "cardHeader.promotion" | translate }}
  </h6>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <p class="font-weight-bold">
          {{ "cardText.typeOfCharge" | translate }}:
        </p>
        <span>{{ typeOfCharge(service.type) }}</span>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <p class="font-weight-bold">
          {{ "formBuilder.description" | translate }}:
        </p>
        <span>{{ serviceDescription(service) }}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <p class="font-weight-bold">
          {{ "formBuilder.typeContent" | translate }}:
        </p>
        <span
          class="badge badge-primary mr-2 shadow"
          *ngFor="let type of service.type_content"
          >{{ typeContent(type.content) }}</span
        >
        <div *ngIf="service.type_content.length == 0">
          <span class="badge badge-primary mr-2 shadow">{{
            "select.commercial" | translate
          }}</span>
          <span class="badge badge-primary mr-2 shadow">{{
            "select.electronic" | translate
          }}</span>
          <span class="badge badge-primary mr-2 shadow">{{
            "select.mixed" | translate
          }}</span>
          <span class="badge badge-primary shadow">{{
            "select.regular" | translate
          }}</span>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <p class="font-weight-bold">{{ "cardForm.dimensions" | translate }}:</p>
        <span>{{
          service.long + "x" + service.high + "x" + service.width
        }}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div
      class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      *ngIf="service.base_price !== 0"
    >
      <div class="form-group">
        <p class="font-weight-bold">
          {{ "tableRender.basePrice" | translate }}:
        </p>
        <span>{{ service.base_price | currency: "USD" }}</span>
      </div>
    </div>
    <div
      class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      *ngIf="service.corporate_price !== 0"
    >
      <div class="form-group">
        <p class="font-weight-bold">
          {{ "tableRender.corporatePrice" | translate }}:
        </p>
        <span>{{ service.corporate_price | currency: "USD" }}</span>
      </div>
    </div>
    <div
      class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      *ngIf="service.agency_price !== 0"
    >
      <div class="form-group">
        <p class="font-weight-bold">
          {{ "tableRender.agencyPrice" | translate }}:
        </p>
        <span>{{ service.agency_price | currency: "USD" }}</span>
      </div>
    </div>
    <div
      class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      *ngIf="service.public_price !== 0"
    >
      <div class="form-group">
        <p class="font-weight-bold">
          {{ "tableRender.publicPrice" | translate }}:
        </p>
        <span>{{ service.public_price | currency: "USD" }}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <p class="font-weight-bold">{{ getNameCost(service.formula) }}</p>
        <span>{{ service.cost_pound | currency: "USD" }}</span>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <p class="font-weight-bold">
          {{ getNameMin(service.formula) }} / {{ getNameMax(service.formula) }}:
        </p>
        <span>{{ service.minimum_weight }} / {{ service.maximum_weight }}</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <p class="font-weight-bold">
          {{ "formBuilder.minimumInsurance" | translate }}:
        </p>
        <span>{{ service.minimum_insurance | currency: "USD" }}</span>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <p class="font-weight-bold">
          {{ "formBuilder.maximumInsurance" | translate }}:
        </p>
        <span>{{ service.maximum_insurance | currency: "USD" }}</span>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!!service.commercial_surplus">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <p class="font-weight-bold">
          {{ "formBuilder.comecial_surplus" | translate }}:
        </p>
        <span>{{ service.commercial_surplus }}</span>
      </div>
    </div>
  </div>
</section>
