<ng-template #ngbQuote let-ngmodal>
  <cml-modal
    title="{{ 'cardContent.packages' | translate }}"
    [size]="true"
    (onClose)="onCloseNgbModal()"
  >
    <cml-deliveries
      [quote]="quote"
      [user]="user"
      [printing]="printing"
      (openUrlLink)="openUrlLink($event)"
    ></cml-deliveries>
  </cml-modal>
</ng-template>

<ng-template #ngbProgress let-ngmodal>
  <cml-modal
    title="{{ 'cardContent.packages' | translate }}"
    [size]="true"
    (onClose)="onCloseNgbModal()"
  >
    <cml-progress
      [quote]="quote"
      [progress]="progress"
      [longitude]="longitude"
      [latitude]="latitude"
      (updateStatusChargeToQuote)="updateStatusChargeToQuote($event)"
    ></cml-progress>
  </cml-modal>
</ng-template>

<ng-template #ngbPayCML let-ngmodal>
  <cml-modal
    title="{{ 'cardContent.packages' | translate }}"
    [size]="true"
    (onClose)="onCloseNgbModal()"
  >
    <cml-checkout
      [user]="user"
      [agencies]="[]"
      [quotes]="[quote]"
      [onlyQuote]="true"
      [payforCML]="true"
      [latitude]="latitude"
      [longitude]="longitude"
      (setInvoiceByAgency)="setIvoiceQuote($event)"
    ></cml-checkout>
  </cml-modal>
</ng-template>

<div class="containter">
  <div class="row justify-content-center" *ngIf="step === 1">
    <div class="col col-md col-lg">
      <div class="container bg-white rounded shadow">
        <div class="table-responsive">
          <table class="table table-fixeded table-striped mx-auto">
            <thead>
              <th class="text-uppercase align-center border-top-0" colspan="8">
                {{ "tableTitle.generatedPackages" | translate }}
              </th>
              <tr>
                <th colspan="7">
                  <div class="row">
                    <div class="col">
                      <label for="alphanumeric">
                        {{ "formBuilder.codAlphanumeric" | translate }}
                      </label>
                      <div class="form-group">
                        <input
                          id="alphanumeric"
                          type="text"
                          ngClass="form-control"
                          name="alphanumeric"
                          [(ngModel)]="search.alphanumeric"
                          (keyup.enter)="onKey('alphanumeric')"
                          (focus)="clearInput('alphanumeric')"
                        />
                      </div>
                    </div>
                    <div class="col">
                      <label for="cellphone">
                        {{ "formBuilder.phone_cellphone" | translate }}
                      </label>
                      <div class="form-group">
                        <input
                          id="cellphone"
                          [cmlOnlyNumber]="true"
                          type="number"
                          pattern="[0-9]*"
                          inputmode="numeric"
                          ngClass="form-control"
                          name="cellphone"
                          [(ngModel)]="search.cellphone"
                          (keyup.enter)="onKey('cellphone')"
                          (focus)="clearInput('cellphone')"
                        />
                      </div>
                    </div>
                    <div class="col">
                      <label for="identificationId">
                        {{ "formBuilder.identificationId" | translate }}
                      </label>
                      <div class="form-group">
                        <input
                          id="identificationId"
                          type="text"
                          ngClass="form-control"
                          name="identificationId"
                          [(ngModel)]="search.identificationId"
                          (keyup.enter)="onKey('identificationId')"
                          (focus)="clearInput('identificationId')"
                        />
                      </div>
                    </div>
                  </div>
                </th>
                <th colspan="1" class="align-middle">
                  <div class="w-50 mx-auto" style="margin-top: 10px">
                    <button
                      type="button"
                      class="btn btn-primary mx-1 btn-sm"
                      (click)="searchButton()"
                    >
                      <i class="fa fa-search"></i>
                    </button>
                    <button
                      type="button"
                      (click)="clearAll()"
                      class="btn btn-secondary mx-1 btn-sm"
                    >
                      <i class="fa fa-eraser"></i>
                    </button>
                  </div>
                </th>
              </tr>
              <tr>
                <th class="bg-table" style="padding-left: 36px">
                  {{ "tableRender.invoice" | translate }}
                </th>
                <th class="bg-table" style="padding-left: 60px">
                  {{ "tableRender.agency" | translate }}
                </th>
                <th class="bg-table" style="padding-left: 50px">
                  {{ "tableRender.origin" | translate }} /
                  {{ "tableRender.destiny" | translate }}
                </th>
                <th
                  class="bg-table"
                  style="padding-left: 36px; padding-right: 60px"
                >
                  {{ "tableRender.remitter" | translate }}
                </th>
                <th class="bg-table">
                  {{ "tableRender.receiver" | translate }}
                </th>
                <th class="bg-table">
                  {{ "tableRender.packQuantity" | translate }}
                </th>
                <th class="bg-table">
                  {{ "tableRender.total" | translate }}
                </th>
                <th class="bg-table">
                  {{ "tableRender.actions" | translate }}
                </th>
              </tr>
              <tr *ngIf="isLoading">
                <th colspan="8">
                  <cml-loading
                    [loading]="isLoading"
                    color="text-primary"
                  ></cml-loading>
                </th>
              </tr>
              <tr *ngIf="!isLoading && (!quotes || quotes.length === 0)">
                <th colspan="8">
                  {{ "tableLength.packages" | translate }}
                </th>
              </tr>
            </thead>
            <tbody class="align-center">
              <tr
                class="pointer"
                *ngFor="let quote of quotes; let key = index"
                (click)="isToggleQuote(ngbQuote, key)"
              >
                <th>{{ quote.alphanumeric }}</th>
                <td>
                  <span
                    class="d-inline-block text-truncate"
                    style="width: 120px"
                    data-toggle="tooltip"
                    [title]="quote.agencyName"
                  >
                    {{ quote.agencyName }}</span
                  >
                </td>
                <td>
                  {{ getOriginName(quote) + " / " }} <br />
                  {{ getCountryName(quote.country) }}
                </td>
                <td class="text-left">
                  <span
                    class="d-inline-block text-truncate"
                    style="width: 170px"
                  >
                    <strong> {{ "tableRender.id" | translate }} </strong>:
                    {{ quote.remitter.person.identification_id }} <br />
                    <strong> {{ "tableRender.name" | translate }} </strong>:
                    {{ quote.remitter.person.name }} <br />
                    <strong> {{ "tableRender.Ph" | translate }} </strong>:
                    {{ quote.remitter.person.format_cellphone }}
                  </span>
                </td>
                <td class="text-left">
                  <span
                    class="d-inline-block text-truncate"
                    style="width: 170px"
                  >
                    <strong> {{ "tableRender.id" | translate }} </strong>:
                    {{ quote.receiver.person.identification_id }} <br />
                    <strong> {{ "tableRender.name" | translate }} </strong>:
                    {{ quote.receiver.person.name }} <br />
                    <strong> {{ "tableRender.Ph" | translate }} </strong>:
                    {{ quote.receiver.person.format_cellphone }}
                  </span>
                </td>
                <td>{{ quote.quantity_products }}</td>
                <td>{{ quote.total | currency: "USD" }}</td>
                <td (click)="$event.stopPropagation()">
                  <button
                    type="button"
                    class="btn btn-primary mb-1 mr-2 btn-sm"
                    (click)="
                      quote.user.tier === 5 || quote.user.agency[0]?.tier === 5
                        ? setInvoiceFee(quote.id)
                        : openPayCML(ngbPayCML, quote)
                    "
                    *ngIf="!!!quote.invoiced && !!!quote.locker"
                  >
                    <i class="fa fa-truck"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary mb-1 mr-2 btn-sm"
                    (click)="isToggleProgress(ngbProgress, quote.id)"
                    *ngIf="toggleButtonByTierId(5)"
                  >
                    <i class="fa fa-map-marker-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center" *ngIf="step === 2">
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
      <button
        type="button"
        class="btn btn-danger text-uppercase btn-sm my-2"
        (click)="onBeforeStep(ngbQuote)"
      >
        <span class="mx-1">
          <i class="fa fa-arrow-left"></i>
        </span>
        {{ "buttonText.before" | translate }}
      </button>
      <iframe
        [src]="urlFile"
        scrolling="yes"
        frameborder="0"
        type="application/pdf"
      >
      </iframe>
    </div>
  </div>
</div>
