<div class="card shadow my-1">
  <div class="card-body">
    <div class="row" *ngIf="step === 1">
      <div class="col-12 col-sm-12 col-md col-lg">
        <h5 class="card-title text-uppercase">
          {{ "cardContent.searchReceiver" | translate }}
        </h5>
      </div>
    </div>

    <div class="row" *ngIf="step === 2">
      <div class="col-12 col-sm-12 col-md col-lg">
        <h5 class="card-title text-uppercase">
          {{ "cardContent.receiver" | translate }}
        </h5>
      </div>
      <div class="col-12 col-sm-12 col-md col-lg">
        <h5 class="card-title text-uppercase">
          <span class="float-right">
            Id: {{ receiver.identification_id }}
          </span>
        </h5>
      </div>
    </div>

    <section *ngIf="step === 1">
      <div class="row">
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <label for="filterReceiver">
              {{ "formBuilder.filter" | translate }}
            </label>
            <input
              type="text"
              class="form-control"
              id="filterReceiver"
              maxlength="20"
              [(ngModel)]="filter"
              (keydown.enter)="searchByFillable()"
              placeholder=""
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="receiverFilterById"
                [(ngModel)]="filterBy"
                id="receiverFilterById"
                [value]="1"
              />
              <label class="form-check-label" for="receiverFilterById">
                {{ "formBuilder.filterById" | translate }}
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="receiverFilterByCellphone"
                [(ngModel)]="filterBy"
                id="receiverFilterByCellphone"
                [value]="2"
              />
              <label class="form-check-label" for="receiverFilterByCellphone">
                {{ "formBuilder.cellphone" | translate }}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <button
              type="button"
              class="btn btn-primary mr-2 mb-1 text-uppercase btn-sm"
              (click)="searchByFillable()"
              [disabled]="!filter"
            >
              <cml-loading-button [loading]="submitted"></cml-loading-button>
              <div *ngIf="!submitted">
                <span class="mx-1">
                  <i class="fa fa-filter"></i>
                </span>
                {{ "tableAction.search" | translate }}
              </div>
            </button>
            <button
              type="button"
              class="btn btn-primary mb-1 text-uppercase btn-sm"
              (click)="isToggleGenerateUser()"
              *ngIf="!isLocker"
            >
              {{ "tableAction.generateReceiver" | translate }}
            </button>
          </div>
        </div>
      </div>
    </section>
    <section *ngIf="step === 2">
      <div class="row">
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <label for="receiverName">
              {{ "formBuilder.name" | translate }}
            </label>
            <input
              type="text"
              class="form-control"
              id="receiverName"
              maxlength="30"
              [(ngModel)]="receiver.name"
              disabled
            />
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <label for="receiverEmail">
              {{ "formBuilder.email" | translate }}
            </label>
            <input
              type="email"
              class="form-control"
              id="receiverEmail"
              maxlength="50"
              [(ngModel)]="receiver.email"
              disabled
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <label for="receiverPhone">
              {{ "formBuilder.phone" | translate }}
            </label>
            <input
              [cmlOnlyNumber]="true"
              type="number"
              pattern="[0-9]*"
              inputmode="numeric"
              class="form-control"
              id="receiverPhone"
              [(ngModel)]="receiver.phone"
              disabled
            />
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <label for="receiverCellphone">
              {{ "formBuilder.cellphone" | translate }}
            </label>
            <input
              [cmlOnlyNumber]="true"
              type="number"
              pattern="[0-9]*"
              inputmode="numeric"
              class="form-control"
              id="receiverCellphone"
              [(ngModel)]="receiver.cellphone"
              disabled
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <label for="receiverCountry_id">
              {{ "formBuilder.country" | translate }}
            </label>
            <select
              class="form-control"
              id="receiverCountry_id"
              [(ngModel)]="receiver.country_id"
              disabled
            >
              <option [ngValue]="null">
                {{ "inputs.optionSelect" | translate }}
              </option>
              <option [ngValue]="country.id" *ngFor="let country of countries">
                {{ country.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <label for="receiverZip_code">
              {{ "formBuilder.zip_code" | translate }}
            </label>
            <input
              type="text"
              class="form-control"
              id="receiverZip_code"
              [(ngModel)]="receiver.zip_code"
              disabled
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <label for="receiverState">
              {{ "formBuilder.state" | translate }}
            </label>
            <input
              type="text"
              class="form-control"
              id="receiverState"
              maxlength="15"
              [(ngModel)]="receiver.state"
              disabled
            />
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <label for="receiverCity">
              {{ "formBuilder.city" | translate }}
            </label>
            <input
              type="text"
              class="form-control"
              id="receiverCity"
              maxlength="15"
              [(ngModel)]="receiver.city"
              disabled
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <label for="receiverAddress">
              {{ "formBuilder.address" | translate }}
            </label>
            <input
              class="form-control"
              id="receiverAddress"
              [(ngModel)]="receiver.address"
              disabled
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <label for="receiverSpecialInstructions">
              {{ "formBuilder.specialInstructions" | translate }}
            </label>
            <textarea
              class="form-control"
              id="receiverSpecialInstructions"
              rows="2"
              [(ngModel)]="receiver.special_instructions"
              disabled
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="text-center my-3">
            <button
              type="button"
              class="btn btn-primary text-uppercase mx-2 mb-1 btn-sm"
              (click)="setStep(1)"
            >
              <span class="mx-1">
                <i class="fa fa-filter"></i>
              </span>
              {{ "buttonText.search" | translate }}
            </button>
            <button
              type="button"
              class="btn btn-primary text-uppercase mx-2 mb-1 btn-sm"
              (click)="onUpdateReceiver()"
            >
              <span class="mx-1">
                <i class="fa fa-sync"></i>
              </span>
              {{ "buttonText.update" | translate }}
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
