<div class="container">
  <div class="d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center my-5">
        <div class="col col-md-8 col-lg-6">
          <div class="row" *ngIf="!!errors">
            <div class="col-12 col-sm-12 col-md col-lg">
              <cml-errors [errors]="errors"></cml-errors>
            </div>
          </div>
          <form
            (ngSubmit)="onSubmit()"
            [formGroup]="information"
            autocomplete="off"
          >
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col col-md col-lg mx-auto">
                    <span class="float-right">
                      <button
                        type="button"
                        class="btn btn-primary mx-1 btn-sm"
                        (click)="logout()"
                      >
                        <i class="fa fa-sign-out-alt"></i>
                      </button>
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-md col-lg mx-auto text-center">
                    <h4 class="text-center text-primary text-uppercase">
                      {{
                        "titles.congratulations"
                          | translate: { name: user.person.name }
                      }}
                    </h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-md col-lg mb-4 mx-auto text-center">
                    <small class="font-weight-bold">
                      {{ "titles.complete" | translate }}
                    </small>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="name">
                        {{ "formBuilder.name" | translate }}
                        <span class="text-danger">(*)</span>
                      </label>
                      <input
                        type="text"
                        class="form-control"
                        [ngClass]="displayFieldCss('name')"
                        id="name"
                        maxlength="100"
                        formControlName="name"
                        aria-describedby="name"
                      />
                      <cml-validations
                        *ngIf="isFieldValid('name')"
                        [errorMsg]="validations('formBuilder.name')"
                      >
                      </cml-validations>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="userIdentificationId"
                        >{{ "formBuilder.identificationId" | translate }}
                        <span class="text-danger">(*)</span>
                      </label>
                      <input
                        type="text"
                        class="form-control"
                        [ngClass]="displayFieldCss('identification_id')"
                        id="userIdentificationId"
                        maxlength="30"
                        formControlName="identification_id"
                        aria-describedby="identification_id"
                        placeholder=""
                      />
                      <cml-validations
                        *ngIf="isFieldValid('identification_id')"
                        [errorMsg]="validations('formBuilder.identificationId')"
                      >
                      </cml-validations>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="phone">
                        {{ "formBuilder.phone" | translate }}
                      </label>
                      <input
                        [cmlOnlyNumber]="true"
                        type="number"
                        pattern="[0-9]*"
                        inputmode="numeric"
                        class="form-control"
                        [ngClass]="displayFieldCss('phone')"
                        id="phone"
                        formControlName="phone"
                        aria-describedby="phone"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="cellphone">
                        {{ "formBuilder.cellphone" | translate }}
                        <span class="text-danger">(*)</span>
                      </label>
                      <input
                        [cmlOnlyNumber]="true"
                        type="number"
                        pattern="[0-9]*"
                        inputmode="numeric"
                        class="form-control"
                        [ngClass]="displayFieldCss('cellphone')"
                        id="cellphone"
                        formControlName="cellphone"
                        aria-describedby="cellphone"
                      />
                    </div>
                    <cml-validations
                      *ngIf="isFieldValid('cellphone')"
                      [errorMsg]="validations('formBuilder.cellphone')"
                    >
                    </cml-validations>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="country_id">
                        {{ "formBuilder.country" | translate }}
                        <span class="text-danger">(*)</span>
                      </label>
                      <select
                        class="form-control"
                        [ngClass]="displayFieldCss('country_id')"
                        id="country_id"
                        formControlName="country_id"
                        aria-describedby="country_id"
                        (change)="onDefaultValuesStateAndCountry()"
                      >
                        <option [ngValue]="null">
                          {{ "inputs.optionSelect" | translate }}
                        </option>
                        <option
                          [ngValue]="country.id"
                          *ngFor="let country of countries"
                        >
                          {{ country.name }}
                        </option>
                      </select>
                      <cml-validations
                        *ngIf="isFieldValid('country_id')"
                        [errorMsg]="validations('formBuilder.country')"
                      >
                      </cml-validations>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="zip_code">
                        {{ "formBuilder.zip_code" | translate }}
                        <span class="text-danger">(*)</span>
                      </label>
                      <input
                        type="text"
                        maxlength="10"
                        class="form-control"
                        [ngClass]="displayFieldCss('zip_code')"
                        id="zip_code"
                        formControlName="zip_code"
                        aria-describedby="zip_code"
                        (blur)="onBlurZipCode('zip_code')"
                      />
                      <cml-validations
                        *ngIf="isFieldValid('zip_code')"
                        [errorMsg]="validations('formBuilder.zip_code')"
                      >
                      </cml-validations>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <!-- habilitar -->
                      <div class="bg-light p-3 text-dark d-flex rounded">
                        <input
                          type="checkbox"
                          [checked]="shouldEnableStateAndCity"
                          (click)="shouldStateAndCity()"
                          id="regular"
                          aria-describedby="regular"
                        />
                        <label for="regular" class="mx-2">
                          {{ "checkbox.shouldStateAndCity" | translate }}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="state">
                        {{ "formBuilder.state" | translate }}
                        <span class="text-danger">(*)</span>
                      </label>
                      <input
                        type="text"
                        class="form-control"
                        [ngClass]="displayFieldCss('state')"
                        id="state"
                        maxlength="15"
                        formControlName="state"
                        aria-describedby="state"
                      />
                      <cml-validations
                        *ngIf="isFieldValid('state')"
                        [errorMsg]="validations('formBuilder.state')"
                      >
                      </cml-validations>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="city">
                        {{ "formBuilder.city" | translate }}
                        <span class="text-danger">(*)</span>
                      </label>
                      <input
                        type="text"
                        class="form-control"
                        [ngClass]="displayFieldCss('city')"
                        id="city"
                        maxlength="15"
                        formControlName="city"
                        aria-describedby="city"
                      />
                      <cml-validations
                        *ngIf="isFieldValid('city')"
                        [errorMsg]="validations('formBuilder.city')"
                      >
                      </cml-validations>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md col-lg">
                    <div class="form-group">
                      <label for="address">
                        {{ "formBuilder.address" | translate }}
                        <span class="text-danger">(*)</span>
                      </label>
                      <textarea
                        class="form-control"
                        [ngClass]="displayFieldCss('address')"
                        id="address"
                        rows="3"
                        formControlName="address"
                        aria-describedby="address"
                      ></textarea>
                      <cml-validations
                        *ngIf="isFieldValid('address')"
                        [errorMsg]="validations('formBuilder.address')"
                      >
                      </cml-validations>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-md col-lg" *ngIf="!submitted">
                    <button type="submit" class="btn btn-primary btn-block">
                      {{ "formButton.save" | translate }}
                    </button>
                  </div>
                  <div class="col col-md col-lg text-center" *ngIf="submitted">
                    <div class="spinner-border text-primary" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
