<section>
  <form (ngSubmit)="onSubmit()" [formGroup]="assignment">
    <div class="row" *ngIf="!!errors">
      <div class="col-12 col-sm-12 col-md col-lg">
        <cml-errors [errors]="errors"></cml-errors>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md col-lg">
        <div class="form-group">
          <label for="type">
            {{ "formBuilder.typeUser" | translate }}
            <span class="text-danger">(*)</span>
          </label>
          <select
            class="form-control"
            [ngClass]="displayFieldCss('type')"
            id="type"
            formControlName="type"
            aria-describedby="type"
            (change)="users = []"
          >
            <option [ngValue]="null">
              {{ "inputs.optionSelect" | translate }}
            </option>
            <option value="12">
              {{ "select.supervisor" | translate }}
            </option>
            <option value="13">
              {{ "select.seller" | translate }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="getTypeNotNull()">
      <div class="col-12 col-sm-12 col-md col-lg">
        <div class="form-group">
          <label for="name">
            {{ "formBuilder.name" | translate }}
            <span class="text-danger">(*)</span>
          </label>
          <input
            type="text"
            class="form-control"
            id="name"
            maxlength="90"
            formControlName="name"
            aria-describedby="name"
            placeholder=""
            (focus)="filterEnabled = true"
            (keyup)="filterReseller()"
          />
        </div>
      </div>
    </div>
    <div class="row" *ngIf="filterEnabled">
      <div class="col-12 col-sm-12 col-md col-lg">
        <ul class="nav flex-column">
          <li class="nav-item" *ngFor="let user of users">
            <a
              class="nav-link active"
              href="javascript:void(0)"
              (click)="onChangeUser(user.id)"
            >
              {{ user.person.name }}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <ng-container [ngSwitch]="submitted">
        <ng-template [ngSwitchCase]="true">
          <div class="col col-md col-lg text-center">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </ng-template>
        <ng-template [ngSwitchCase]="false">
          <div class="col col-md col-lg">
            <button type="submit" class="btn btn-primary btn-block">
              {{ "formButton.save" | translate }}
            </button>
          </div>
        </ng-template>
      </ng-container>
    </div>
  </form>
</section>
