<form (ngSubmit)="onSubmit()" [formGroup]="package">
  <div class="row">
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <label for="type">
          {{ "formBuilder.typePackage" | translate }}
          <span class="text-danger">(*)</span>
        </label>
        <select
          class="form-control"
          [ngClass]="displayFieldCss('type')"
          id="type"
          formControlName="type"
          aria-describedby="type"
          (change)="getProductsByType()"
        >
          <option [ngValue]="null">
            {{ "inputs.optionSelect" | translate }}
          </option>
          <option [ngValue]="type.id" *ngFor="let type of types">
            {{ type.name }}
          </option>
        </select>
        <cml-validations
          *ngIf="isFieldValid('type')"
          [errorMsg]="validations('formBuilder.typePackage')"
        >
        </cml-validations>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <label for="name">
          {{ "formBuilder.name" | translate }}
          <span class="text-danger">(*)</span>
        </label>
        <select
          class="form-control"
          [ngClass]="displayFieldCss('name')"
          id="name"
          formControlName="name"
          aria-describedby="name"
          (change)="getProductsByName()"
        >
          <option [ngValue]="null">
            {{ "inputs.optionSelect" | translate }}
          </option>
          <option [ngValue]="package.name" *ngFor="let package of packages">
            {{ package.name }}
          </option>
        </select>
        <cml-validations
          *ngIf="isFieldValid('name')"
          [errorMsg]="validations('formBuilder.name')"
        >
        </cml-validations>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md col-lg">
      <div class="form-group">
        <label for="description"
          >{{ "formBuilder.description" | translate }}
          <span class="text-danger">(*)</span></label
        >
        <select
          class="form-control"
          [ngClass]="displayFieldCss('description')"
          id="description"
          formControlName="description"
          aria-describedby="description"
          (change)="setPackageId()"
        >
          <option [ngValue]="null">
            {{ "inputs.optionSelect" | translate }}
          </option>
          <option
            [ngValue]="description.id"
            *ngFor="let description of descriptions"
          >
            {{ description.description }}
          </option>
        </select>
        <cml-validations
          *ngIf="isFieldValid('description')"
          [errorMsg]="validations('formBuilder.description')"
        >
        </cml-validations>
      </div>
    </div>
  </div>
  <section *ngIf="showInformation || isEditing">
    <div class="row">
      <div class="col-12 col-sm-12 col-md col-lg" *ngIf="toggleTypeInch()">
        <div class="form-group">
          <label for="inch"
            >{{ "formBuilder.inch" | translate }}
            <span class="text-danger">(*)</span></label
          >
          <input
            type="number"
            pattern="[0-9]*"
            inputmode="numeric"
            class="form-control"
            [ngClass]="displayFieldCss('inch')"
            id="inch"
            maxlength="120"
            formControlName="inch"
            aria-describedby="inch"
            placeholder=""
            (blur)="maxInch()"
          />
          <cml-validations
            *ngIf="isFieldValid('inch')"
            [errorMsg]="validations('formBuilder.inch')"
          >
          </cml-validations>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md col-lg">
        <div class="form-group">
          <label for="weight">
            {{ "formBuilder.weight" | translate }}
            <span class="text-danger">(*)</span>
          </label>
          <input
            type="number"
            pattern="[0-9]*"
            inputmode="numeric"
            class="form-control"
            [ngClass]="displayFieldCss('weight')"
            id="weight"
            maxlength="120"
            formControlName="weight"
            aria-describedby="weight"
            placeholder=""
            (blur)="maxWeight()"
          />
          <cml-validations
            *ngIf="isFieldValid('weight')"
            [errorMsg]="validations('formBuilder.weight')"
          >
          </cml-validations>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md col-lg">
        <div class="form-group">
          <label for="type_content"
            >{{ "formBuilder.typeContent" | translate }}
            <span class="text-danger">(*)</span></label
          >
          <select
            class="form-control"
            [ngClass]="displayFieldCss('type_content')"
            id="type_content"
            formControlName="type_content"
            aria-describedby="type_content"
          >
            <option [ngValue]="null">
              {{ "inputs.optionSelect" | translate }}
            </option>
            <option [ngValue]="content.id" *ngFor="let content of typeContent">
              {{ content.name }}
            </option>
          </select>
          <cml-validations
            *ngIf="isFieldValid('type_content')"
            [errorMsg]="validations('formBuilder.typeContent')"
          >
          </cml-validations>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md col-lg">
        <div class="form-group">
          <label for="shipping_type"
            >{{ "formBuilder.shippingType" | translate }}
            <span class="text-danger">(*)</span></label
          >
          <select
            class="form-control"
            [ngClass]="displayFieldCss('shipping_type')"
            id="shipping_type"
            formControlName="shipping_type"
            aria-describedby="shipping_type"
          >
            <option [ngValue]="null">
              {{ "inputs.optionSelect" | translate }}
            </option>
            <option [ngValue]="1">{{ "select.home" | translate }}</option>
            <option [ngValue]="2">{{ "select.happen" | translate }}</option>
          </select>
          <cml-validations
            *ngIf="isFieldValid('shipping_type')"
            [errorMsg]="validations('formBuilder.shippingType')"
          >
          </cml-validations>
        </div>
      </div>
    </div>
    <section *ngIf="getTypeMesseger()">
      <div class="row">
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <label for="declared"
              >{{ "formBuilder.declared" | translate }}
              <span class="text-danger">(*)</span></label
            >
            <input
              #declaredValue
              type="number"
              inputmode="decimal"
              ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
              class="form-control"
              [ngClass]="displayFieldCss('declared')"
              id="declared"
              formControlName="declared"
              aria-describedby="declared"
              placeholder=""
              (blur)="minInsured()"
            />
            <cml-validations
              *ngIf="isFieldValid('declared')"
              [errorMsg]="validations('formBuilder.declared')"
            >
            </cml-validations>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <label for="insured_value"
              >{{ "formBuilder.insuredValue" | translate }}
              <span class="text-danger">(*)</span></label
            >
            <input
              #insuredValue
              type="number"
              pattern="[0-9]*"
              inputmode="numeric"
              class="form-control"
              [ngClass]="displayFieldCss('insured_value')"
              id="insured_value"
              formControlName="insured_value"
              aria-describedby="insured_value"
              placeholder=""
              (blur)="maxInsuredValue()"
            />
            <cml-validations
              *ngIf="isFieldValid('insured_value')"
              [errorMsg]="validations('formBuilder.insuredValue')"
            >
            </cml-validations>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <label for="long"
              >{{ "formBuilder.long" | translate }}
              <span class="text-danger">(*)</span></label
            >
            <input
              type="number"
              pattern="[0-9]*"
              inputmode="numeric"
              class="form-control"
              [ngClass]="displayFieldCss('long')"
              id="long"
              formControlName="long"
              aria-describedby="long"
            />
            <cml-validations
              *ngIf="isFieldValid('long')"
              [errorMsg]="validations('formBuilder.long')"
            >
            </cml-validations>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <label for="high"
              >{{ "formBuilder.high" | translate }}
              <span class="text-danger">(*)</span></label
            >
            <input
              type="number"
              pattern="[0-9]*"
              inputmode="numeric"
              class="form-control"
              [ngClass]="displayFieldCss('high')"
              id="high"
              formControlName="high"
              aria-describedby="high"
            />
            <cml-validations
              *ngIf="isFieldValid('high')"
              [errorMsg]="validations('formBuilder.high')"
            >
            </cml-validations>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md col-lg">
          <div class="form-group">
            <label for="width"
              >{{ "formBuilder.width" | translate }}
              <span class="text-danger">(*)</span></label
            >
            <input
              type="number"
              pattern="[0-9]*"
              inputmode="numeric"
              class="form-control"
              [ngClass]="displayFieldCss('width')"
              id="width"
              formControlName="width"
              aria-describedby="width"
            />
            <cml-validations
              *ngIf="isFieldValid('width')"
              [errorMsg]="validations('formBuilder.width')"
            >
            </cml-validations>
          </div>
        </div>
      </div>
    </section>
    <div class="row" *ngIf="toggleApplyPackage()">
      <div class="col-12 col-sm-12 col-md col-lg">
        <div class="form-group">
          <label for="apply">{{ "formBuilder.apply" | translate }}</label>
          <div class="form-group">
            <div class="bg-light p-3 text-dark d-flex rounded">
              <div class="">
                <input
                  type="checkbox"
                  id="insurance"
                  formControlName="insurance"
                  aria-describedby="insurance"
                  [checked]="getInsuranceChecked()"
                  (click)="changeInsurance()"
                />
                <label for="insurance" class="mx-2">{{
                  "formBuilder.insurance" | translate
                }}</label>
              </div>
              <div class="">
                <input
                  type="checkbox"
                  id="impost"
                  formControlName="impost"
                  aria-describedby="impost"
                  [checked]="getImpostChecked()"
                  (click)="changeImpost()"
                />
                <label for="impost" class="mx-2">{{
                  "formBuilder.impost" | translate
                }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="toggleFileTypeCommercial()">
      <div class="col-12 col-sm-12 col-md col-lg">
        <div class="form-group">
          <label for="file">
            {{ "formBuilder.fileTypeCommercial" | translate }}
          </label>
          <input
            type="file"
            class="form-control-file"
            [ngClass]="displayFieldCss('file')"
            id="file"
            formControlName="file"
            aria-describedby="file"
            accept="image/*,application/pdf"
            (change)="onFileChanged($event)"
          />
          <cml-validations
            *ngIf="isFieldValid('file')"
            [errorMsg]="validations('formBuilder.fileTypeCommercial')"
          >
          </cml-validations>
        </div>
      </div>
    </div>
    <div class="row">
      <div
        class="col-12 col-sm-12 col-md col-lg"
        *ngIf="
          (!!imageSrc && !!typeFile && typeFile !== 'application/pdf') ||
          (!!getFileExtension(imageSrc) && getFileExtension(imageSrc) !== 'pdf')
        "
      >
        <div class="form-group">
          <img [src]="imageSrc" class="img-fluid mw-15" />
        </div>
      </div>
      <div
        class="col-12 col-sm-12 col-md col-lg mb-2"
        *ngIf="getFileExtension(imageSrc) === 'pdf'"
      >
        <span class="text-primary pointer" (click)="openUrlLink(imageSrc)"
          >Ver PDF</span
        >
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md col-lg">
        <div class="form-group">
          <label for="content">
            {{ "formBuilder.content" | translate }}
            <span class="text-danger">(*)</span>
          </label>
          <textarea
            class="form-control"
            [ngClass]="displayFieldCss('content')"
            id="content"
            rows="3"
            formControlName="content"
            aria-describedby="content"
            placeholder=""
          ></textarea>
          <cml-validations
            *ngIf="isFieldValid('content')"
            [errorMsg]="validations('formBuilder.content')"
          >
          </cml-validations>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-md col-lg">
        <button type="submit" class="btn btn-primary float-right">
          <cml-loading-button [loading]="submitted"></cml-loading-button>
          {{ submitted ? "" : ("formButton.quote" | translate) }}
        </button>
      </div>
    </div>
  </section>
</form>
