<ng-template #ngbPayment let-ngmodal>
  <cml-modal
    title="{{ 'cardContent.invoice' | translate }}"
    [size]="true"
    (onClose)="onCloseNgbModal()"
  >
    <cml-checkout
      [user]="user"
      [agencies]="agencies"
      [quotes]="quotes"
      [payforCML]="false"
      [latitude]="latitude"
      [longitude]="longitude"
      (refreshAgencyId)="refreshAgencyId($event)"
      (setInvoiceByCML)="setInvoiceByCML($event)"
      (setInvoiceByAgency)="setInvoiceByAgency($event)"
    ></cml-checkout>
  </cml-modal>
</ng-template>

<div class="row justify-content-center">
  <div class="col col-md col-lg">
    <div class="container bg-white rounded shadow">
      <div class="table-responsive">
        <table class="table table-fixeded table-striped mx-auto">
          <thead>
            <tr>
              <th colspan="6" class="border-top-0">
                <span class="text-uppercase">
                  {{ "tableTitle.collectedPackages" | translate }}
                </span>
                <button
                  class="btn btn-primary btn-sm float-right"
                  (click)="setInvoiceQuotes(ngbPayment)"
                  *ngIf="!!quotes && quotes.length > 0"
                >
                  {{ "buttonText.invoice" | translate }}
                </button>
              </th>
            </tr>
            <tr>
              <th class="bg-table" scope="col">
                {{ "tableRender.tracking" | translate }}
              </th>
              <th class="bg-table" scope="col" *ngIf="user.tier !== 5">
                {{ "tableRender.agency" | translate }}
              </th>
              <th class="bg-table" scope="col">
                {{ "tableRender.origin" | translate }}
              </th>
              <th class="bg-table" scope="col">
                {{ "tableRender.destiny" | translate }}
              </th>
              <th class="bg-table" scope="col">
                {{ "tableRender.packQuantity" | translate }}
              </th>
              <th class="bg-table" scope="col">
                {{ "tableRender.total" | translate }}
              </th>
            </tr>
            <tr *ngIf="isLoading">
              <th colspan="6">
                <cml-loading
                  [loading]="isLoading"
                  color="text-primary"
                ></cml-loading>
              </th>
            </tr>
            <tr *ngIf="!isLoading && (!quotes || quotes.length === 0)">
              <th colspan="6">
                {{ "tableLength.packages" | translate }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let quote of quotes; let key = index">
              <th class="align-center" scope="row">
                {{ quote.alphanumeric }}
              </th>
              <td class="align-center" *ngIf="!!user && user.tier != 5">
                <span
                  class="d-inline-block text-truncate"
                  style="width: 125px"
                  data-toggle="tooltip"
                  [title]="nameAgency(quote.user)"
                >
                  {{ nameAgency(quote.user) }}
                </span>
              </td>
              <td class="align-center">
                {{ getOriginName(quote) }}
              </td>
              <td class="align-center">
                {{ getCountryName(quote.country) }}
              </td>
              <td class="align-center">
                {{ quote.quantity_products }}
              </td>
              <td class="align-right">
                {{ quote.total_user | currency: "USD" }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
