.search-border {
  width: 80%;
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 25px;
  margin: auto;
  margin-bottom: 10px;
  padding: 8px;
  padding-left: 20px;
}

.input-search {
  border: none;
  width: 100%;
}

.input-search:focus {
  outline: 0px;
}

.content {
  &-select {
    width: 100%;
    display: flex;
  }
}

.country {
  &-select {
    width: 20%;
  }
}

.button-country {
  flex: auto;
}

.circle {
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.btn-floating {
  position: fixed;
  bottom: 10px;
  right: 20px;

  div {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: red;
    text-align: center;
    position: absolute;
    right: 7px;
    top: 3px;
    font-size: x-small;
  }
}

.btn-floating-user {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 75px;

  div {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: red;
    text-align: center;
    position: absolute;
    right: 7px;
    top: 3px;
    font-size: x-small;
  }
}

.float-back {
  position: fixed;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
  width: 47px;
  height: 47px;
  top: 10px;
  right: 20px;
  padding-top: 9px;
}

.float {
  top: 7px;
  right: 15px;
}
