<div class="table-responsive d-none d-sm-none d-md-block d-lg-block d-xl-block">
  <table class="table shadow table-bordered table-striped">
    <thead>
      <tr>
        <th colspan="8" class="text-uppercase">
          {{ "cardContent.charges" | translate }}
        </th>
      </tr>
      <tr>
        <th class="bg-table" scope="col">
          {{ "tableRender.hashtag" | translate }}
        </th>
        <th class="bg-table" scope="col">
          {{ "tableRender.price" | translate }}
        </th>
        <th class="bg-table" scope="col">
          {{ "tableRender.impost" | translate }}
        </th>
        <th class="bg-table" scope="col">
          {{ "tableRender.insurance" | translate }}
        </th>
        <th class="bg-table" scope="col">
          {{ "tableRender.crossing" | translate }}
        </th>
        <th class="bg-table" scope="col">
          {{ "tableRender.nationalization" | translate }}
        </th>
        <th class="bg-table" scope="col">
          {{ "tableRender.totalToPay" | translate }}
        </th>
        <th class="bg-table" scope="col">
          {{ "tableRender.actions" | translate }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="havePackages()">
        <td colspan="9">{{ "tableLength.charges" | translate }}</td>
      </tr>
      <tr *ngFor="let charge of charges; let key = index">
        <td>{{ key + 1 }}</td>
        <td>{{ charge.price | currency: "USD" }}</td>
        <td>{{ charge.impost | currency: "USD" }}</td>
        <td>{{ charge.insurance | currency: "USD" }}</td>
        <td>{{ charge.crossing | currency: "USD" }}</td>
        <td>{{ charge.nationalization | currency: "USD" }}</td>
        <td>{{ charge.cost | currency: "USD" }}</td>
        <td class="text-center">
          <button
            type="button"
            class="btn btn-primary mx-1 btn-sm"
            (click)="shouldToggleWatch(key)"
          >
            <i class="fa fa-eye"></i>
          </button>
          <button
            type="button"
            class="btn btn-primary mx-1 btn-sm"
            (click)="shouldToggleUpdate(key)"
          >
            <i class="fa fa-edit"></i>
          </button>
          <button
            type="button"
            class="btn btn-danger mx-1 btn-sm"
            (click)="shouldToggleDelete(key)"
          >
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div
  class="list-group-charges d-block d-sm-block d-md-none d-lg-none d-xl-none"
>
  <ul
    class="list-group shadow-sm my-2"
    *ngFor="let charge of charges; let key = index"
  >
    <li class="list-group-item">
      {{ "tableRender.hashtag" | translate }}:
      <span class="float-right">{{ key + 1 }}</span>
    </li>
    <li class="list-group-item">
      {{ "tableRender.price" | translate }}:
      <span class="float-right">{{ charge.price | currency: "USD" }}</span>
    </li>
    <li class="list-group-item">
      {{ "tableRender.impost" | translate }}:
      <span class="float-right">{{ charge.impost | currency: "USD" }}</span>
    </li>
    <li class="list-group-item">
      {{ "tableRender.insurance" | translate }}:
      <span class="float-right">{{ charge.insurance | currency: "USD" }}</span>
    </li>
    <li class="list-group-item">
      {{ "tableRender.crossing" | translate }}:
      <span class="float-right">{{ charge.crossing | currency: "USD" }}</span>
    </li>
    <li class="list-group-item">
      {{ "tableRender.nationalization" | translate }}:
      <span class="float-right">{{
        charge.nationalization | currency: "USD"
      }}</span>
    </li>
    <li class="list-group-item">
      {{ "tableRender.totalToPay" | translate }}:
      <span class="float-right">{{ charge.cost | currency: "USD" }}</span>
    </li>
    <li class="list-group-item text-center">
      <button
        type="button"
        class="btn btn-primary mx-1 btn-sm"
        (click)="shouldToggleWatch(key)"
      >
        <i class="fa fa-eye"></i>
      </button>
      <button
        type="button"
        class="btn btn-primary mx-1 btn-sm"
        (click)="shouldToggleUpdate(key)"
      >
        <i class="fa fa-edit"></i>
      </button>
      <button
        type="button"
        class="btn btn-danger mx-1 btn-sm"
        (click)="shouldToggleDelete(key)"
      >
        <i class="fa fa-trash"></i>
      </button>
    </li>
  </ul>
</div>
