//
// Variables
//

// Global settings

$enable-caret: true !default;
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;

// Import Bootstrap variable defaults

@import "../../../node_modules/bootstrap/scss/variables";

// Colors

$grey: #808080;
$grey-light: #d3d3d3;
$blue-cyan: #def2fe;
$pink: #cf5a5f;
$green: #28a745;
$black: #000;
