//
// Forms
//

.invalid-feedback {
  display: block !important;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.table {
  .form-check-input {
    position: relative;
  }
}
