<ng-template #ngbPackage let-ngmodal>
  <cml-modal
    title="{{ 'cardContent.packages' | translate }}"
    [size]="true"
    (onClose)="onCloseNgbModal()"
  >
    <cml-package
      [contents]="contents"
      [package]="package"
      [types]="types"
      [objTypes]="objTypes"
      [isEditing]="isEditing"
      [imageSrc]="imageSrc"
      [countryId]="countryId"
      [isLocker]="isLocker"
      [membershipType]="membershipType"
      (setImageSrc)="setImageSrc($event)"
      (setCharge)="setCharge($event)"
      (onClose)="onCloseNgbModal()"
    ></cml-package>
  </cml-modal>
</ng-template>

<ng-template #ngbSearch let-ngmodal>
  <cml-modal
    title="{{ 'cardContent.searchReceiver' | translate }}"
    [size]="true"
    (onClose)="onCloseNgbModal()"
  >
    <cml-search
      [countryId]="countryId"
      (setReceiver)="setReceiver($event)"
      (onCloseNgbModal)="onCloseNgbModal()"
    ></cml-search>
  </cml-modal>
</ng-template>

<ng-template #ngbUser let-ngmodal>
  <cml-modal
    (title)="shippingTypeName()"
    [size]="true"
    (onClose)="onCloseNgbModal()"
  >
    <cml-tier
      [userTier]="userTier"
      [userTierUpdate]="userTierUpdate"
      [userForm]="user"
      [isLocker]="isLocker"
      [countryId]="countryId"
      [countries]="countries"
      (setUser)="setUser($event)"
      (onClose)="onCloseNgbModal()"
    ></cml-tier>
  </cml-modal>
</ng-template>

<ng-template #ngbCharge let-ngmodal>
  <cml-modal
    [title]="getNamePackage()"
    [size]="true"
    (onClose)="onCloseNgbModal()"
  >
    <cml-watch [charge]="charge"></cml-watch>
  </cml-modal>
</ng-template>

<section *ngIf="step === 1">
  <div class="row justify-content-start">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="card shadow my-1">
        <div class="card-body">
          <h5 class="card-title text-uppercase">
            {{ "cardContent.country" | translate }}
          </h5>

          <div class="row mb-2">
            <div class="col-12 col-sm-12 col-md col-lg">
              <small class="text-danger">
                {{ "helpForm.countryForm" | translate }}
              </small>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-sm-12 col-md col-lg">
              <div class="form-group">
                <label for="countryId">
                  {{ "formBuilder.country" | translate }}
                  <span class="text-danger">(*)</span>
                </label>
                <select
                  class="form-control"
                  id="countryId"
                  [(ngModel)]="countryId"
                  aria-describedby="countryId"
                  [disabled]="!!charges && charges.length > 0"
                  (change)="getPackagesByCountry(countryId)"
                >
                  <option [ngValue]="null">
                    {{ "inputs.optionSelect" | translate }}
                  </option>
                  <option
                    [ngValue]="country.id"
                    *ngFor="let country of getCountriesWithPackages(countries)"
                  >
                    {{ country.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row mx-2" *ngIf="onToggleByType()">
            <div class="col-12 col-sm-12 col-md col-lg">
              <input
                id="locker"
                type="checkbox"
                class="form-check-input"
                [(ngModel)]="isLocker"
                (change)="onChangeLocker()"
              />
              <label for="locker" class="mx-2">
                {{ "formBuilder.locker" | translate }}
              </label>
            </div>
          </div>

          <div class="row" *ngIf="countryId">
            <div class="col-12 col-sm-12 col-md col-lg">
              <div class="my-2">
                <span class="float-right" *ngIf="!!charges && charges.length">
                  <button
                    type="button"
                    class="btn btn-primary text-uppercase mx-2 btn-sm"
                    (click)="onStep(2)"
                  >
                    {{ "buttonText.generate" | translate }}
                    <span class="mx-1">
                      <i class="fa fa-check-double"></i>
                    </span>
                  </button>
                </span>
                <span class="float-right" *ngIf="!!isLocker && !receiver">
                  <button
                    type="button"
                    class="btn btn-primary text-uppercase mx-2 btn-sm"
                    (click)="onSearchLocker(ngbSearch)"
                  >
                    {{ "buttonText.searchLocker" | translate }}
                  </button>
                </span>
                <span
                  class="float-right"
                  *ngIf="!isLocker || (!!isLocker && !!receiver)"
                >
                  <button
                    type="button"
                    class="btn btn-primary text-uppercase mx-2 btn-sm"
                    (click)="isTogglePackage(ngbPackage)"
                  >
                    {{ "buttonText.loadPackage" | translate }}
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-3" *ngIf="!!charges && charges.length > 0">
    <div class="col-12 col-sm-12 col-md col-lg">
      <cml-charges
        [charges]="charges"
        (onWatchCharge)="onWatchCharge(ngbCharge, $event)"
        (onDeleteChargeByKey)="onDeleteChargeByKey($event)"
        (onUpdateCharge)="onUpdateCharge(ngbPackage, $event)"
      ></cml-charges>
    </div>
  </div>
</section>

<section *ngIf="step === 2">
  <div class="row justify-content-around">
    <div class="col-12 col-sm-12 col-md col-lg">
      <cml-remitter
        [countryId]="countryId"
        [countries]="countries"
        [agencies]="agencies"
        [remitter]="remitter"
        [user]="currentUser"
        (isToggleCreateRemitter)="isToggleCreateRemitter(ngbUser)"
        (setNullRemitter)="setNullRemitter()"
        (setRemitter)="setRemitter($event)"
        (isToggleUpdateRemitter)="isToggleUpdateRemitter(ngbUser)"
      ></cml-remitter>
    </div>
    <div class="col-12 col-sm-12 col-md col-lg">
      <cml-receiver
        [countryId]="countryId"
        [countries]="countries"
        [receiver]="receiver"
        [isLocker]="isLocker"
        (isToggleCreateReceiver)="isToggleCreateReceiver(ngbUser)"
        (setNullReceiver)="setNullReceiver()"
        (setReceiver)="setReceiver($event)"
        (isToggleUpdateReceiver)="isToggleUpdateReceiver(ngbUser)"
      ></cml-receiver>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md col-lg">
      <button
        type="button"
        class="btn btn-danger text-uppercase my-2 btn-sm"
        (click)="onStep(1)"
      >
        <span class="mx-1">
          <i class="fa fa-arrow-left"></i>
        </span>
        {{ "buttonText.before" | translate }}
      </button>
      <button
        type="button"
        class="btn btn-primary float-right text-uppercase my-2 btn-sm"
        (click)="onStep(3)"
        [disabled]="!remitter || !receiver || countryId !== receiver.country_id"
      >
        {{ "buttonText.after" | translate }}
        <span class="mx-1">
          <i class="fas fa-arrow-right"></i>
        </span>
      </button>
    </div>
  </div>
</section>
<section *ngIf="step === 3">
  <cml-preview
    [charges]="charges"
    [isLocker]="isLocker"
    [submitted]="submitted"
    [remitter]="remitter"
    [receiver]="receiver"
    (onStep)="onStep($event)"
  ></cml-preview>
</section>
<section *ngIf="step === 4">
  <div class="row justify-content-center">
    <div class="card">
      <div class="card-header">
        {{ "cardHeader.signature" | translate }}
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col col-md">
            <label for="signature"
              >{{ "formBuilder.name" | translate }}
              <span class="text-danger">(*)</span></label
            >
            <div class="form-group">
              <input
                id="signature"
                type="text"
                ngClass="form-control"
                [(ngModel)]="signature"
                name="signature"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-md">
            <div class="form-group">
              <signature-pad
                #signaturePad
                [options]="signatureConfig"
                (onEndEvent)="onDrawComplete()"
              ></signature-pad>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-md col-lg text-center" *ngIf="submitted">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="col col-md" *ngIf="!submitted">
            <div class="form-group">
              <button
                type="button"
                class="btn btn-danger m-2 float-right"
                (click)="onDrawClear()"
              >
                {{ "formButton.clear" | translate }}
              </button>
              <button
                type="button"
                class="btn btn-primary m-2 float-right"
                (click)="onSubmit()"
              >
                {{ "formButton.save" | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section *ngIf="step === 5">
  <cml-tag
    [quote]="quote"
    [isLocker]="isLocker"
    (setValuesDefault)="setValuesDefault()"
  ></cml-tag>
</section>
