<div class="page-wrapper" [ngClass]="{ toggled: getSideBarState() }">
  <cml-sidebar></cml-sidebar>
  <main class="page-content">
    <div class="container-fluid">
      <nav class="fixed my-2" aria-label="breadcrumb">
        <a class="btn btn-primary text-white circle" (click)="toggleSidebar()">
          <i class="fas fa-bars"></i>
        </a>
      </nav>
      <router-outlet> </router-outlet>
    </div>
    <!-- Message -->
    <a
      class="btn btn-primary text-white btn-floating circle"
      [ngClass]="{ float: getIconByUrl() }"
      (click)="goToChats()"
      *ngIf="toggleButtonByTierId(1)"
    >
      <div
        class="text font-weight-bold text-white"
        *ngIf="!!messages && !getIconByUrl()"
      >
        {{ messages > 0 ? messages : "" }}
      </div>
      <i class="fa fa-comments" *ngIf="!getIconByUrl()"></i>
      <i class="fa fa-arrow-left" *ngIf="getIconByUrl()"></i>
    </a>
    <!-- Overlay -->
    <div
      class="overlay"
      (click)="toggleSidebar()"
      [ngClass]="{ show: !getSideBarState() }"
    ></div>
  </main>
</div>
