<div class="container">
  <ng-template #ngbTracking let-ngmodal>
    <cml-modal
      title="{{ 'cardContent.packages' | translate }}"
      [size]="true"
      (onClose)="onCloseNgbModal()"
    >
      <cml-timeline
        [tracking]="tracking"
        [tier]="tier"
        [locationVisibility]="locationVisibility"
      ></cml-timeline>
    </cml-modal>
  </ng-template>

  <div class="wrapper-content align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-5 col-lg-5" *ngIf="isLoading">
          <section class="text-center">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </section>
        </div>
        <div class="col col-md col-lg" *ngIf="!isLoading">
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th class="bg-table" scope="col">
                    {{ "tableRender.date" | translate }}
                  </th>
                  <th class="bg-table" scope="col">
                    {{ "tableRender.countryOrigin" | translate }}
                  </th>
                  <th class="bg-table" scope="col">
                    {{ "tableRender.remitter" | translate }}
                  </th>
                  <th class="bg-table" scope="col">
                    {{ "tableRender.countryDestiny" | translate }}
                  </th>
                  <th class="bg-table" scope="col">
                    {{ "tableRender.receiver" | translate }}
                  </th>
                  <th class="bg-table" scope="col">
                    {{ "tableRender.packages" | translate }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  class="pointer"
                  *ngFor="let charge of shipment.charge; let key = index"
                  (click)="isToggleTracking(ngbTracking, key)"
                >
                  <td class="text-center" scope="row">
                    {{ shipment.es_date }}
                  </td>
                  <td class="text-center" scope="row">
                    {{ getOriginName(shipment) }}
                  </td>
                  <td class="text-center" scope="row">
                    {{ shipment.remitter.person.name }}
                  </td>
                  <td class="text-center" scope="row">
                    {{ getCountryName(shipment.country) }}
                  </td>
                  <td class="text-center" scope="row">
                    {{ shipment.receiver.person.name }}
                  </td>
                  <td class="text-center" scope="row">
                    {{ keyIncrement(key) + "/" + shipment.quantity_products }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
