<section>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="form-group">
        <input
          type="file"
          class="form-control-file"
          id="file"
          [(ngModel)]="file"
          aria-describedby="file"
          (change)="onFileChanged($event)"
        />
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!!files.length">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card my-2" *ngFor="let file of files">
        <div
          class="card-body d-flex align-items-center justify-content-between"
        >
          <div class="col-photo">
            <img
              [src]="file.url"
              alt=""
              class="img-fluid"
              width="175"
              height="95"
            />
          </div>
          <button
            type="button"
            class="btn btn-danger btn-sm"
            (click)="shouldDelete(file.id)"
          >
            <i class="fa fa-trash text-white"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row py-2">
    <ng-container [ngSwitch]="isSubmitted">
      <ng-template [ngSwitchCase]="true">
        <div class="col col-md col-lg text-center">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </ng-template>
      <ng-template [ngSwitchCase]="false">
        <div class="col col-md mx-auto text-right">
          <button
            type="button"
            class="btn btn-primary text-uppercase"
            (click)="shouldUploadImages()"
          >
            {{ "buttonText.save" | translate }}
          </button>
        </div>
      </ng-template>
    </ng-container>
  </div>
</section>
