<nav id="sidebar" class="sidebar">
  <div class="sidebar-content">
    <perfect-scrollbar>
      <div class="sidebar-header">
        <a routerLink="/dashboard" (click)="collapse()">cmlexports</a>
      </div>

      <div class="sidebar-profile">
        <div class="user-pic">
          <img
            class="img-responsive img-rounded"
            [src]="
              !!user && user.person.image
                ? user.person.image_url
                : '../assets/img/user.jpg'
            "
            alt="User picture"
          />
        </div>
        <div class="user-info" *ngIf="!!user">
          <span class="user-name">
            <strong>{{ user.person?.name }}</strong>
          </span>
          <span class="user-role">{{ gerNameTier() }}</span>
        </div>
      </div>
      <div class="sidebar-menu" *ngIf="!isLoading">
        <ul>
          <li
            *ngFor="let module of modules"
            [ngClass]="{
              active: module.active,
              'sidebar-dropdown': module.type === 'dropdown',
              'header-menu': module.type === 'header'
            }"
          >
            <span *ngIf="module.type === 'header'">{{ module.name }}</span>
            <a
              class="pointer"
              *ngIf="module.type !== 'header' && module.type !== 'simple'"
              (click)="toggle(module)"
            >
              <i class="{{ module.icon }}"></i>
              <span>
                {{ module.name }}
              </span>
              <span
                class="badge badge-primary"
                *ngIf="module.name == support && badge"
              >
                {{ "submodules.newMessage" | translate }}
              </span>
            </a>
            <div
              *ngIf="module.type === 'dropdown'"
              class="sidebar-submenu"
              [@slide]="getState(module)"
            >
              <ul>
                <li *ngFor="let submenu of module.sub_module">
                  <a
                    [routerLink]="submenu.path"
                    (click)="collapse(module, submenu.path)"
                  >
                    {{ submenu.name }}
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li ngClass="header-menu mt-4">
            <a [routerLink]="" (click)="logout()">
              <i class="fa fa-power-off"></i>
              {{ "modules.logout" | translate }}
            </a>
          </li>
        </ul>
      </div>
    </perfect-scrollbar>
  </div>
</nav>
